{% verbatim %}
    <div class="profile-my-bills-list">
        <div class="row tab-title">
            <div class="col s6 title-lato">My Bills</div>
        </div>

        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <!-- Populate Bills list -->
                    <div class="subtitle-lato">Bills I support</div>
                    <div class="row">
                        <ul class="list-group">
                            {{# _.each(this.model.get('my_bills').supported_bills, function (bill, index) { }}
                            <li class="list-group-item support-bill-elem" id="support-bill-{{ index }}">
                                <a href="{{ bill.congress_url }}" target="_blank">{{ bill.title }}</a>
                            </li>
                            {{# }, this); }}
                        </ul>
                        {{# if (this.model.get('my_bills').supported_bills.length > 3) { }}
                        <button type="button" class="support-button btn btn-light" onclick="showButtonAction('support')">Show more</button>
                        {{# } }}
                    </div>
                    <div class="subtitle-lato">Bills I oppose</div>
                    <div class="row">
                        <ul class="list-group">
                            {{# _.each(this.model.get('my_bills').opposed_bills, function (bill, index) { }}
                            <li class="list-group-item oppose-bill-elem" id="oppose-bill-{{ index }}">
                                <a href="{{ bill.congress_url }}" target="_blank">{{ bill.title }}</a>
                            </li>
                            {{# }, this); }}
                        </ul>
                        {{# if (this.model.get('my_bills').opposed_bills.length > 3) { }}
                        <button type="button" class="oppose-button btn btn-light" onclick="showButtonAction('oppose')">Show more</button>
                        {{# } }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endverbatim %}


<script>
    var isSupportBillCollapsed = true;
    var isOpposedBillCollapsed = true;

    showAppropriateElements("oppose", isSupportBillCollapsed);
    showAppropriateElements("support", isSupportBillCollapsed);

    function showAppropriateElements(billType, isListCollapsed) {
        /**
         * Shows elements from billType list depending on isListCollapsed param
         * if isListCollapsed param is true shows only 3 elements and hide the rest
         * is isListCollapsed param is false shows all of elements
       */
        var allElements = $('.' + billType +'-bill-elem');
        var elementsToShow = allElements.filter(function() {
            if(!isListCollapsed) {
                return true;
            }
           return parseInt(this.id.replace(billType + '-bill-',''), 10) < 3;
        });
        allElements.hide();
        elementsToShow.show();
    }

    function modifyButtonAfterAction(billType) {
        /**
         * Changes button text based on the fact if list of bills is collapsed or not
         */

        if(billType === "oppose") {
            isOpposedBillCollapsed = !isOpposedBillCollapsed;
            variableToTrack = isOpposedBillCollapsed
        } else {
            isSupportBillCollapsed = !isSupportBillCollapsed;
            variableToTrack = isSupportBillCollapsed
        }
        var button = $("." + billType + "-button");
        if(variableToTrack){
            button.text('Show more')
        } else {
            button.text('Show less')
        }
    }

    function showButtonAction(billType) {
        /**
         * Shows or hides element depending on current button and list state
         */
        modifyButtonAfterAction(billType);
        var variableToTrack = isOpposedBillCollapsed;
        if(billType === "support"){
            variableToTrack = isSupportBillCollapsed;
        }
        showAppropriateElements(billType, variableToTrack)
    }
</script>
