{% load i18n %}
{% verbatim %}
<div class="profile-civi-list col s12">
    <div class="row tab-title">
        <div class="col s6 title-lato">My Civi Activity</div>
        <!-- <div class="sort-options col s2 push-s4 section">
            <label>View By:</label>
            <select class="browser-default">
            <option value="1" selected>Recent</option>
            <option value="2">Popular</option>
            <option value="3">Top</option>
            </select>
        </div> -->
    </div>
    <!-- Populate Civi list -->
    <div class="row">
        {{# if (this.model.get('history').length > 0) { }}
            {{# _.each(this.model.get('history'), function (c) { }}
                {{= cw.underscorePartial('civi-template', JSON.parse(c))}}
            {{# }, this); }}
        {{# } else { }}
        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <div class="center title-lato text">NO CIVIS</div>
                </div>
            </div>
        </div>
        {{# } }}
    </div>
</div>
{% endverbatim %}
