{% load i18n %}
{% verbatim %}
<div class="row  tab-title">
    <div class="col s12 title-lato">Issues I care about</div>
</div>
<div class="row">

    {{# if (this.model.get('issues').length > 0) { }}
    {{# _.each(this.model.get('issues'), function (i) { }}
        {{= cw.underscorePartial('issue-template', i )}}
    {{# }, this); }}
    {{# } else { }}
    <div class="section no-state">
        <div class="container">
            <div class="section">
                <div class="center title-lato grey-text">NO ISSUES</div>
            </div>
        </div>
    </div>
    {{# } }}
</div>
{% endverbatim %}
