{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/about.less" %}"/>
{% endblock extra_css %}
    
{% block page_title %}{% trans "About Us" %}{% endblock page_title %}

{% block backbone_template %}
<script id="about-template" type="text/template">
<header>
    <div class="content-header center">
        <div class="container section">
            <h2 class="title">{% trans "About Us" %} </h2>
            <p class="description">{% trans "The team that is bringing you CiviWiki" %} </p>
        </div>
    </div>
    </header>
    <main>
    <div class="section white" style="padding: 100px 0;">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <h3 class="title">{% trans "Our Mission" %} </h3>
                    <div class="divider"></div>
                    <div class="col s12 m8 l10 offset-m2 offset-l1">
                        <h5 class="center">
                            {% trans "At CiviWiki we believe democracy works best when citizens are educated on issues and participate in the democratic process. We are a non-profit, non-partisan community; working to build an open-source platform where citizens discuss the problems they face, discover solutions, and petition their representatives to enact change. " %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey lighten-4" style="padding: 100px 0;">
        <div class="row">
            <div class="col s12 m8 l10 offset-m2 offset-l1 center">
                <h3 class="title">{% trans "Our Goals" %}</h3>
                <div class="divider"></div>
                <ul class="collapsible white" data-collapsible="accordion">
                    <li>
                    <div class='collapsible-header'>
                        <h5>{% trans "A Problem Solving Machine" %}</h5>
                    </div>
                    <div class='collapsible-body container'>
                        <p class='grey-text  text-darken-2'>{% trans "We are building a novel, multi-post, discussion platform which allows users to debate issues: why they should care about the issue; what causes the issue; and what policy solutions could solve it. This discussion is then filtered through the community, allowing everyone to rate their agreement with each piece of the debate. Then, the best solutions trend and foster an environment for community consensus to form."  %} </p>
                    </div>
                    </li>
                    <li>
                    <div class='collapsible-header'>
                        <h5>{% trans "Networked Leadership" %} </h5>
                    </div>
                    <div class='collapsible-body container'>
                        <p class='grey-text  text-darken-2'>{% trans "Anyone can join the debate, but most people just want a trustworthy place to learn about the issues. If you find an editor you tend to agree with, you can follow their account, starting to form your own political coalition, and helping to elevate the voices of community leaders. In time, these leaders may even earn the support necessary to become your representatives in government." %} </p>
                    </div>
                    </li>
                    <li>
                    <div class='collapsible-header'>
                        <h5>{% trans "Smart Petitioning" %}</h5>
                    </div>
                    <div class='collapsible-body container'>
                        <p class='grey-text  text-darken-2'>{% trans "Engaging CiviWiki’s discussion is more than simply becoming informed on the issues. We automatically package your support with other likeminded users and use that collective power to petition your representatives. Your representative then has the opportunity to respond to your petition with a voting statement that you can rate." %} </p>
                    </div>
                    </li>
                    <li>
                    <div class='collapsible-header'>
                        <h5>{% trans "Vote with Confidence" %} </h5>
                    </div>
                    <div class='collapsible-body container'>
                        <p class='grey-text  text-darken-2'>{% trans "Your rating history, including why you supported a policy, what policies you supported, and your rating of voting statements are all saved to your account. When elections approach, we compare your CiviWiki history to all potential candidates, helping you make an informed vote." %}  </p>
                    </div>
                    </li>
                    <li>
                    <div class='collapsible-header'>
                        <h5>{% trans "The Power of CiviWiki" %} </h5>
                    </div>
                    <div class='collapsible-body container'>
                        <p class='grey-text  text-darken-2'>{% trans "With traditional voting and petitioning, you vote for the candidate that you believe lines up with your values, and you hope they listen to reasonable petitions. In this process you give away your political power and only recover it the next election cycle. With CiviWiki, you make a credible claim of what factors will influence your next vote. And, since CiviWiki ensures you are reminded of these factors, you retain your voting power between elections. In other words, rather than trusting a politician to make choices for you, CiviWiki allows you to trust that your representative will listen to you.  We are better democracy for the internet age." %} </p>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="section white meet_team" id="team">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h3 class="title">{% trans "The Team" %} </h3>
                <div class="divider"></div>
                <h4 class="subtitle">{% trans "Active Contributors" %} </h4>
                <div class="row section">
                    <div class="col s12">
                        <div class="row">
                            <div class="col m4 s6">
                                <img class="profile-photo responsive-img" src="{% static "img/team/mitchell.png" %}">
                                <h5 class="grey-text text-darken-3">Mitchell West</h5>
                                <div class="team-title">{% trans "Executive Director" %} </div>
                                <p class="grey-text text-lighten-1">mitchell@civiwiki.org</p>
                            </div>
                            <div class="col m4 s6">
                                <img class="profile-photo responsive-img" src="{% static "img/team/joohee.png" %}">
                                <h5 class="grey-text text-darken-3">JooHee Lee</h5>
                                <div class="team-title">{% trans "Lead Developer" %} </div>
                                <p class="grey-text text-lighten-1">joohee@civiwiki.org</p>
                            </div>
                            <div class="col m4 s6">
                                    <img class="profile-photo responsive-img" src="{% static "img/team/brylie.png" %}">
                                <h5 class="grey-text text-darken-3">Brylie Christopher Oxley</h5>
                                <div class="team-title">{% trans "Project Manager" %} </div>
                                <p class="grey-text text-lighten-1">{% trans "No Public Email" %} </p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col m4 s6">
                                <img class="profile-photo responsive-img" src="{% static "img/team/gordon.png" %}">
                                <h5 class="grey-text text-darken-3">Gordon Stangler</h5>
                                <div class="team-title">{% trans "Developer" %} </div>
                                <p class="grey-text text-lighten-1">{% trans "No Public Email" %}</p>
                            </div>
                            <div class="col m4 s6">
                                    <img class="profile-photo responsive-img" src="{% static "img/no_image_face.png" %}">
                                <h5 class="grey-text text-darken-3">Joe Grassl</h5>
                                <div class="team-title">{% trans "Developer" %} </div>
                                <p class="grey-text text-lighten-1">{% trans "No Public Email" %}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section">
                    <div class="col s12 m6">
                        <h4 class="subtitle">{% trans "Board of Directors" %}</h4>
                        <ul>
                            <li>Laura Rosenbury</li>
                            <li>John Tao</li>
                            <li>Beth Dunklau</li>
                            <li>Paul Scheid</li>
                        </ul>

                </div>
                <div class="col s12 m6">
                        <h4 class="subtitle">{% trans "Resting Contributors" %} </h4>
                        <ul>
                            <li>Jon Sheldon</li>
                            <li>Dylan Reese</li>
                            <li>Dan Borstelmann</li>
                            <li>Darius Calliet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section grey lighten-4">
        <div class="container section">
            <div class="col s12 center">
                <h3 class="title">{% trans "Sponsors" %} </h3>
                <div class="divider"></div>
                <div class="container">
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <img class="center sponsor_logos responsive-img" src="{% static "img/logo-sponsor-gephardt.png" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <img class="center sponsor_logos responsive-img" src="{% static "img/logo-sponsor-skandalaris.png" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <img class="center sponsor_logos responsive-img" src="{% static "img/logo-sponsor-gusf.png" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</script>
{% endblock backbone_template %}

{% block content %}
{% include "static_nav.html" %}
    <div id="about"></div>
{% endblock content %}

{% block extra_js %}
<!-- Backbone Views File -->
<script src="{% static "js/static/about_view.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    var aboutView = new cw.AboutView();
</script>
{% endblock extra_js %}
