 {% load notifications_tags %}
 {% load static %}

 <nav class="nav" id="js-global-nav">
    <div class="nav-wrapper ">
        <!-- Left Nav (Logo) -->
        <a href="/" class="logo nav-item">
            <img class="logo-img" src="{% static 'img/logo-civiwiki-tree-white.svg' %}" alt="CiviWiki" height="36px">
            <span class="wordmark">CiviWiki</span>
        </a>

        <!-- Right Nav -->
        <div class="nav-menu right">
            <div class="nav-menu-item button-icon" id="item-notifications">
                <div id="notify-count-wrapper" class="hide">
                {% live_notify_badge%}
                </div>
                <i class="material-icons" id="notify-icon">notifications_none</i>
            </div>
            <div class="nav-menu-item chip-menu-profile" id="js-toggle-menu">
                <span class="label-username">{{ request.session.login_user_firstname }}</span>
                <img class="chip-image-profile" src="{{ request.session.login_user_image }}" alt="{{ request.user.username }}">
                <i class="material-icons js-dropdown-icon">keyboard_arrow_down</i>
                <i class="material-icons js-dropdown-icon hide">keyboard_arrow_up</i>
            </div>
            <div class="dropdown-menu-wrapper hide" id="js-dropdown-menu">
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/" id="my-feed">My Feed</a>
                    <a class="dropdown-item" id="my-profile-button" href="{% url 'profile' user.username %}">My Profile</a>
                    <div class="divider"></div>
                    <a class="dropdown-item" id="settings-dropdown" href="/settings">Settings</a>
                    <a class="dropdown-item" href="{% url 'accounts_logout' %}" id="logout">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="notifications">
    <div id="modal1" class="modal notifications-modal bottom-sheet">
    <div class="modal-content">
        <div class="container">
            <h4>Notifications</h4>

            <div class="notifications-list"></div>
        </div>
    </div>
  </div>
</div>
<script id="notification-base-template" type="text/template">
    {% include "partials/notifications/notification_base.html" %}
</script>
<script id="notification-item-template" type="text/template">
    {% include "partials/notifications/notification_item.html" %}
</script>

<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks fetch=99 callbacks='fill_notification_list,fill_notification_badge,render_notifications' %}

<script>
    cw.initGlobalNav();
</script>
