{% extends "base.html" %}
{% load static %}
{% load i18n %}

<!-- How it Works -->
{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/how_it_works.less" %}"/>
{% endblock extra_css %}

{% block backbone_template %}
<script id="howitworks-template" type="text/template">
    <div class="content-header center">
        <div class="container section">
            <h2 class="title">{% trans "How CiviWiki Works" %} </h2>
            <p class="description">{% trans "Digital Democracy in Action" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="center">
          <div class="row hide-on-med-and-down">
            <div class="center">
              <img class="infographic z-depth-2" src="{% static "img/content-civiwiki-infographic-l.png" %}" width="100%">
            </div>
          </div>
          <div class="row hide-on-large-only">
            <div class="center">
              <img class="infographic z-depth-2" src="{% static "img/content-civiwiki-infographic-md.png" %}" width="100%">
            </div>
          </div>
        </div>
    </div>
    <div class="unsatisfied grey lighten-5 cushion">
        <div class="container section center">
            <div class="row">
                <h4 class="dark-purple">{% trans "Still not sure about something in CiviWiki?" %} </h4>
                <a href="mailto:mitchell@civiwiki.org" class="btn btn-question">{% trans "Shoot Us a Question!" %} </a>
            </div>
        </div>
    </div>
</script>
{% endblock backbone_template %}

{% block content %}
{% include "static_nav.html" %}
    <div id="howitworks"></div>
{% endblock content %}

{% block extra_js %}
<!-- Backbone Views File -->
<script src="{% static "js/static/how_it_works_view.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    var howitworksView = new cw.HowItWorksView();
</script>
{% endblock extra_js %}