{% load i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to CiviWiki</title>
    <meta name="description" content="Building a Better Democracy for the Internet Age">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#fcffff">
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="./static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" href="./static/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./static/less/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="clearfix">
        <div class="container">
            <div class="header-left">
                <h1>
                    <a href="/">
                        <img src="./static/img/logo-civiwiki-tree-white.svg" alt="CiviWiki Logo" class="brand-logo">
                        CiviWiki
                    </a>
                </h1>
            </div>
            <div class="header-right">
                <label for="open">
                    <span class="hidden-desktop"></span>
                </label>
                <input type="checkbox" name="" id="open">
                <nav>
                    <a href="/howitworks/" class="nav-items">How OpenCiviWiki Works</a>
                    <a href="/about/" class="nav-items">About Us</a>
                    <a href="/support_us/" class="nav-items">Support Us</a>
                    <a href="/login/" class="">
                        <button class="ripple">Login/SignUp</button>
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="landing">
            <h2 class="landing-msg anim-typewriter">
                <span>Discuss Problems.</span>
                &nbsp;&nbsp;
                <span>Discover Solutions.</span>
                &nbsp;&nbsp;
                <span>Enact Change.</span>
            </h2>
            <h2 class="landing-msg anim-typewriter">Building Democracy for a Better Age.</h2>
            <div class="landing-msg btn-container">
                <a href="/login/">
                    <button class="ripple">JOIN CIVIWIKI</button>
                </a>
                <a href="/support_us/">
                    <button class="ripple">LEARN MORE</button>
                </a>
            </div>
        </div>
        <div class="msg-1">
            <h1 class="title">
                 {% translate "CiviWiki is a non-profit community working to develop a democratic engagement web system." %}
            </h1><br><br>
            <p class="subtitle">
                {% blocktranslate %}
                At CiviWiki we believe democracy works best when citizens are educated on issues and participate in the
                democratic process. 
                We are a non-profit, non-partisan, community; working to build an open-source platform where citizens
                discuss the problems they face, discover solutions, and enact change. 
                {% endblocktranslate %}
            </p>
        </div><br><br><br>
        <div class="video">
            <p class="video-text">
                {% translate "Check out our short video describing CiviWiki..." %}
            </p>
            <iframe width="640" height="480" src="https://www.youtube.com/embed/Ll4VZv4a8bE" frameborder="0" 
                allowfullscreen></iframe>
            <p class="small-text">{% translate "Video made by" %}
                <a class="body-link" href="https://sheldonanim.com/" target="_blank">Jon Sheldon</a>
            </p>
        </div>
        <div class="why">
            <h1 class="title">{% translate "Why CiviWiki?" %}</h1>
            <table class="why-table">
                <tr class="tr-why">
                    <td><span class="icon">
                        <i class="large material-icons">group</i>
                    </span></td>
                    <td>
                        <h2 class="subtitle">{% translate "Democratically Contributed Media" %}</h2>
                        <div class="text">
                            <p>
                                {% blocktranslate %}
                                As the name CiviWiki implies, our core content will be contributed 
                                by volunteers on our Wiki.
                                Our topic format is modular.
                                The structure both allows a community of volunteers to collaborate on a 
                                single political issue, and reserves space for dissenting opinions.
                                {% endblocktranslate %} 
                            </p>
                        </div>
                    </td>
                </tr>
                <tr class="tr-why">
                    <td><h2 class="subtitle">{% translate "Personalized Policy Feed" %}</h2>
                        <p>
                            {% blocktranslate %}
                            CiviWiki intelligently personalizes users' feed in two meaningful ways. 
                            First, the issues promoted to users' feed will be personalized to the user's 
                            expressed interests, and the timeliness of the issue.
                            Second, the structure of the issue topics break policy positions into 
                            bite-sized contentions we call Civies. Each Civi is logically related 
                            to the rest of the topic. Based on the user's support, opposition, or 
                            neutrality to each Civi, CiviWiki promotes different relevant content
                            {% endblocktranslate %}
                        </p>
                    </td>
                    <td>
                        <span class="icon">
                            <i class="large material-icons">web</i>
                        </span>
                    </td>
                </tr>
            </table><br><br>
        </div><br><br><br>
        <div class="subtitle center">
            <p>{% translate "See what your voice can bring to your community!" %}</p><a href="/login/"><button class="ripple">Join CiviWiki</button></a>
        </div><br><br><br><br>
        <div class="subtitle center">
            <p class="text">{% translate "CiviWiki is still in development!" %}</p>
            <a href="/login/">
                <button class="ripple">{% translate "Register" %}</button></a>
                &
                <a href="/support_us/"><button class="ripple">{% translate "Support Us" %}</button></a>
        </div>
    </main>
    <footer>
        <table class="footer">
            <tr>
                <th>{% translate "Connect With Us" %}</th>
                <th>{% translate "Developers" %}</th>
            </tr>
            <tr>
                <td><a class="body-link" href="http://github.com/CiviWiki/OpenCiviWiki" target="_blank" rel="noopener noreferrer">Github</a></td>
            </tr>
            <tr>
                <td><a class="body-link" href="https://www.facebook.com/CiviWiki/" target="_blank">Facebook</a></td>
                <td><a class="body-link" href="https://github.com/CiviWiki/OpenCiviWiki/issues" target="_blank">{% translate "Open Issues" %}</a></td>
            </tr>
            <tr>
                <td><a class="body-link" href="https://twitter.com/civiwiki" target="_blank" rel="noopener noreferrer">Twitter</a></td>
                <td><a class="body-link" href="https://waffle.io/CiviWiki/OpenCiviWiki" target="_blank" rel="noopener noreferrer">{% translate "Development Roadmap" %}</a></td>
            </tr>
            <tr>
                <td> </td>
                <td><a class="body-link" href="https://riot.im/app/#/room/#CiviWiki:matrix.org" target="_blank" rel="noopener noreferrer">{% translate "Live Chat on Matrix" %}</a></td>
            </tr>
        </table>
        <hr>
        <span><a href="/">CiviWiki</a></span>
    </footer>
</body>
</html>
