{% extends "base.html" %}
{% load static %}
{% load i18n %}    

<!-- Landing Page -->
{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/landing.less" %}"/>
{% endblock extra_css %}

{% block backbone_template %}
<script id="landing-template" type="text/template">
<header>
    <div class="landing-bg valign-wrapper full-height">
        <div class="container landing-title">
            <div class="row">
                <div class="landing-title-text">{% trans 'Discuss Problems' %}</div>
                <div class="landing-title-text">{% trans 'Discover Solutions' %}</div>
                <div class="landing-title-text">{% trans 'Enact Change' %}</div>
                <div class="landing-title-subtext">{% trans 'Building a Better Democracy for the Internet Age' %}</div>
            </div>
            <div class="row">
            <div class="col s8 m6">
            <div class="row">
                <div class="col s12 m6">
                <a href="login" class="btn-large waves-effect dark-blue-background  landing-title-button">{% trans 'Join CiviWiki' %}</a>
                </div>
                <div class="col s12 m6">
                <a href="#learnmore" class="btn-large waves-effect landing-title-button border-button">{% trans 'Learn More' %}</a>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</header>
<main>
<div class="landing-content">
    <div class="white" id="learnmore">
        <div class="introduction full-height valign-wrapper">
            <div class="container section center content-1 valign">
                <div class="row">
                    <div class="white cushion">
                        <div class="container section">
                            <h3 class="content-1-title bold">{% trans 'CiviWiki is a non-profit community working to develop a democratic engagement web system' %} .</h3>
                            <div class="accent-line"></div>
                            <p class="content-1-text section"> {% trans 'At CiviWiki we believe democracy works best when citizens are educated on issues and participate in the democratic process.' %}
                            <p class="content-1-text section">We are a non-profit, non-partisan, community; working to build an open-source platform where citizens discuss the problems they face, discover solutions, and enact change.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video full-height valign-wrapper">
            <div class="container section valign">
                <h4 class="section center white-text">{% trans 'Check out our short video describing CiviWiki' %} ...</h4>
                <p class="center"></p>
                <div class="videoWrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ll4VZv4a8bE" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="grey-text text-darken-3 center">{% trans 'Video made by' %}  <a class="grey-text text-darken-1" href="https://sheldonanim.com/" target="_blank">Jon Sheldon</a></div>
            </div>
        </div>

        <div class="why-civiwiki container cushion">
            <div class="section">
                <h2 class="bold center content-title">{% trans 'Why CiviWiki?' %}</h2>
            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12 m6 center">
                        <i class="large material-icons">group</i>
                    </div>
                    <div class="col s12 m6">
                        <h5 class="content-subtitle">{% trans 'Democratically Contributed Media' %} </h5>
                        <p class="content-text">
                            {% trans 'As the name CiviWiki implies, our core content will be contributed by volunteers on our Wiki.'%}
                            <br>
                            <br> {% trans 'Our topic format is modular. ' %}
                            <br>
                            <br> {% trans 'The structure both allows a community of volunteers to collaborate on a single political issue, and reserves space for dissenting opinions. ' %}
                        </p>
                    </div>
                </div>

            </div>
            <div class="section">
                <div class="row">
                    <div class="col s12 m6 push-m6 center">
                        <i class="large material-icons">web</i>
                    </div>
                    <div class="col s12 m6 pull-m6">
                        <h5 class="content-subtitle">{% trans 'Personalized Policy Feed ' %}</h5>
                        <p class="content-text">
                            CiviWiki {% trans "intelligently personalizes users' feed in two meaningful ways. " %}
                            <br>
                            <br> {% trans "First, the issues promoted to users' feed will be personalized to the user's expressed interests, and the timeliness of the issue." %}
                            <br>
                            <br> {% trans "Second, the structure of the issue topics break policy positions into bite-sized contentions we call Civies. Each Civi is logically related to the rest of the topic. Based on the user's support, opposition, or neutrality to each Civi, CiviWiki promotes different relevant content."%}
                        </p>
                    </div>
                </div>

            </div>
            <div class="section">
                <div class="row">

                    <div class="col s12 m6 center">
                        <i class="large material-icons">location_city</i>
                    </div>
                    <div class="col s12 m6">
                        <h5 class="content-subtitle">{% trans 'Citizen/Representative Engagement' %} </h5>
                        <p class="content-text">
                            {% trans "CiviWiki's core goal is to engage citizens and their representatives, with the goal of making government more accountable."%}
                            <br>
                            <br> {% trans "First, CiviWiki will organize the user's policy profile and compare it to every political candidate in the user's district. This quick, detailed, comparison will help users make informed votes, and we believe increased voter confidence will increase voter turnout." %}
                            <br>
                            <br> {% trans "Second, CiviWiki will collect anonymized user data and forward district-level statistics to representatives. With a critical mass of users, we believe timely district level polling data will influence representatives votes." %}
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="lastcall cushion">
        <div class="container section">
            <div class="section">
                <h5 class="center text-call">{% trans "See what your voice can bring to your community" %}</h5>
            </div>
            <div class="section row center">
                <a href="login" class="btn btn-large waves-effect waves-light"><span class="dark-grey-text">{% trans "Join CiviWiki" %} </span></a>
            </div>
        </div>
    </div>
    <div class="in-development">
        <div class="container section center">
            <h3 class="center"><i class="small material-icons yellow-text text-darken-2">warning</i> CiviWiki {% trans "is still in" %} <span class="text-highlight">{% trans "development" %}</span>! <i class="small material-icons yellow-text text-darken-2"></i></h3>
            <div class="row">
                <div class="container section center">
                    <div class="col s12 m5 center">
                        <a class="btn btn-large" href="login">{% trans "Register" %}</a>
                    </div>
                    <div class="col s12 m2">
                        <h4 class="center ampersand">&</h4>
                    </div>
                    <div class="col s12 m5 center">
                        <a class="btn btn-large " href="support_us">{% trans "Support Us" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

</script>
{% endblock backbone_template %}

{% block content %}
{% include "static_nav.html" %}
    <div id="landing"></div>
{% endblock content %}

{% block extra_js %}
<!-- Backbone Views File -->
<script src="{% static "js/static/landing_view.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    var landingView = new cw.LandingView();
</script>
{% endblock extra_js %}
