<!-- Footer for static pages -->
{% load static %}
{% load i18n %}

<footer class="page-footer static-footer">
    <!-- Top block for external links -->
    <div class="container">
        <div class="row center">
            <div class="col s6 m3 push-m6 right-align">
                <div class="external-link-header subtitle-lato white-text" style="color: #f5f5f5 " >{% trans "Connect with Us" %}</div>
                <div class="external-links black-text text-darken-2 right-align">
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="mailto:mitchell@civiwiki.org">{% trans "Email" %}</a>
                    </div>
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="https://www.facebook.com/CiviWiki/" target="_blank">Facebook</a>
                    </div>
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="https://twitter.com/civiwiki" target="_blank">Twitter</a>
                    </div>
                </div>
            </div>
            <div class="col s6 m3 push-m6 right-align">
                <div class="external-link-header subtitle-lato white-text">{% trans "Developers" %}</div>
                <div class="external-links black-text text-darken-2 right-align">
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="https://github.com/CiviWiki/OpenCiviWiki" target="_blank">GitHub</a></div>
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="https://github.com/CiviWiki/OpenCiviWiki/issues" target="_blank">{% trans "Open Issues" %}</a>
                    </div>
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="https://waffle.io/CiviWiki/OpenCiviWiki" target="_blank">{% trans "Development Roadmap" %}</a>
                    </div>
                    <div class="external-link-item">
                        <a class="black-text text-darken-1" href="https://riot.im/app/#/room/#CiviWiki:matrix.org" target="_blank">{% trans "Live Chat on Matrix" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom block -->
    <div class="footer-copyright">
        <div class="container">
            <div class="white-text text-darken-1">
                <a href="/"><object class="logo-img" style="position: relative; width: 40px; height: 40px; left: -25px; top: 8px;" type="image/svg+xml" data="{% static "img/logo-civiwiki-tree-white.svg" %}" ></object>
                    <span  class="wordmark" style="position: relative; left: -29px; top: -8px;" >CiviWiki</span></a>
                <div class="footer-right right">
                    <!-- TODO: <a class="black-text" href="policy">Privacy Policy</a> | -->
                </div>
            </div>
        </div>
    </div>
</footer>
