{% extends "base.html" %}
{% load static %}
{% load i18n %}

<!-- Support Us -->
{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/supportus.less" %}"/>
{% endblock extra_css %}

{% block page_title %}{% trans "Support Us" %}{% endblock page_title %}

{% block backbone_template %}
<script id="supportus-template" type="text/template">
    <!-- Main Picture and title using Parallax -->
    <div class="parallax-container">
        <div class="section">
            <div class="container">
                <br><br>
                <h1 class="header center">{% trans "Support Us" %} </h1>
                <div class="row center">
                    <h5 class="header col s12 light"> {% trans "Give us your support and help CiviWiki grow" %}</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static "img/bg-supportus-main.png" %}"></div>
    </div>


    <!-- Main Donation Message -->
    <div class="support_message section">
        <div class="row container">
          <h3 class="support_message_title header deep-purple-text text-lighten-5 center">{% trans "Help us build better democracy for the internet age" %} </h3>
          <p class="support_message_text center">{% trans "CiviWiki is a non-profit organization working to break down the wall between politicians and their constituencies though an online communication platform which allows communities to discuss problems, discover solutions, and enact policy change. With your support we can build the tools necessary to educate citizens on the issues that matter and empower them to hold government accountable. Together we can build better democracy for the internet age." %} </p>
        </div>
    </div>

    <!-- Support Info/Fluff -->
    <div class="support_info section white">
        <div class="title row container">
            <h4 class="center">{% trans "Join our team as a founding contributor" %} </h4>
        </div>
        <div class="row container">
            <p class="center">{% trans "CiviWiki was incorporated only a few months ago, in November of 2015. Since that time we have received the support of the Gephard Institute, have advanced in the Hult Prize competition and expect to begin closed beta-testing within the next month. Become a part of our start-up story and watch how your support allows us to grow!" %}</p>
        </div>
    </div>
    <div class="redirect-team">
        <div class="section row container center">
          <a class="redirect-team-text" href="about#team">{% trans "MEET THE TEAM BEHIND CIVIWIKI → " %}</a>
        </div>
    </div>

    <!-- Donate Options & Buttons -->
    <div class="donate donate_options section white">
        <div class="title row container">
            <div class="col s12 center">
                <h4 class="center">{% trans "Donate" %} </h4>
            </div>
        </div>
        <div class="container">
        <div class="row ">
            <div class="col s6 center">
                <i class="large material-icons deep-purple-text text-lighten-2">local_atm</i>
                <p class="donate_title center">{% trans "One-Time Donation" %} </p>
                <p class="donate_text">{% trans "Make a one time donation and take action towards promoting digital democracy!" %}  </p>
            </div>
            <div class="col s6 center">
                <i class="large material-icons deep-purple-text text-lighten-2">event</i>
                <p class="donate_title center">{% trans "Sustaining Donation" %} </p>
                <p class="donate_text">{% trans "Give a monthly donation to CiviWIki. Your sustaining donation will keep our servers running and ensure we have the resources necessary to continue building the tools of better democracy" %}</p>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- The two buttons are same for now; will be updated after payment APIs are implemented -->
                <div class="col s6 center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="QKJYQPLX4VUCG">
                    <button type="submit" class="waves-effect waves-light btn deep-purple darken-1" name="submit" alt="PayPal - The safer, easier way to pay online!">{% trans "Donate Once" %} </button>
                    </form>

                </div>
                <div class="col s6 center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="QKJYQPLX4VUCG">
                    <button type="submit" class="waves-effect waves-light btn deep-purple darken-1" name="submit" alt="PayPal - The safer, easier way to pay online!">{% trans "Give Monthly" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="donate donate_options section white">
        <div class="title row container">
            <div class="col s12 center">
                <h4 class="center">{% trans "Spread the Word" %} </h4>
            </div>
        </div>
        <div class="row  center">

                <a href="https://www.facebook.com/sharer/sharer.php?u=civiwiki.org" target="_blank">
                    <img class="share-button" src="{% static "img/logo-social-facebook.png" %}">
                </a>

                <a href="https://twitter.com/share" data-url="http://civiwiki.org" data-text="Check out this site" data-size="large">
                    <img class="share-button" src="{% static "img/logo-social-twitter.png" %}">
                </a>

        </div>
    </div>
    <div class="supportus_divider section white">
        <div class="row container">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <p class="light">{% trans "CiviWiki is a tax-exempt organization under Section 501(c)(3) of the Internal Revenue Code. Your contribution is tax-deductible as allowed by law. For more information, please contact Mitchell West at mdwest@wustl.edu" %} </p>
            </div>
        </div>
    </div>

</script>
{% endblock backbone_template %}

{% block content %}
{% include "static_nav.html" %}
    <div id="supportus"></div>
{% endblock content %}

{% block extra_js %}
<!-- Backbone Views File -->
<script src="{% static "js/static/support_us_view.js" %}" type="text/javascript"></script>
<script type="text/javascript">
    var supportusView = new cw.SupportusView();
    $(document).ready(function(){


});
</script>
{% endblock extra_js %}
