<!doctype html>

{% load staticfiles %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/about.less" %}"/>
{% include "basics/links.html" %}

<title>About Us</title>

<script id="about-template" type="text/template">

{% include "basics/nav.html" %}
<div class="section grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1 class="grey-text text-darken-4">About Us</h1>
                <div class="divider"></div>
                <img class="main_img" src="{% static "img/civiwiki_about_tree.png" %}">
            </div>
        </div>
    </div>
</div>
<div class="section">
  <div class="row hide-on-med-and-down">
    <div class="infographic center">
      <img src="{% static "img/civiwiki_infographic_l.png" %}">
    </div>
  </div>
  <div class="row hide-on-large-only">
    <div class="infographic center">
      <img src="{% static "img/civiwiki_infographic_md.png" %}">
    </div>
  </div>
</div>
<div class="section white">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h3 class="deep-purple-text">Our Mission</h3>
                <div class="divider"></div>
                <div class="col s12 m8 l10 offset-m2 offset-l1">
                    <h5 class="center grey-text text-darken-2">
                        At CiviWIki we believe democracy works best when citizens are educated on issues and participate in the democratic process. We are a non-profit, non-partisan, community; working to build an open-source platform where citizens discuss the problems they face, discover solutions, and petition their representative to enact change.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section grey lighten-4">
    <div class="row">
        <div class="col s12 m8 l10 offset-m2 offset-l1 center">
          <h3 class="deep-purple-text">Our Goals</h3>
          <div class="divider"></div>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class='collapsible-header'>
                  <h4>A Problem Solving Machine<span class="caret"></span></h4>
                </div>
                <div class='collapsible-body'>
                  <h5 class='grey-text  text-darken-2'>We are building a novel, multi-post, discussion platform which allows users to debate issues: why they should care about the issue; what causes the issue; and what policy solutions could solve it. This discussion is then filtered through the community, allowing everyone to rate their agreement with each piece of the debate. Then, the best solutions trend and foster an environment for community consensus to form. </h5>
                </div>
              </li>
              <li>
                <div class='collapsible-header'>
                  <h4>Networked Leadership</h4>
                </div>
                <div class='collapsible-body'>
                  <h5 class='grey-text  text-darken-2'>Anyone can join the debate, but most people just want a trustworthy place to learn about the issues. If you find an editor you tend to agree with, you can follow their account, starting to form your own political coalition, and helping to elevate the voices of community leaders. In time, these leaders may even earn the support necessary to become your representatives in government.</h5>
                </div>
              </li>
              <li>
                <div class='collapsible-header'>
                  <h4>Smart Petitioning</h4>
                </div>
                <div class='collapsible-body'>
                  <h5 class='grey-text  text-darken-2'>Engaging CiviWiki’s discussion is more than simply becoming informed on the issues. We automatically package your support with other likeminded users and use that collective power to petition your representatives. Your representative then has the opportunity to respond to your petition with a voting statement that you can rate. </h5>
                </div>
              </li>
              <li>
                <div class='collapsible-header'>
                  <h4>Vote with Confidence</h4>
                </div>
                <div class='collapsible-body'>
                  <h5 class='grey-text  text-darken-2'>Your rating history, including why you supported a policy, what policies you supported, and your rating of voting statements are all saved to your account. When elections approach, we compare your CiviWiki history to all potential candidates, helping you make an informed vote. </h5>
                </div>
              </li>
              <li>
                <div class='collapsible-header'>
                  <h4>The Power of CiviWiki</h4>
                </div>
                <div class='collapsible-body'>
                  <h5 class='grey-text  text-darken-2'>With traditional voting and petitioning, you vote for the candidate that you believe lines up with your values, and you hope they listen to reasonable petitions. In this process you give away your political power and only recover it the next election cycle. With CiviWiki, you make a credible claim of what factors will influence your next vote. And, since CiviWiki ensures you are reminded of these factors, you retain your voting power between elections. In other words, rather than trusting a politician to make choices for you, CiviWiki allows you to trust that your representative will listen to you.  We are better democracy for the internet age.</h5>
                </div>
              </li>
            </ul>
        </div>
    </div>
</div>
<div class="section white meet_team">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h3 class="deep-purple-text">The Team</h3>
                <div class="divider"></div>
                  <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_mitchell_west.png" %}">
                        <h5 class="grey-text text-darken-2">Mitchell West</h5>
                        <p class="grey-text text-lighten-1">Founder / Hult Prize Team</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_teja_mysore.png" %}">
                        <h5 class="grey-text text-darken-2">Teja Mysore</h5>
                        <p class="grey-text text-lighten-1">Marketing / Hult Prize Team</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_john_tao.png" %}">
                        <h5 class="grey-text text-darken-2">John Tao</h5>
                        <p class="grey-text text-lighten-1">Marketing</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_darius_calliet.png" %}">
                        <h5 class="grey-text text-darken-2">Darius Calliet</h5>
                        <p class="grey-text text-lighten-1">Developer / Hult Prize Team</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_joohee_lee.png" %}">
                        <h5 class="grey-text text-darken-2">Joohee Lee</h5>
                        <p class="grey-text text-lighten-1">Developer / Hult Prize Team</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_dan_borstelmann.png" %}">
                        <h5 class="grey-text text-darken-2">Dan Borstelmann</h5>
                        <p class="grey-text text-lighten-1">Developer</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img src="{% static "img/team_profile/team_lawrance_fung.png" %}">
                        <h5 class="grey-text text-darken-2">Lawrance Fung</h5>
                        <p class="grey-text text-lighten-1">Developer</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_grace_lu.png" %}">
                        <h5 class="grey-text text-darken-2">Grace Lu</h5>
                        <p class="grey-text text-lighten-1">Developer</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img src="{% static "img/team_profile/team_paul_sheid.png" %}">
                        <h5 class="grey-text text-darken-2">Paul Scheid</h5>
                        <p class="grey-text text-lighten-1">Technical Adviser</p>
                    </div>
                  <div class="col s12 m6 l3">
                      <img class="img-circle" src="{% static "img/team_profile/team_cameron_wong.png" %}">
                      <h5 class="grey-text text-darken-2">Cameron Wong</h5>
                      <p class="grey-text text-lighten-1">Developer</p>
                  </div>
                   <div class="col s12 m6 l3">
                      <img class="img-circle" src="{% static "img/team_profile/team_aaron_graubert.png" %}">
                      <h5 class="grey-text text-darken-2">Aaron Graubert</h5>
                      <p class="grey-text text-lighten-1">Developer</p>
                  </div>
                  <div class="col s12 m6 l3">
                      <img class="img-circle" src="{% static "img/team_profile/team_jon_sheldon.png" %}">
                      <h5 class="grey-text text-darken-2">Jon Sheldon</h5>
                      <p class="grey-text text-lighten-1">Animations</p>
                  </div>
              </div>
        </div>
    </div>
</div>
</div>
<div class="section grey lighten-4">
    <div class="container">
        <div class="col s12 center">
            <h3 class="deep-purple-text">Sponsors</h3>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <img class="sponsor_logos" src="{% static "img/logo_sponsor_gephardt.png" %}">
                </div>
                <div class="col s12 m6 l6">
                    <img class="sponsor_logos" src="{% static "img/logo_sponsor_skandalaris.png" %}">
                </div>
                <div class="col s12 offset-m6 m6 offset-l3 l6">
                    <img class="sponsor_logos" src="{% static "img/logo_sponsor_gusf.png" %}">
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<body>
    <div id="about">
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/views/about_view.js" type="text/javascript"></script>
</html>
