<!doctype html>

{% load staticfiles %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/supportus.less" %}"/>
{% include "basics/links.html" %}

<title>Support Us</title>

<script id="supportus-template" type="text/template">
    {% include "basics/nav.html" %}
    <!-- Main Picture and title using Parallax -->
    <div class="parallax-container">
        <div class="section">
            <div class="container">
                <br><br>
                <h1 class="header center deep-purple-text text-lighten-3 center">CiviWiki.org</h1>
                <div class="row center">
                    <h5 class="header col s12 light grey-text text-lighten-3"> Quick, Collaborative, Civics </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static "img/supportus_main.png" %}"></div> <!-- TODO: Image NEEDS to be replaced -->
    </div>


    <!-- Main Donation Message -->
    <div class="support_message section deep-purple darken-1">
        <div class="row container">
          <h3 class="support_message_title header deep-purple-text text-lighten-5 center">Help us build better democracy for the internet age</h3>
          <p class="support_message_text deep-purple-text text-lighten-3 center">CiviWiki is a non-profit organization working to break down the wall between politicians and their constituencies though an online communication platform which allows communities to discuss problems, discover solutions, and enact policy change. With your support we can build the tools necessary to educate citizens on the issues that matter and empower them to hold government accountable. Together we can build better democracy for the internet age.</p>
        </div>
    </div>

    <!-- Support Info/Fluff -->
    <div class="support_info section white">
        <div class="title row container">
            <h4 class="center">Join our team as a founding contributor</h4>
        </div>
        <div class="row container">
            <p class="center">CiviWiki was incorporated only a few months ago, in November of 2015. Since that time we have received the support of the Gephard Institute, have advanced in the Hult Prize competition and expect to begin closed beta-testing within the next month. Become a part of our start-up story and watch how your support allows us to grow!</p>
        </div>
    </div>
    <div class="deep-purple">
        <div class="section row container center">
          <a class="deep-purple-text text-lighten-5" href="aboutus.html">Meet the team behind CiviWiki →</a>
        </div>
    </div>

    <!-- Donate Options & Buttons -->
    <div class="donate donate_options section white">
        <div class="title row container">
            <div class="col s12 center">
                <h4 class="center">Donate</h4>
            </div>
        </div>
        <div class="row container">
            <div class="col s6 center">
                <i class="large material-icons deep-purple-text text-lighten-2">local_atm</i>
                <p class="donate_title center">One-Time Donation</p>
                <p class="donate_text">Make a one time donation and take action towards promoting digital democracy! </p>
            </div>
            <div class="col s6 center">
                <i class="large material-icons deep-purple-text text-lighten-2">event</i>
                <p class="donate_title center">Sustaining Donation</p>
                <p class="donate_text">Give a monthly donation to CiviWIki. Your sustaining donation will keep our servers running and ensure we have the resources necessary to continue building the tools of better democracy</p>
            </div>
        </div>
        <div class="row container">
            <!-- The two buttons are same for now; will be updated after payment APIs are implemented -->
            <div class="col s6 center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QKJYQPLX4VUCG">
                <button type="submit" class="waves-effect waves-light btn deep-purple darken-1" name="submit" alt="PayPal - The safer, easier way to pay online!">Donate Once</button>
                </form>

            </div>
            <div class="col s6 center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QKJYQPLX4VUCG">
                <button type="submit" class="waves-effect waves-light btn deep-purple darken-1" name="submit" alt="PayPal - The safer, easier way to pay online!">Give Monthly</button>
                </form>
            </div>
        </div>
    </div>
    <div class="donate donate_options section white">
        <div class="title row container">
            <div class="col s12 center">
                <h4 class="center">Spread the Word</h4>
            </div>
        </div>
        <div class="row  center">

                <a href="https://www.facebook.com/sharer/sharer.php?u=civiwiki.org" target="_blank">
                    <img class="share-button" src="{% static "img/logo_facebook.png" %}">
                </a>

                <a href="https://twitter.com/share" data-url="http://civiwiki.org" data-text="Check out this site" data-size="large">
                    <img class="share-button" src="{% static "img/logo_twitter.png" %}">
                </a>

        </div>
    </div>
    <div class="supportus_divider section white">
        <div class="row container">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <p class="light">CiviWiki is a tax-exempt organization under Section 501(c)(3) of the Internal Revenue Code. Your contribution is tax-deductible as allowed by law. For more information, please contact Mitchell West at mdwest@wustl.edu</p>
            </div>
        </div>
    </div>
</script>

<body>
    <div id="supportus">
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/views/support_us_view.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    // Following initializes parallax, an effect where the background moves slower than the foreground
    $('.parallax').parallax();

    // Code to configure twitter sharing from the twitter website
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
});
</script>
</html>
