<div class="row">
    <div class="map-container col s12 l8 center">
        <button id="browser-locate-btn" class="btn waves-effect" type="submit" name="action">Locate Me
            <i class="material-icons left">my_location</i>
        </button>
        <div class="center">
            <div class="white-background-input-field input-field center-block">
                <input id="autocomplete" type="text">
            </div>
        </div>
        <div class="map-wrapper">
            <div class="map-overlay">
                <div class="progress hide"><div class="indeterminate"></div></div>
            </div>
            <div id="map"></div>
        </div>

    </div>
    <div class="col s12 l4">
        <div class="rep-title">
            <div class="grey-text bold">
                YOUR REPRESENTATIVES
            </div>
        </div>
        <div class="divider"></div>
        <div id="rep-text" class="light-gray-text light">
            Enter your address to find your representatives
        </div>
        <div id="rep-list"></div>
    </div>
</div>
