<div class="row">
    <div class="map-container center">
        <button id="browser-locate-btn" style=" margin-right: 1%;" class="btn waves-effect" type="submit"
            name="action">Locate Me
            <i class="material-icons left">my_location</i>
        </button>
        <div class="center">
            <div class="white-background-input-field input-field center-block">
                <input id="autocomplete" type="text" placeholder="Enter your location in the U.S. ">
            </div>
        </div>
        <div class="map-wrapper">
            <div class="map-overlay">
                <div class="progress hide">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div id="map"></div>
        </div>

    </div>
</div>