<!--Register Step 2: Locate User-->
<div class="step2">
    <div class="card">
        <div class="card-content">
            <div class="step-title">
                <div class="section">
                    <div class="title-lato center">
                        Setup your location
                    </div>
                </div>
                <div class="accent-line"></div>
            </div>

            <div class="input-area">
                <div class="info-text center">
                    Where are you registered to vote? Don't worry, we will never share or display your full address.
                </div>
                <div id="location"></div>
            </div>
        </div>
        <div class="card-action">
            <div class="left-align">
                <button class="prev btn waves-effect" type="submit" name="action">Back
                    <i class="material-icons left">arrow_back</i>
                </button>
                <button class="setup-button finish btn waves-effect disabled" type="submit" name="action" disabled>Finish
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </div>
    </div>
</div>
