{% load staticfiles %}
{% csrf_token %}
<meta name="google-site-verification" content="QekFwH1-88aQFx0rSPRCUTnJBrvpn0yHw4CR0okzHek" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "dependencies/materialize.min.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "dependencies/magicsuggest-min.css" %}">
<script type="text/javascript" src="{% static "dependencies/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "dependencies/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "dependencies/backbone-min.js" %}"></script>
<script type="text/javascript" src="{% static "dependencies/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "dependencies/magicsuggest-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/base.js" %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>CiviWiki</title>
