{% verbatim %}
<div class="card" id="issue-{{thread_id}}">
    <div class="card-content">
        <div class="category header-lato bold-text">{{category}} <span class="link-lato">{{solutions.length}} Solutions</span></div>
        <div class="issue subtitle-lato">{{thread_title}}</div>

        <div class="right-align">

            <a href="/thread/{{thread_id}}" class="waves-effect waves-light  btn-flat btn-small link-lato"><i class="mini material-icons left">launch</i>Go to Thread</a>
        </div>
        <div class="left">
            <button href="/thread/{{thread_id}}" class="waves-effect waves-light btn btn-small toggle-solutions" data-id="{{thread_id}}"><i class="mini material-icons left">assignment_turned_in</i><span class="button-text">Show Solutions</span></button>
        </div>
    </div>
</div>
<div class="solutions_list container hide" id="solutions-{{thread_id}}">
    {{# _.each(solutions, function(solution){ }}
        <div class="card">
            <div class="card-content">
                <div class="bold-text"> {{ solution.user_vote }}</div>
                <div class="header-lato">{{ solution.title }} </div>
                <div class="civi-body">{{ solution.body }}</div>
            </div>
        </div>
    {{# }); }}
</div>
{% endverbatim %}
