<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    {% load staticfiles %}
    {% include "base/links.html" %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
    <script src="{% static "dependencies/less.min.js" type="text/javascript" %}"></script>
</head>

<script id="single-invite-template" type="text/template">
{% verbatim %}
<tr>
    <td>{{email}}</td>
    <td>{{date_invited}}</td>
    {{# if (status == "sent") { }}
    <td>
        <div class="light-gray-text">
            <i class="material-icons tiny">send</i> Invite Sent
        </div>
    </td>
    {{# } else if (status == "registered") { }}
    <td>
        <a href="/profile/{{username}}" class="waves-light blue-text">
            <i class="material-icons tiny">verified_user</i> Active
        </a>
    </td>
    {{# } else { }}
    <td>No Data</td>
    {{# } }}
</tr>
{% endverbatim %}
</script>

<script id="location-template" type="text/template">
    {% include "partials/user-setup/map.html" %}
</script>
<script id="rep-chip-template" type="text/template">
    {% verbatim %}
    <div class="rep bold-text purple-text chip">
        <img src="https://theunitedstates.io/images/congress/225x275/{{ rep.bioguide_id }}.jpg" alt="rep image">
        <span>{{rep.title}} {{rep.first_name}} {{rep.last_name}} </span>
    </div>
    {% endverbatim %}
</script>

<script id="settings-personal" type="text/template">
{% verbatim %}
    <div class="white-background-input-field input-field col s6">
        <input class="save-account" id="first_name" type="text" value="{{this.model.get('first_name')}}">
        <label for="first-name">First Name</label>
    </div>
    <div class="white-background-input-field input-field col s6">
        <input class="save-account" id="last_name" type="text" value="{{this.model.get('last_name')}}">
        <label for="last-name">Last Name</label>
    </div>
{% endverbatim %}
</script>

<script id="location-label" type="text/template">
{% verbatim %}
    <div class="section">
        <div class="location-info">
            <i class="mini material-icons">place</i>
            <span>{{this.model.get('location')}}</span>
        </div>
    </div>
{% endverbatim %}
</script>

<script id="settings-base" type="text/template">
{% verbatim %}
    <div class="subtitle-lato">Personal</div>
        <div class="white-background-input-field input-field col s12">
            <input id="email" type="text" class="validate" value="{{this.model.get('email')}}" disabled>
            <label for="email">Email</label>
        </div>
        <div class="white-background-input-field input-field col s12">
            <input id="username" type="text" class="validate" value="{{this.model.get('username')}}" disabled>
            <label for="username">Username</label>
        </div>
        <div id="settings-1"></div>
        <div class="white-background-input-field input-field col s12">
            <div class="section">
                <label for="location">Location</label>

                <div id="location-label-container"></div>
                <div id="location"></div>
            </div>
        </div>
    </div>
{% endverbatim %}
</script>

<script id="settings-template" type="text/template">
    <div class="container row">
        <div class="section row"></div>
        <div class="z-depth-1 white">
            <div class="container">
                <div class="section center">
                    <div class="title-lato">My Settings</div>

                </div>
                <div class="row">
                    <div id="settings-el"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<body class="grey lighten-4">
    {% include "partials/utils/global_nav.html" %}
    <div id="settings"></div>
</body>

<script type="text/javascript" src="{% static "js/settings.js" %}"></script>
<script type="text/javascript" src="{% static "js/utils/locate.js" %}"></script>
<script type="text/javascript">
    location_data = {
        lng: {{lng}},
        lat: {{lat}}
    }

    var mapModel = new cw.Map({coordinates: location_data});
    var mapView = new cw.MapView({model: mapModel});

    var data = {};
    data.username = '{{user.username}}';
    data.email = '{{user.email}}';
    data.user_id = '{{user.id}}';

    var userModel = new cw.UserModel(data);
    var settingsView = new cw.SettingsView({
        model: userModel,
        mapView: mapView,
    });

    userModel.fetch();
    settingsView.render();
</script>

</html>
