{% load static %}
<!DOCTYPE HTML>
<!-- How it Works -->

<head>
    {% include "common/static_header.html" %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/how_it_works.less" %}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <title>How It Works</title>
</head>

<body>
    {% include "common/static_nav.html" %}
    <div id="howitworks">
        <div class="content-header center">
            <div class="container section">
                <h2 class="title">How CiviWiki Works</h2>
                <p class="description">Digital Democracy in Action</p>
            </div>
        </div>
        <div class="container">
            <div class="center">
                <div class="row hide-on-med-and-down">
                    <div class="center">
                        <img class="infographic z-depth-2" src="{% static " img/content-civiwiki-infographic-l.png " %}" width="100%">
                    </div>
                </div>
                <div class="row hide-on-large-only">
                    <div class="center">
                        <img class="infographic z-depth-2" src="{% static " img/content-civiwiki-infographic-md.png " %}" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="unsatisfied grey lighten-5 cushion">
            <div class="container section center">
                <div class="row">
                    <h4 class="dark-purple">Still not sure about something in CiviWiki?</h4>
                    <a href="mailto:mitchell@civiwiki.org" class="btn btn-question">Shoot Us a Question!</a>
                </div>
            </div>
        </div>
    </div>
    {% include "common/static_footer.html" %}
</body>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        M.Sidenav.init(document.querySelectorAll('.button-collapse'));
        M.Collapsible.init(document.querySelectorAll('.collapsible'));
    });
    // $('.sideNav').css('display', 'inherit');
</script>
</html>