Django==3.2.7
django-cors-headers==3.8.0
django-extensions==3.1.3
djangorestframework==3.12.4
django-notifications-hq==1.6.0
django-storages==1.11.1

whitenoise==5.3.0
psycopg2-binary==2.9.1

django-taggit==1.5.1
Pillow==8.3.2
requests==2.26.0

# Packages for development/testing
mock==4.0.3
coverage==5.5
flake8==3.9.2

# Disabling test framework
# as it was preventing pip install
# Add back in when issue is resolved
# or set up "devenvironment" dependencies
# e.g. via Poetry package manager
# aloe==0.1.19

# Packages for production
gunicorn==20.1.0
honcho==1.0.1
