{% load i18n %}
{% verbatim %}
<div class="card">
    <div class="card-content">
        <div class="right">
            <a href="{{url}}" class="link-lato" target="_blank"><i class="mini material-icons">link</i>External Link</a>
        </div>

        <div class="category subtitle-lato bold"><i class="small material-icons">account_balance</i>{{chamber}} {{bill_id}}</div>
        <div class="category text-lato grey-text">{{scheduled_at}}</div>
        <div class="text-lato section">
            {{# if (typeof description !== "undefined") { }}
                <div class="description text-lato">{{description}}</div>
            {{# } else  { }}
                <div class="context text-lato">{{context}}</div>
            {{# } }}
        </div>

    </div>
</div>
{% endverbatim %}
