{% verbatim %}
<div class="col s6 m3">
    <div class="card">
        <div class="card-content center">
            <div class="image-cropper center-block">
                <img class="responsive-img" src="{{profile_image}}" alt="">
            </div>
            <div class="section">
                <div class="link-lato name"> {{name}} </div>
                <div class="text-lato">Party: {{party}}</div>
            </div>
            <div class="subtitle-lato alignment">-</div>
            <div class="section">
                <div class="link-lato name"> Votes opposed like me: {{ votes.opposed_the_same }}</div>
                <div class="link-lato name"> Votes opposed not like me: {{ votes.opposed_different }}</div>
                <div class="link-lato name"> Votes supported not like me: {{ votes.supported_different }}</div>
                <div class="link-lato name"> Votes supported like me: {{ votes.supported_the_same }}</div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
