{% verbatim %}
<div class="modal edit-thread-modal">
    <div class="modal-content">
        <div class="edit-thread-contention edit-thread-container">
            <div class="input-field white-background-input-field left-input-field">
                <input id="thread-title" type="text" length="120" value="{{this.model.get('title')}}">
                <label for="thread-title">Title</label>
            </div>
        </div>
        <div class="edit-thread-body white-background-input-field edit-thread-container">
            <div class="input-field left-input-field">
                <textarea id="thread-body" type="text" class="materialize-textarea" length="4000">{{this.model.get('summary')}}</textarea>
                <label for="thread-body">Summary</label>
            </div>
        </div>
        <div class="row">
            <div class="edit-thread-level-selection white-background-input-field col s4">
                <div class="input-field left-input-field">
                    <select id="thread-location">
                        <option value="federal">Federal</option>
                        <option value="state">State</option>
                    </select>
                </div>
            </div>
            <div class="edit-thread-state-selection white-background-input-field col s4 hide">
                <div class="input-field left-input-field">
                    <select id="thread-state">
                        {{# _.each(this.model.get('states'), function (s) { }}
                            <option value="{{s[0]}}">{{s[1]}}</option>
                        {{# }); }}
                    </select>
                </div>
            </div>
        </div>
        <div class="edit-thread-category-selection white-background-input-field">
            <div class="header-lato">Category:</div>
            <div class="input-field left-input-field">
                <select id="thread-category">
                    <option value="{{this.model.get('category').id}}" selected>{{this.model.get('category').name}}</option>
                    {{# _.each(this.model.get('categories'), function (c) { }}
                        {{# if (c.id != this.model.get('category').id) { }}
                        <option value="{{c.id}}">{{c.name}}</option>
                        {{# } }}
                    {{# }, this); }}
                </select>
            </div>
        </div>
        <div class="previous-image">
            <div class="header-lato">Current image:</div>
            <div class="button-wrapper">
                <div class="delete-previous-image action-button"><i class="mini material-icons edit">clear</i>REMOVE</div>
            </div>
            <img class="thread-image-thumb" src="{{this.model.get('image')}}" width="50px" height="40px"/>
        </div>
        <div class="white-background-input-field" id="thread-image-forms">
            <div class="image-upload-method">
                <div class="header-lato">Upload Image:</div>
                <button class="waves-effect waves-light btn" id="image-from-computer"><i class="material-icons left">file_upload</i>COMPUTER</button>
                <button class="waves-effect waves-light btn" id="image-from-link"><i class="material-icons left">insert_link</i>LINK</button>
            </div>
            <form method="post" enctype="multipart/form-data" class="hide" id="attachment_image_form">
                <div class="file-field input-field">
                    <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                    <div class="btn attachment-image-pick dark-blue-background">
                        <span>Add an Image</span>
                        <input id="thread_attachment_image" name="attachment_image" type="file">
                    </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </form>
            <input id="link-image-form" type="text" class="hide" placeholder="Paste your image link here..."/>
            <div class="use-previous-image action-button"><i class="mini material-icons edit">undo</i>USE PREVIOUS IMAGE</div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="edit-thread waves-effect btn">Save Edit</button>
        <button class="cancel-thread waves-effect btn-flat">Cancel</button>
    </div>
</div>
{% endverbatim %}
