{% load i18n %}
{% verbatim %}
    <div class="nav-wrapper">
        <div class="nav-categories nav-item">
            <div id="thread-meta">
                <div class="meta-item">
                    <span class="location"></span>
                </div>
                <div class="meta-item">
                    <span class="thread-location">({{this.model.get('location')}})</span>
                </div>
                <div class="meta-item">
                    <span class="body-category">{{this.model.get('category').name}}</span>
                </div>

                <div class="meta-item">
                    <i class="mini material-icons">keyboard_arrow_right</i>
                </div>
                <div class="meta-item title-item">
                    <span class="thread-title">{{this.model.get('title')}}</span>
                    <i class="tiny material-icons background-info-link enter-wiki">assignment</i>
                </div>
                {{# if (is_draft) { }}
                <div class="meta-item">
                    <div class="add-button">
                        <button class="publish-thread btn waves-effect dark-blue-background" id="js-publish-btn">
                            <span class="text">Publish Thread</span>
                        </button>
                    </div>
                </div>
                {{# } }}
                <div class="add-button">
                    <button class="add-civi btn waves-effect right">
                        <i class="material-icons left">note_add</i>
                        <span class="text">Add Civi</span>
                    </button>
                </div>
                <div class="add-button" style="margin-left: 4px">
                    <a id="csv-export" href="{{this.model.get('thread_id')}}/csv" class="btn waves-effect">
                        <span class="text">Export</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}
