{% verbatim %}
<div class="thread-body">
    <nav class="thread-nav body-banner">
        <div class="nav-wrapper">
            <div class="nav-categories nav-item">
                <div id="thread-meta">
                    <div class="meta-item">
                        <span class="location"></span>
                    </div>
                    <div class="meta-item">
                        <span class="thread-location">({{this.model.get('location')}})</span>
                    </div>
                    <div class="meta-item">
                        <span class="body-category">{{this.model.get('category').name}}</span>
                    </div>

                    <div class="meta-item">
                        <i class="mini material-icons">keyboard_arrow_right</i>
                    </div>
                    <div class="meta-item title-item">
                        <span class="thread-title">{{this.model.get('title')}}</span>
                        <i class="tiny material-icons background-info-link enter-wiki">assignment</i>
                    </div>
                    {{# if (is_draft) { }}
                    <div class="meta-item">
                        <div class="add-button">
                            <button class="publish-thread btn waves-effect dark-blue-background" id="js-publish-btn">
                                <span class="text">Publish Thread</span>
                            </button>
                        </div>
                    </div>
                    {{# } }}
                    <div class="add-button">
                        <button class="add-civi btn waves-effect right">
                            <i class="material-icons left">note_add</i>
                            <span class="text">Add Civi</span>
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </nav>
    <div class="col nav-column civi-outline">
        <div class="issue-outline">
            <div class="issue-outline-header gray-text bold-text">
                <span class="issue-outline-title">ISSUE OUTLINE</span>
                <span class="civi-total">({{this.model.get('num_civis')}})</span>
                <i class="expand-nav material-icons right expanded">keyboard_arrow_down</i>
            </div>
            <div class="civi-outline" id="civi-outline"></div>
        </div>
    </div>

    <div class="row">
        <div class="col main-thread scroll-col" id="main-thread">
            <div id="thread-problems"></div>
            <div id="thread-causes"></div>
            <div id="thread-solutions"></div>
            <div class="civi-padding"></div>
        </div>
        <div class="col responses scroll-col">
            <div id="new-civi-box"></div>
            <div class="responses-box"></div>
            <div class="responses-padding scroll-padding"></div>
        </div>
    </div>

    <div id="civi-image-modal" class="modal">
        <div class="modal-content center">
            <img id="civi-image-big" src="/static/img/no_image_md.png" />
        </div>
    </div>
</div>
{% endverbatim %}
