<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/login_less.html" %}
</head>

<script id="entry-template" type="text/template">
    {% include "partials/login/entry_base.html" %}
</script>
<script id="register-template" type="text/template">
    {% include "partials/login/beta_register_base.html" %}
</script>

<body>
    <div id="beta_register"></div>
</body>

<script type="text/javascript" src="{% static "js/beta_register.js" %}"></script>
<script type="text/javascript">
    // TODO: Var to initialize to register if routed,
    // TODO: pre-fil variable if routed from verification page
    var mainView = new cw.BetaRegisterView();
</script>

</html>
