
<div class="row issue-item">
    <div class="thread-image col s3">
        <div class="thread-image-wrapper">
            <img class="thread-image-thumb" src="{{ image_url }}">
        </div>
    </div>
    <div class="content col s9">
        <div class="thread-category">{{= category.name }}</div>
        <a href="thread/{{ id }}">
            <div class="thread-title">{{ title }}</div>
            <div class="thread-summary">{{ summary }}</div>
        </a>
        <div class="issue-stats">
            <div class="stat">
                <div class="number">{{ num_views }}</div>
                <div class="description">VIEWS</div>
            </div>
            <div class="vert-divider"></div>
            <div class="stat">
                <div class="number">{{ num_civis }}</div>
                <div class="description">CIVIS</div>
            </div>
            <div class="vert-divider"></div>
            <div class="stat">
                <div class="number">{{ num_solutions }}</div>
                <div class="description">SOLUTIONS</div>
            </div>
        </div>
    </div>
</div>
