{% load i18n %}
<div class="container register-wrapper">
    <div class="title-block">
        <div class="title-lato">Beta Registration</div>
        <div class="accent-line"></div>
    </div>

    <div class="input-area center-align">
        <div class="row">
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="email" type="email" class="validate" value="{{ email }}" disabled>
                <label for="email">Email</label>
            </div>
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
        <input id="beta_token" type="hidden" value="{{ beta_token }}" disabled>
    </div>
    <button class="register-button btn waves-effect" type="submit" name="action">Register
        <i class="material-icons right">account_box</i>
    </button>
</div>
