{% load i18n %}
<div class="container login-wrapper">
    <div class="title-block">
        <div class="title-lato">Log in</div>
        <div class="accent-line"></div>
        <div class="start-area">
            <span class="body-lato">don't have an account?</span>
            <span class="dark-link-lato register-link linkz">Register</span>
        </div>
    </div>
    <div class="input-area row">
        <div class="">
            <div class="login-input white-background-input-field input-field col s12 left-align">
                <input id="username" type="text" class="validate" autofocus>
                <label for="username">Username</label>
            </div>
            <div class="login-input white-background-input-field input-field col s12 left-align">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
    </div>
    <div class="notice-text">
        Forgot your username or password? <a class="link-lato" href="/auth/forgot/">Click Here</a>
    </div>
    <div class="">
        <button class="login-button btn waves-effect" type="submit" name="action">Log In
            <i class="material-icons right">exit_to_app</i>
        </button>
    </div>
</div>
