<div class="step3">
    <div class="card">
        <div class="card-content">
            <div class="step-title">
                <div class="section">
                    <div class="title-lato center">
                        All Done!
                    </div>
                </div>
                <div class="accent-line"></div>
            </div>
            <div class="row">
                <div class="col s12 center">

                    <div class="subtitle-lato">We are excited to have you onboard :)</div>
                </div>
            </div>
        </div>
        <div class="section center">
            <a class="btn waves-effect" type="submit" href="/">Go To CiviWiki
            <i class="material-icons right">arrow_forward</i>
            </a>
        </div>
    </div>
</div>
