{% verbatim %}
    {{# if (notification.length > 0) { }}
    <div class="container">
        <div class="section">
        {{# _.each(notification, function (n) { }}
            <div class="col s12">
            {{= cw.underscorePartial('notification-item-template', n)}}
            </div>
        {{# }, this); }}
    </div>
    </div>
    {{# } else { }}
        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <div class="center title-lato grey-text">NO NOTIFICATIONS</div>
                </div>
            </div>
        </div>
    {{# } }}
{% endverbatim %}
