@import 'base';

.nav-button-outer {
    position: fixed;
    bottom: 30px;
    right: 30px;

    .nav-button {
        background-color: @purple;
    }

    .nav-button-icon {
        width: 100%;
    }

    .feed-nav-button-icon {
        padding: 4px;
    }
}

.profile-button-outer {
    text-align: center;

    .profile-button {
        background-color: @purple;
        width: 40px;
        height: 40px;
    }

    .profile-button-icon {
        width: 100%;
        line-height: 40px;
    }
}
