{% load i18n %}

<div class="container register-wrapper">
    <div class="title-block">
        <div class="title-lato">{% trans "Register" %} </div>
        <div class="accent-line"></div>
        <div class="start-area">
            <span class="body-lato">{% trans "already have an account?" %} </span>
            <span class="dark-link-lato login-link linkz">{% trans "Log in" %}</span>
        </div>
    </div>

    <div class="input-area center-align">
        <div class="row">
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="username" type="text" class="validate" required>
                <label for="username">{% trans "Username" %}</label>
            </div>
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="email" type="email" class="validate" required>
                <label for="email">{% trans "Email" %}</label>
            </div>
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="password" type="password" class="validate" required>
                <label for="password">{% trans "Password" %}</label>
            </div>
        </div>
    </div>
    <div class="notice-text">
        {% trans "By registering you agree to our" %} <a class="link-lato" href="#">{% trans "terms&policy" %} </a>
    </div>
    <button class="register-button btn waves-effect" type="submit" name="action">{% trans "Register" %}
        <i class="material-icons right">account_box</i>
    </button>
</div>
