<!doctype html>

<head>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/account.less" %}"/>
    {% include "base/links.html" %}

    <script id="account-template" type="text/template">
        {% include "partials/account/base.html" %}
    </script>
</head>



<body>
    <div id="account">

    </div>
</body>

<script type="text/javascript" src="{% static "js/account.js" %}"></script>
<script type="text/javascript">
    var username = '{{user.username}}';
    var accountModel = new cw.AccountModel({}, {
        user: username
    });
    accountModel.fetch();

    var accountView = new cw.AccountView({
        model: accountModel
    });
</script>

</html>
