<!doctype html>

<head>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/feed.less" %}"/>
    {% include "base/links.html" %}

    <script id="feed-template" type="text/template">
        {% include "partials/feed/feed_base.html" %}
        {% include "partials/utils/account_nav_button.html" %}
    </script>
</head>

<body>
    <div id="feed">

    </div>
</body>

<script type="text/javascript" src="{% static "js/feed.js" %}"></script>
<script type="text/javascript">
    var feedView = new cw.FeedView();
</script>

</html>
