<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/account_less.html" %}
</head>

<script id="feed-template" type="text/template">
    {% include "partials/feed/feed_base.html" %}
    {% include "partials/utils/account_nav_button.html" %}
</script>

<body>
    <div id="feed">

    </div>
</body>

<script type="text/javascript" src="{% static "js/feed.js" %}"></script>
<script type="text/javascript">
    var feedView = new cw.FeedView();
</script>

</html>
