<!DOCTYPE HTML>
<!-- Landing Page -->

<head>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/landing.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/static_nav.less" %}"/>
    {% include "base/links.html" %}
</head>

<title>CiviWiki</title>
<header>
<script id="landing-template" type="text/template">
    <div class="landing-bg valign-wrapper">
        <div class="container landing-title">
            <div class="row">
                <div class="landing-title-text">Discuss <span class="normal">Problems</span></div>
                <div class="landing-title-text">Discover <span class="normal">Solutions</span></div>
                <div class="landing-title-text">Enact <span class="landing-title-highlight normal">Change</span></div>
                <div class="landing-title-subtext">Building a Better Democracy for the Internet Age</div>
            </div>
            <div class="row">
                <a href="login" class="btn-large waves-effect dark-blue-background  landing-title-button">Join CiviWiki</a>
                <a href="#learnmore" class="btn-large waves-effect landing-title-button border-button">Learn More</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="landing-content">
        <div class="white" id="learnmore">
            <div class="introduction">
                <div class="container section center content-1">
                    <div class="row">
                        <div class="white cushion">
                            <div class="container section">
                                <h3 class="content-1-title bold">CiviWiki is a non-profit community working to develop a democratic engagement web system.</h3>
                                <div class="accent-line"></div>
                                <p class="content-1-text section">
                                    At CiviWiki we believe democracy works best when citizens are educated on issues and participate in the democratic process.
                                    <br>
                                    <br> We are a non-profit, non-partisan, community; working to build an open-source platform where citizens discuss the problems they face, discover solutions, and petition their representative to enact change.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video cushion">
                    <div class="container section">
                        <h4 class="section center white-text">Check out our short video describing CiviWiki...</h4>
                        <p class="center"></p>
                        <div class="videoWrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ll4VZv4a8bE" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="grey-text text-darken-3 center">Video made by <a class="grey-text text-darken-1" href="https://sheldonanim.com/" target="_blank">Jon Sheldon</a></div>
                    </div>
                </div>

                <div class="why-civiwiki container cushion">
                    <div class="section">
                        <h2 class="bold center content-title">Why CiviWiki?</h2>
                    </div>
                    <div class="section">
                        <div class="row">
                                <div class="col s12 m6 center">
                                        <i class="large material-icons">group</i>
                                </div>
                                <div class="col s12 m6">
                                    <h5 class="content-subtitle">Democratically Contributed Media</h5>
                                    <p class="content-text">
                                        As the name CiviWiki implies, our core content will be contributed by volunteers on our Wiki.
                                        <br>
                                        <br> Our topic format is <b>modular</b>.
                                        <br>
                                        <br> The structure both allows a community of volunteers to collaborate on a single political issue, and reserves space for dissenting opinions.
                                    </p>
                                </div>
                            </div>

                    </div>
                    <div class=" section">
                        <div class="row">
                                <div class="col s12 m6 push-m6 center">
                                    <i class="large material-icons">web</i>
                                </div>
                                <div class="col s12 m6 pull-m6">
                                    <h5 class="content-subtitle">Personalized Policy Feed</h5>
                                    <p class="content-text">
                                        CiviWiki intelligently personalizes users' feed in two meaningful ways.
                                        <br>
                                        <br> First, the issues promoted to users' feed will be personalized to the user's expressed interests, and the timeliness of the issue.
                                        <br>
                                        <br> Second, the structure of the issue topics break policy positions into bite-sized contentions we call Civies. Each Civi is logically related to the rest of the topic. Based on the user's support, opposition, or neutrality
                                        to each Civi, CiviWiki promotes different relevant content.
                                    </p>
                                </div>
                            </div>

                    </div>
                    <div class="section">
                        <div class="row">

                                <div class="col s12 m6 center">
                                    <i class="large material-icons">location_city</i>
                                </div>
                                <div class="col s12 m6">
                                    <h5 class="content-subtitle">Citizen/Representative Engagement</h5>
                                    <p class="content-text">
                                        CiviWiki's core goal is to engage citizens and their representatives, with the goal of making government more accountable.
                                        <br>
                                        <br> First, CiviWiki will organize user's policy profile and compare it to every political candidate in the user's district. This quick, detailed, comparison will help users make informed votes, and we believe increased voter
                                        confidence will increase voter turnout.
                                        <br>
                                        <br> Second, CiviWiki will collect anonymized user data and forward district level statistics to representatives. With a critical mass of users, we believe timely district level polling data will influence representatives'
                                        votes
                                    </p>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lastcall cushion">
            <div class="container section">
                <div class="section">
                    <h5 class="center text-call">See what your voice can bring to your community</h5>
                </div>
                <div class="section row center">
                    <a href="login" class="btn btn-large waves-effect waves-light"><span class="dark-grey-text">Join CiviWiki</span></a>
                </div>
            </div>
        </div>
        <div class="in-development">
            <div class="container section center">
                <h3 class="center bold"><i class="small material-icons yellow-text text-darken-2">warning</i> CiviWiki is still in <span class="text-highlight">development</span>! <i class="small material-icons yellow-text text-darken-2">warning</i><br>Make sure to...</h4>
                <div class="row">
                    <div class="container section center">
                        <div class="col s12 m5 center">
                            <a class="btn btn-large" href="login">Register</a>
                        </div>
                        <div class="col s12 m2">
                            <h4 class="center ampersand">&</h4>
                        </div>
                        <div class="col s12 m5 center">
                            <a class="btn btn-large " href="support_us">Support Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
</main>
<footer class="page-footer static-footer">
    <div class="container">
        <div class="row center">
            <div class="external-links grey-text text-darken-2">
                <a class="grey-text text-darken-1" href="mailto:mitchell@civiwiki.org">Email</a> |
                <a class="grey-text text-darken-1" href="https://www.facebook.com/CiviWiki/"  target="_blank">Facebook</a> |
                <a class="grey-text text-darken-1" href="https://twitter.com/civiwiki"  target="_blank">Twitter</a> |
                <a class="grey-text text-darken-1" href="https://github.com/CiviWikiorg/CiviWiki"  target="_blank">GitHub</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="grey-text text-darken-1">
                <object class="logo-img" type="image/svg+xml" data="{% static "img/logo-civiwiki-tree-white.svg" %}" height="32px"></object><span class="wordmark">CiviWiki</span>
                <div class="footer-right right">
                    <a class="grey-text" href="policy">Privacy Policy</a> |
                    <a class="grey-text" href="mailto:mitchell@civiwiki.org">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</script>

<body>
    {% include "base/static_nav.html" %}
    <div id="landing"></div>
</body>

<!-- Backbone Views File -->
<script src="/static/js/landing_view.js" type="text/javascript"></script>
<script type="text/javascript">
    var landingView = new cw.LandingView();
    $(document).ready(function() {});
</script>
