{% load i18n %}
<div class="account-edit scroll-col">
    <div class="section">
    <div class="section">
    <div class="card">
    <div class="card-content">
        <div class="row">
            <div class="title-lato center">{% trans "Edit Profile" %} </div>
            {% verbatim %}

            <div class="white-background-input-field input-field col s12">
                <input class="save-account" id="about_me" type="text" value="{{this.model.get('about_me')}}">
                <label for="zipcode">{% trans "About Me" %}</label>
            </div>

            <div class="white-background-input-field input-field col s12">
                <form method="post" enctype="multipart/form-data" id="profile_image_form">
                    <div class="section">
                        <label for="profile_image_form">{% trans "Profile Image" %} </label>
                    </div>
                    <div class="section">
                        <div id="confirmation-prompt" class="center hide">{% trans "This is only a preview image. Press confirm to finish your upload." %} </div>
                    </div>
                    <div class="z-index-1 center">
                        <img class="preview-image responsive-img" id="profile-image" src="{{this.model.get('profile_image')}}">
                    </div>
                    <div class="file-field input-field col s12 m8 push-m2" >
                        <input class="upload-image btn waves-effect hide" type="submit" value="Confirm Upload"/>
                        <div class="btn profile-image-pick">
                            <span>{% trans "Choose Image" %}</span>
                            <input id="id_profile_image" name="profile_image" type="file">
                        </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                </form>
            </div>
            {% endverbatim %}
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
