{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static 'less/base.less' %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static 'less/utils.less' %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static 'less/account.less' %}"/>
{% endblock extra_css %}

{% block content %}
{% include "global_nav.html" %}
<div id="account">
  <div id="sidebar-template">
    <div class="profile-image">
      <div class="big-image-cropper z-depth-1">
        <img
          class="responsive-img"
          src={{ user.profile.profile_image_url }}
        />
      </div>
    </div>
    {% if request.user.username != username|stringformat:"s" %}
      <div class="profile-options">
        <a class="waves-effect waves-light btn follow-btn" id="sidebar-follow-btn">
          follow
        </a>
      </div>
    {% endif %}
    <div class="user-info section">
      <div class="full-name">
        {{ user.profile.first_name }} {{ user.profile.last_name }}
      </div>
      <div class="username">@{{ user.username }}</div>
    </div>
    <div class="transparent">
      <div class="card-content">
        <div class="section">
          <div class="section-title">ABOUT ME</div>
          <div class="divider"></div>
          <div class="about-me">{{ user.profile.about_me }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
