<!doctype html>

<head>
    {% load static %}
    {% include "base/links.html" %}
    {% include "base/less_headers/feed_less.html" %}
    {% load i18n %}
</head>

<script id="feed-template" type="text/template">
    {% include "accounts/partials/feed/feed_base.html" %}
</script>

<script id="new-thread-template" type="text/template">
    {% include "accounts/partials/feed/new_thread.html" %}
</script>
<script id="thread-card-template" type="text/template">
    {% include "accounts/partials/feed/thread_card.html" %}
</script>
<script id="feed-list-template" type="text/template">
    {% include "accounts/partials/feed/feed_list.html" %}
</script>
<script id="categories-template" type="text/template">
    {% include "accounts/partials/feed/categories.html" %}
</script>

<body>
    {% include "partials/utils/global_nav.html" %}
    <div id="feed">

    </div>
</body>

<script type="text/javascript" src="{% static "js/feed.js" %}"></script>
<script type="text/javascript">
    var username = '{{user.username}}',
        user_id = '{{user.id}}',
        data = JSON.parse('{{data|escapejs}}');

    var threadCollection = new cw.FeedThreadCollection(data.threads);
    var draftCollection = new cw.FeedThreadCollection(data.draft_threads);
    var feedView = new cw.FeedView({
            username: username,
            user_id: user_id,
            categories: _.sortBy(data.categories,"id"),
            user_categories: data.user_categories,
            states: data.states,
            threads: threadCollection,
            trending: data.trending,
            draft_threads: draftCollection
        });
</script>

</html>
