{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/login.less" %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js" integrity="sha512-0YpTMMSmmT3qN4UJF5ZLv5MPiwBMlOOHrIVgdBMGyNiEKoPEMGyih0WkHOEozdl0qDa5cgFEVoteWbI3Ybsxmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock extra_css %}
{% block page_title %}Password Reset{% endblock page_title %}

{% block content %}
<div class="entry-base center-align valign-wrapper">
    <div class="valign center">
        <div class="logo center">
            <object class="logo-img" type="image/svg+xml" data="{% static "img/logo-civiwiki-tree-white.svg" %}" height="64px"></object>
            <span class="wordmark">CiviWiki</span>
        </div>
        <div class="entry-forms">
            <div class="card wrapper z-depth-3">
                <div class="card-content" id="entry-content">
                    <div class="container">
                        <div class="title-block section">
                            <div class="title-lato">Password Reset</div>
                            <div class="accent-line"></div>
                        </div>
                    {% if validlink %}
                        <div class="section">
                            <p class="gray-text">Please enter your new password twice so we can verify you typed it in correctly.</p>
                        </div>
                        <form method="post">
                            <div class="input-area center-align">
                                <div class="row">
                                    <div style="display:none">
                                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                    </div>
                                    <div class="white-background-input-field input-field col s12 left-align">
                                        <label for="id_new_password1">New password</label>
                                        {{ form.new_password1 }}
                                    </div>
                                    <div class="red-text">{{ form.new_password1.errors }}</div>
                                    <div class="white-background-input-field input-field col s12 left-align">
                                        <label for="id_new_password2">Confirm password</label>
                                        {{ form.new_password2 }}
                                    </div>
                                    <div class="red-text">{{ form.new_password2.errors }}</div>
                                </div>
                            </div>
                            <button class="btn waves-effect" type="submit" name="action">Change My Password</button>
                        </form>
                    {% else %}
                        <div class="section">
                            <div class="red-text">Invalid Reset Link</div>
                        </div>
                        <div class="section">
                            <p class="gray-text">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
