{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="following-total">
    <div>
      {% blocktranslate %}
        {{ profile.following.count }} following
      {% endblocktranslate %}
    </div>
  </div>
  {% for following in profile.following.all %}
    <div class="col s12 m6">
      <div class="user-chip chip white">
        <div class="user-chip-contents">
          <a href="/profile/{{ following.user.username }}/">
            <img src="{{ following.profile_image_url }}" alt="{{ following.user.username }}">
          </a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="section no-state">
      <div class="container">
        <div class="section">
          <div class="center title-lato grey-text">
            {% translate "Not following any users" %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}
