{% extends "base.html" %}

{% block extra-css%}{% endblock extra-css %}

{% block content %}
  <div class="following-total">
    <div>
      {{ profile.following.count }} Following
    </div>
  </div>
  {% for following in profile.following.all %}
    <div class="col s12 m6">
      <div class="user-chip chip white">
        <div class="user-chip-contents">
          <a href="/profile/{{ following.user.username }}/">
            <img src="{{ following.profile_image_url }}" alt="{{ following.user.username }}">
            <!--<div class="name">
                {{ following.first_name}} {{ following.last_name }}
            </div>
            <div class="light-gray-text atname">
                @{{ following.user.username }}
            </div>-->
          </a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="section no-state">
      <div class="container">
        <div class="section">
          <div class="center title-lato grey-text">
            Not following any users
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}

{% block extra-js %}{% endblock extra-js %}
