{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}Settings{% endblock page_title %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/setup.less" %}"/>
{% endblock extra_css %}

{% block content %}
    {% include "global_nav.html" %}
    <section style='display: flex;justify-content: center; padding-top: 20px;'>
        <div class="setting card" style="width: 75%;" >
            <div class="card-content">
                <div class="step-title">
                    <div class="section">
                        <div class="title-lato center">
                            Account Settings
                        </div>
                    </div>
                    <div class="accent-line"></div>
                    {{form.non_field_errors}}
                    <form style="padding-top: 10px;" method="POST">
                        {% csrf_token %}
                        <div class='row'>
                            <div class=" col s12 m6 ">
                                <span class='error'>{{form.first_name.errors}}</span>
                                {{form.first_name.label_tag}}
                                {{form.first_name}}
                            </div>
                            <div class=" col s12 m6 ">
                                <span class='error'>{{form.last_name.errors}}</span>
                                {{form.last_name.label_tag}}
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class='row'>
                            <div class=" col s12 m6 ">
                                <span class='error'>{{form.username.errors}}</span>
                                {{form.username.label_tag}}
                                {{form.username}}
                            </div>
                            <div class=" col s12 m6 ">
                                <span class='error'>{{form.email.errors}}</span>
                                {{form.email.label_tag}}
                                {{form.email}}
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col s24 m12">
                                <span> {{form.about_me.errors}}</span>
                                {{form.about_me.label_tag}}
                                {{form.about_me}}
                            </div>
                        </div>
                        <div class="row center">
                            {%if not readonly %}
                                <input class='btn' type='submit' value="Save Changes"></input>
                            {% endif%}
                            </div>
                    </form>
                </div>
            <div>
        </div>
    </section>
</body>
{% endblock content %}
