{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% for civi in user.civis.all %}
        <div class="civi-card white" data-id="">
            <div class="civi-header-account white">
            <div class="civi-title-outer">
                <div class="civi-type gray-text">{{ civi.c_type }}</div>
                <div class="civi-title">{{ civi.title }}</div>
            </div>
            <div class="right rating">
                <div class="rating-box r-0">
                <div class="rating-score r-0">{{ civi.votes.votes_vneg }}</div>
                <div class="vote-icon strongly-disagree-icon double-icon r-0">
                    <i class="material-icons double-icon-1">thumb_down</i>
                    <i class="material-icons double-icon-2">thumb_down</i>
                </div>
                </div>
                <div class="rating-box r-1">
                <div class="rating-score r-1">{{ civi.votes.votes_neg }}</div>
                <div class="vote-icon disagree-icon r-1">
                    <i class="material-icons">thumb_down</i>
                </div>
                </div>
                <div class="rating-box r-2">
                <div class="rating-score r-2">
                    {{ civi.votes.votes_neutral }}
                </div>
                <div class="vote-icon neutral-icon r-2">
                    <i class="material-icons">remove</i>
                </div>
                </div>
                <div class="rating-box r-3">
                <div class="rating-score r-3">{{ civi.votes.votes_pos }}</div>
                <div class="vote-icon agree-icon r-3">
                    <i class="material-icons">thumb_up</i>
                </div>
                </div>
                <div class="rating-box r-4">
                <div class="rating-score r-4">{{ civi.votes.votes_vpos }}</div>
                <div class="vote-icon strongly-agree-icon double-icon r-4">
                    <i class="material-icons double-icon-1">thumb_up</i>
                    <i class="material-icons double-icon-2">thumb_up</i>
                </div>
                </div>
            </div>
            </div>
            <div class="civi-body">
            <div class="civi-body-inner">{{ civi.body }}</div>
            </div>
            <div class="civi-footer">
            <div class="author-photo-holder">
                <div class="author-photo white">
                <div
                    class="author-photo transparent"
                    style="background-image: url('{{ civi.author.profile.profile_image_url }}'); background-size: 34px;"
                ></div>
                </div>
            </div>
            <div class="author-info">
                <div class="author-name purple-text bold-text">
                {{ civi.author.username }}
                </div>
                <div class="created gray-text">
                {{ civi.created|date:"F j, Y" }}
                </div>
            </div>
            <div class="right civi-footer-actions">
                <a class="link-lato" href="/thread/{{ civi.thread.id }}">
                Go to context<i class="mini material-icons">launch</i>
                </a>
            </div>
            </div>
        </div>
        {% empty %}
        <div class="section no-state">
            <div class="container">
            <div class="section">
                <div class="center title-lato text">No activity</div>
            </div>
            </div>
        </div>
    {% endfor %}


{% endblock content %}
