{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static 'less/utils.less' %}"/>
{% endblock extra_css %}

{% block content %}
  <div class="followers-total">
    <div>
      {% blocktranslate %}
        {{ profile.followers.count }} Followers
      {% endblocktranslate %}
    </div>
  </div>
  {% for followers in profile.followers.all %}
    <div class="col s12 m6">
      <div class="user-chip chip white">
        <div class="user-chip-contents">
          <a href="/profile/{{ followers.user.username }}/">
            <img src="{{ followers.profile_image_url }}" alt="{{ followers.user.username }}">
            @{{ followers.user.username }}
          </a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="section no-state">
      <div class="container">
        <div class="section">
          <div class="center title-lato grey-text">
            {% translate "No followers" %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock content %}
