{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/setup.less" %}"/>
{% endblock extra_css %}

{% block backbone_template %}
<script id="setup-base-template" type="text/template">
    <main class="section">
        <div class="section container">
            <!-- TODO: Welcome screen -->
            <div id="step0"></div>
            <div id="step1"></div>
            <div id="step2"></div>
            <div id="step3"></div>
        </div>
    </main>
</script>

<!-- Register Step 1: Personalize account-->
<script id="step0-template" type="text/template">
    <div class="step0">
        <div class="card">
            <div class="card-content">
                <div class="step-title">
                    <div class="section">
                        <div class="title-lato center">
                            Welcome to CiviWiki!
                        </div>
                    </div>
                    <div class="accent-line"></div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <div class="logo-img center-block"></div>
                    <div class="col s12 center">
                        <div class="subtitle-lato">We need to set up a few things before you can hop into action</div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="right-align">
                    <button class="next btn waves-effect" type="submit" name="action">Next
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- Register Step 1: Personalize account-->
<script id="step1-template" type="text/template">
    <div class="step1">
        <div class="card">
            <div class="card-content">
                <div class="step-title">
                    <div class="section">
                        <div class="title-lato center">
                            Personalize your profile
                        </div>
                    </div>
                    <div class="accent-line"></div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-area left-align">
                            <div class="row">
                                <div class="profile-image-preview col s12 m4">
                                    <div class="center profile-image-label">
                                        <div class="label-text">Profile Image</div>
                                    </div>
                                    <div class="profile-image">
                                        <div class="big-image-cropper z-depth-1 center-block">
                                            <img class="preview-image responsive-img hide" id="profile-image" src="#">
                                            <div class="placeholder"><span class="placeholder-text">NO IMAGE</span></div>
                                            <div class="loading hide">
                                                <div class="preloader-wrapper small active">
                                                    <div class="spinner-layer spinner-green-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="white-background-input-field input-field">
                                        <form method="post" enctype="multipart/form-data" id="profile_image_form">
                                            {% csrf_token %}

                                            <div class="file-field input-field">
                                                <button class="upload-image btn waves-effect hide">Change</button>
                                                <button class="cancel-image btn waves-effect hide"><i
                                                        class="material-icons">delete_forever</i></button>
                                                <div class="btn profile-image-pick ">
                                                    <span class="choose-image-text">Upload Image</span>
                                                    <input id="id_profile_image" name="profile_image" type="file"
                                                        accept="image/*">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate hide" type="text">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="text-input col s12 m8">
                                    <div class="row">
                                        <div class="white-background-input-field input-field col s6">
                                            <input id="username" type="text" class="validate" value="{{username}}" disabled>
                                            <label for="username" class="active">Username</label>
                                        </div>
                                        <div class="white-background-input-field input-field col s6">
                                            <input id="email" type="text" class="validate" value="{{email}}" disabled>
                                            <label for="email" class="active">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-background-input-field input-field col s6">
                                            <input id="first-name" type="text" class="step1-input validate">
                                            <label for="first-name">First Name</label>
                                        </div>
                                        <div class="white-background-input-field input-field col s6">
                                            <input id="last-name" type="text" class="step1-input validate">
                                            <label for="last-name">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="white-background-input-field input-field col s12">
                                            <textarea id="about-me"
                                                class="about-me materialize-textarea step1-input validate" length="500"
                                                maxlength="500"></textarea>
                                            <label for="about-me">About Me</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <div class="right-align">
                    <span class="help-text invalid">Please fill out all the fields</span>
                    <span class="help-text valid hide">All set!</span>
                    <button class="finish btn waves-effect disabled" type="submit" name="action">Finish
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- Register Step 1: Personalize account-->
<script id="step2-template" type="text/template">
    <div class="step2">
        <div class="card">
            <div class="card-content">
                <div class="step-title">
                    <div class="section">
                        <div class="title-lato center">
                            All Done!
                        </div>
                    </div>
                    <div class="accent-line"></div>
                </div>
                <div class="row">
                    <div class="col s12 center">
    
                        <div class="subtitle-lato">We are excited to have you onboard :)</div>
                    </div>
                </div>
            </div>
            <div class="section center">
                <a class="btn waves-effect" type="submit" href="/">Go To CiviWiki
                    <i class="material-icons right">arrow_forward</i>
                </a>
            </div>
        </div>
    </div>
</script>
{% endblock backbone_template %}

{% block content %}
    <div id="user-setup"></div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static "js/user-setup.js" %}"></script>
<script type="text/javascript">
    var accountUsername= "{{ username }}";
    var accountModel = new cw.AccountModel({username: accountUsername});

    var setupView = new cw.UserSetupView({model: accountModel});
    accountModel.fetch();
</script>
{% endblock extra_js %}
