{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/setup.less" %}"/>
{% endblock extra_css %}

{% block backbone_template %}
<script id="setup-base-template" type="text/template">
    {% include "partials/user-setup/user-setup-base.html" %}
</script>
<script id="step0-template" type="text/template">
    {% include "partials/user-setup/step0.html" %}
</script>
<script id="step1-template" type="text/template">
    {% include "partials/user-setup/step1.html" %}
</script>
<script id="step2-template" type="text/template">
    {% include "partials/user-setup/step2.html" %}
</script>
<script id="rep-chip-template" type="text/template">
    {% verbatim %}
    <div class="rep bold-text purple-text chip">
        <img src="https://theunitedstates.io/images/congress/225x275/{{ rep.bioguide_id }}.jpg" alt="rep image">
        <span>{{rep.title}} {{rep.first_name}} {{rep.last_name}} </span>
    </div>
    {% endverbatim %}
</script>
{% endblock backbone_template %}

{% block content %}
    <div id="user-setup"></div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static "js/user-setup.js" %}"></script>
<script type="text/javascript">
    var accountUsername= "{{ username }}";
    var accountModel = new cw.AccountModel({username: accountUsername});

    var setupView = new cw.UserSetupView({model: accountModel});
    accountModel.fetch();
</script>
{% endblock extra_js %}
