/* Share thread dropdown menu styles */
.share {
  margin-top: 4px;
  min-width: 6em;
  z-index: 3;
}
#share-options {
  position: absolute;
  display: none;
  left: -50%;
}

.share-container {
  padding: 2px;
  
}

/* Modified button styles, originally from sharingbutton.io*/
.resp-sharing-button {
  border-radius: 4px;
  transition: 25ms ease-out;
  padding: 0.32em 0.25em;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  vertical-align: center;
  margin: 0px;

  svg {
    width: 1em;
    line-height: 2.5em;
    height: 2.5em;
    vertical-align: top;
  }
}


.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button--medium svg {
  margin: 0;
  vertical-align: middle;
  
}

.resp-sharing-button__icon {
  fill: #ffffff;
  margin: 0px 4px;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
  &:hover,
  &:active {
    background-color: #2795e9;
    border-color: #2795e9;
  }
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;

  &:hover,
  &:active {
    background-color: #2d4373;
    border-color: #2d4373;
  }
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
  &:hover,
  &:active {
    background-color: #3a80c1;
    border-color: #3a80c1;
  }
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
  &:hover,
  &:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
  }
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
  &:hover,
  &:active {
    background-color: #c23321;
    border-color: #c23321;
  }
}

.resp-sharing-button--tumblr {
  background-color: #35465c;
  border-color: #35465c;
  &:hover,
  &:active {
    background-color: #222d3c;
    border-color: #222d3c;
  }
}
