<!doctype html>
<html>
<head>
    {% load static %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
    <script src="{% static "dependencies/less.min.js" type="text/javascript" %}"></script>
    <title>{{ title }}</title>
</head>

<script id="general-template" type="text/template">
    <div id="general-section" class="center container section">
        <div class="row">
            <a href="/"><img src="{% static "img/logo-wordmark.png" %}"></a>
        </div>
        <div class="section z-depth-1">
            <div class="title-lato">{{ title }}</div>
            <div class="row">
                <div class="container">
                    <p class="grey-text container">{{ content }}</p>
                </div>
                {% if link %}
                <div class="section">
                    <a class="btn dark-blue-background" href="{{ link.href }}">{{ link.label }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</script>

<body id="general_wrapper">
    <div id="general">
    </div>
</body>

<!-- Backbone Views File -->
<script type="text/javascript" src="{% static "js/general_view.js" %}"></script>
<script type="text/javascript">
    var generalView = new cw.GeneralView();
</script>
</html>
