{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
{% endblock extra_css %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block backbone_template %}
<script id="general-template" type="text/template">
    <div id="general-section" class="center container section">
        <div class="row">
            <a href="/"><img src="{% static "img/logo-wordmark.png" %}"></a>
        </div>
        <div class="section z-depth-1">
            <div class="title-lato">{{ title }}</div>
            <div class="row">
                <div class="container">
                    <p class="grey-text container">{{ content }}</p>
                </div>
                {% if link %}
                <div class="section">
                    <a class="btn dark-blue-background" href="{{ link.href }}">{{ link.label }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</script>
{% endblock backbone_template %}

{% block body_id %}general_wrapper{% endblock body_id %}
{% block content %}
    <div id="general">
    </div>
{% endblock content %}

{% block extra_js %}
<!-- Backbone Views File -->
<script type="text/javascript" src="{% static "js/general_view.js" %}"></script>
<script type="text/javascript">
    var generalView = new cw.GeneralView();
</script>
{% endblock extra_js %}
