{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}" />
<link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}" />
<link type="text/css" rel="stylesheet/less" href="{% static "less/thread.less" %}" />
{% endblock extra_css %}

{% block backbone_template %}
<script id="thread-template" type="text/template">
    {% verbatim %}
    <div class="row" style="margin: 0;">
        <div class="col s12 thread-wiki-holder"></div>
    </div>
    <div class="row" style="margin: 0;">
        <div class="col s12 thread-body-holder "></div>
    </div>
    <div class="new-civi-modal-holder"></div>
    <div class="new-response-modal-holder"></div>
    <div class="edit-thread-modal-holder"></div>
    {% endverbatim %}
</script>

<script id="thread-wiki-template" type="text/template">
    {% verbatim %}
    <div class="thread-wiki">
        <div class="wiki-banner">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <div class="wiki-title title-lato dark-white-text">{{this.model.get('title')}}</div>
                        <div class="wiki-stats light-gray-text">
                            <span class="wiki-stat">{{this.model.get('num_views')}} Views</span>
                            <span class="wiki-stat">{{this.model.get('num_civis')}} Civis</span>
                        </div>
                    </div>
                    <div class="wiki-image col s6">
                        <div class="thread-image-wrapper">
                            <img class="thread-image-thumb" src="{{this.model.get('image')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <div class="wiki-author">
                            <div class="author-photo-holder">
                                <div class="author-photo transparent" style="background-image: url('{{this.model.get('author').profile_image}}'); background-size: 40px;"></div>
                            </div>
                            <div class="author-info">
                                <a class="author-name bold-text" href="/profile/{{this.model.get('author').username}}">
                                    {{this.model.get('author').first_name}} {{this.model.get('author').last_name}}
                                </a>
                            </div>
                        </div>
                    </div>
                    {{# if (this.model.get('author').username == this.username) { }}
                    <div class="col s3 wiki-edit-actions">
                        <div class="center">
                            <div class="edit-thread-button">
                                <i class="mini material-icons edit">edit</i>
                                <span class="edit-text">EDIT THREAD</span>
                            </div>
    
                        </div>
                    </div>
                    {{# } }}
                </div>
            </div>
        </div>
        <div class="wiki-body">
            <div class="container">
                <div class="row">
    
                    <div class="col s6">
                        <div class="wiki-body-header">
                            <span class="wiki-header-category gray-text"><span class="black-text bold-text wiki-header-inner">Category:</span>{{this.model.get('category').name}}</span>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="wiki-edit hide">
    
    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8">
                        <div class="wiki-body-summary">
                            <div class="black-text bold-text wiki-body-summary-title">
                                Summary
                            </div>
                            <div class="gray-text wiki-body-summary-text">
                                {{this.model.get('summary')}}
                            </div>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="wiki-contributors">
                            <div class="gray-text wiki-contributors-title">
                                Top Contributors
                            </div>
                            <div class="wiki-contributors-list">
                                <div class="row" style="padding: 0;">
                                    {{# _.each(this.model.get('contributors'), function (c, idx) { }}
                                        {{# if (idx > 7) { return; } else { }}
                                            <div class="profile-button-wrapper col l3 m6 s12">
                                                {{= cw.underscorePartial('profile-button-template', {c:c})}}
                                            </div>
                                        {{# } }}
                                    {{# }, this); }}
                                    {{# if (this.model.get('contributors').length > 8) { }}
                                        <div class="col s12">
                                            <span class="gray-text wiki-contributors-more">+{{this.model.get('contributors').length - 8}} more</span>
                                        </div>
                                    {{# } }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="wiki-facts">
                            <div class="black-text bold-text wiki-facts-title">
                                Facts related to this thread:
                            </div>
                            <div class="gray-text wiki-facts-list">
                                {{# _.each(this.model.get('facts'), function (fact) { }}
                                    <div class="wiki-fact">&mdash; {{fact}}</div>
                                {{# }); }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="wiki-enter-body">
                            <button class="enter-body btn waves-effect">Go to Thread
                                <i class="material-icons right">keyboard_arrow_down</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    {% endverbatim %}    
</script>
<script id="edit-wiki-template" type="text/template">
    {% verbatim %}
    <div class="thread-wiki">
        <div class="wiki-banner">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <div class="wiki-title">
                            <div class="edit-thread-contention edit-thread-container">
                                <div class="input-field dark-background-input-field left-input-field">
                                    <input id="thread-title" type="text" length="120" value="{{this.model.get('title')}}" class="blue-text">
                                    <label for="thread-title">Title</label>
                                </div>
                            </div>
                        </div>
    
                        <div class="wiki-stats light-gray-text">
                            <span class="wiki-stat">{{this.model.get('num_views')}} Views</span>
                            <span class="wiki-stat">{{this.model.get('num_civis')}} Civis</span>
                        </div>
                    </div>
                    <div class="wiki-image col s6">
                        <div class="thread-image-wrapper">
                            <img class="thread-image-thumb" src="{{this.model.get('image')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <div class="wiki-author">
                            <div class="author-photo-holder">
                                <div class="author-photo transparent" style="background-image: url('{{this.model.get('author').profile_image}}'); background-size: 40px;"></div>
                            </div>
                            <div class="author-info">
                                <a class="author-name bold-text" href="/profile/{{this.model.get('author').username}}">{{this.model.get('author').first_name}} {{this.model.get('author').last_name}}</a>
                            </div>
                        </div>
                    </div>
                    {{# if (this.model.get('author').username == this.username) { }}
                    <div class="col s3 wiki-edit-actions">
                        <div class="center">
                            <div class="edit-thread-button">
                                <i class="mini material-icons edit">edit</i>
                                <span class="edit-text">EDIT THREAD</span>
                            </div>
    
                        </div>
                    </div>
                    {{# } }}
                </div>
            </div>
        </div>
        <div class="wiki-body">
            <div class="container">
                <div class="row">
                        <div class="wiki-body-header">
                            <div class="gray-text col s12 m6">
                                <span class="black-text bold-text wiki-header-inner">Category:</span>
                                <div class="input-field">
                                    <select id="thread-category">
                                        <option value="{{this.model.get('category').id}}" selected>{{this.model.get('category').name}}</option>
                                        {{# _.each(this.model.get('categories'), function (c) { }}
                                            {{# if (c.id != this.model.get('category').id) { }}
                                            <option value="{{c.id}}">{{c.name}}</option>
                                            {{# } }}
                                        {{# }, this); }}
                                    </select>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="wiki-body-summary">
                            <div class="edit-thread-body white-background-input-field edit-thread-container">
                                <div class="input-field left-input-field">
                                    <textarea id="thread-body" type="text" class="materialize-textarea" length="4000">{{this.model.get('summary')}}</textarea>
                                    <label for="thread-body">Summary</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="previous-image">
                            <div class="header-lato">Current image:</div>
                            <div class="button-wrapper">
                                <div class="delete-previous-image action-button"><i class="mini material-icons edit">clear</i>REMOVE</div>
                            </div>
                            <img class="thread-image-thumb" src="{{this.model.get('image')}}" width="50px" height="40px"/>
                        </div>
                        <div class="white-background-input-field" id="thread-image-forms">
                            <div class="image-upload-method">
                                <div class="header-lato">Upload Image:</div>
                                <button class="waves-effect waves-light btn" id="image-from-computer"><i class="material-icons left">file_upload</i>COMPUTER</button>
                                <button class="waves-effect waves-light btn" id="image-from-link"><i class="material-icons left">insert_link</i>LINK</button>
                            </div>
                            <form method="post" enctype="multipart/form-data" class="hide" id="attachment_image_form">
                                <div class="file-field input-field">
                                    <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                                    <div class="btn attachment-image-pick dark-blue-background">
                                        <span>Add an Image</span>
                                        <input id="thread_attachment_image" name="attachment_image" type="file">
                                    </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                  </div>
                                </div>
                            </form>
                            <input id="link-image-form" type="text" class="hide" placeholder="Paste your image link here..."/>
                            <div class="use-previous-image action-button"><i class="mini material-icons edit">undo</i>USE PREVIOUS IMAGE</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="wiki-enter-body">
                            <button class="edit-thread waves-effect btn dark-blue-background">Save Edit</button>
                            <button class="cancel-thread waves-effect btn-flat">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    {% endverbatim %}
</script>


<script id="thread-nav-template" type="text/template">
    {% verbatim %}
    <div class="nav-wrapper">
        <div class="nav-categories nav-item">
            <div id="thread-meta">
                <div class="meta-item">
                    <span class="body-category">{{this.model.get('category').name}}</span>
                </div>

                <div class="meta-item">
                    <i class="mini material-icons">keyboard_arrow_right</i>
                </div>
                <div class="meta-item title-item">
                    <span class="thread-title">{{this.model.get('title')}}</span>
                    <i class="tiny material-icons background-info-link enter-wiki">assignment</i>
                </div>
                {{# if (is_draft) { }}
                <div class="meta-item">
                    <div class="add-button">
                        <button class="publish-thread btn waves-effect dark-blue-background" id="js-publish-btn">
                            <span class="text">Publish Thread</span>
                        </button>
                    </div>
                </div>
                {{# } }}
                <div class="add-button">
                    <button class="add-civi btn waves-effect right">
                        <i class="material-icons left">note_add</i>
                        <span class="text">Add Civi</span>
                    </button>
                </div>
                <div class="add-button" style="margin-left: 4px">
                    <a id="csv-export" href="{{this.model.get('thread_id')}}/csv" class="btn waves-effect">
                        <span class="text">Export</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>

<script id="thread-body-template" type="text/template">
    {% verbatim %}
    <div class="thread-body">
        <nav class="thread-nav body-banner"></nav>
        <div class="col nav-column civi-outline">
            <div class="issue-outline">
                <div class="issue-outline-header gray-text bold-text">
                    <span class="issue-outline-title">ISSUE OUTLINE</span>
                    <span class="civi-total">({{this.model.get('num_civis')}})</span>
                    <i class="expand-nav material-icons right expanded">keyboard_arrow_down</i>
                </div>
                <div class="civi-outline" id="civi-outline"></div>
            </div>
        </div>
    
        <div class="row">
            <div class="col main-thread scroll-col" id="main-thread">
                <div id="thread-problems"></div>
                <div id="thread-causes"></div>
                <div id="thread-solutions"></div>
                <div class="civi-padding"></div>
            </div>
            <div class="col responses scroll-col">
                <div id="new-civi-box"></div>
                <div class="responses-box"></div>
                <div class="responses-padding scroll-padding"></div>
            </div>
        </div>
    
        <div id="civi-image-modal" class="modal">
            <div class="modal-content center">
                <img id="civi-image-big" src="/static/img/no_image_md.png" />
            </div>
        </div>
    </div>
    {% endverbatim %}
</script>


<script id="thread-response-template" type="text/template">
    {% verbatim %}
    <div class="center section">
        <div class="section">
            {{# var parentCivi = this.civis.get(this.responseCollection.civiId); }}
            <div class="link-lato">{{ parentCivi.get('type').toUpperCase() }}</div>
            <div class="header-lato">{{ this.civis.get(this.responseCollection.civiId).get('title') }}</div>
        </div>
        <button class="btn add-response waves-effect" id="add-new-response">add response</button>
        <div class="section">
            <div id="new-response-box"></div>
        </div>
    
    </div>
    
    {{# if (this.responseCollection.length > 0) { }}
        <div id="response-list"></div>
    {{# } else { }}
        <div class="no-state center section">
            <div class="text title-lato">NO RESPONSES</div>
        </div>
    {{# } }}
    {% endverbatim %}
</script>

<script id="profile-button-template" type="text/template">
    {% verbatim %}
    <div class="profile-button-outer">
        <a href="/profile/{{c.username}}" class="profile-button btn btn-large btn-floating profile-button transparent" style="background-image: url('{{c.profile_image}}'); background-size: 40px;"></a>
    </div>
    {% endverbatim %}    
</script>

<script id="civi-template" type="text/template">
    {% verbatim %}
    <div class="civi-card" id="civi-{{this.model.get('id')}}" data-civi-id="{{this.model.get('id')}}"  data-civi-links="{{this.model.get('links')}}">
        <div class="row civi-header civi-click">
            <div class="col s10 no-pads civi-title-outer">
                <div class="civi-type gray-text">{{this.model.get('type')}}</div>
                <div class="civi-title ">
                    <span class="text-wrapper">{{this.model.get('title')}}</span>
    
                    {{# if (this.can_edit) { }}
                    <div class="dark-background-input-field hide edit-wrapper edit-type">
                        <form action="#" id="civi-type-form" class="edit-civi-type">
                            <div class="civi-types">
                                <span class="civi-type-button">
                                    <input class="with-gap" name="civi-type" type="radio" id="problem-{{this.model.get('id')}} add-problem" value="problem"/>
                                    <label for="problem-{{this.model.get('id')}}" class="civi-type-label">PROBLEM</label>
                                </span>
                                <span class="civi-type-button">
                                    <input class="with-gap" name="civi-type" type="radio" id="cause-{{this.model.get('id')}} add-cause" value="cause"/>
                                    <label for="cause-{{this.model.get('id')}}" class="civi-type-label">CAUSE</label>
                                </span>
                                <span class="civi-type-button">
                                    <input class="with-gap" name="civi-type" type="radio" id="solution-{{this.model.get('id')}} add-solution" value="solution"/>
                                    <label for="solution-{{this.model.get('id')}}" class="civi-type-label">SOLUTION</label>
                                </span>
                            </div>
                        </form>
                        <input class="edit-civi-title">
                    </div>
                    {{# } }}
                </div>
            </div>
            <div class="col s2 no-pads civi-header-actions">
                <div class="right">
    
                    {{# if (this.can_edit) { }}
                    <i class="mini material-icons edit">edit</i>
                    <i class="mini material-icons delete">delete_forever</i>
    
                    <i class="mini material-icons edit-action edit-confirm hide">save</i>
                    <i class="mini material-icons edit-action edit-cancel hide">close</i>
                    {{# } }}
                </div>
            </div>
        </div>
        <div class="civi-body">
            <div class="civi-body-inner">
                <span class="text-wrapper">{{this.model.get('body')}}</span>
                {{# if (this.can_edit) { }}
                <div class="white-background-input-field hide edit-wrapper">
                    <textarea type="text" class="materialize-textarea edit-civi-body" length="1000"></textarea>
                </div>
                {{# } }}
            </div>
            {{# if (this.model.get('links').length > 0) { }}
            <div class="civi-links text-wrapper">
                <div class="links-title gray-text">
                    LINKED CIVIS ({{this.model.get('links').length}})
                </div>
                    {{# _.each(this.model.get('links'), function(link){  }}
                        {{# var civi = this.civis.findWhere({id: link})}}
                        <div class="link-item">
                            <span class="bold-text link-lato">{{civi.get('type')}}</span>
                            <span class="gray-text">{{civi.get('title')}}</span>
                        </div>
                    {{# }, this); }}
    
            </div>
            {{# } }}
            {{# if (this.model.get('attachments').length > 0) { }}
            <div class="civi-attachments text-wrapper">
                <div class="attachments-title gray-text">
                    ATTACHMENTS ({{this.model.get('attachments').length}})
                </div>
    
                    {{# _.each(this.model.get('attachments'), function(attachment){  }}
                        <div class="attachments-item">
                            <img class="civi-image-thumb" src="{{attachment.url}}" width="50px" height="40px"/>
                        </div>
                    {{# }, this); }}
    
            </div>
            {{# } }}
            {{# if (this.can_edit) { }}
                <div class="hide edit-wrapper">
                    <div class="header-lato edit-links hide">Links:</div>
                    <div class="edit-links hide" id="magicsuggest-{{this.model.get('id')}}"></div>
                    <div class="header-lato">Images:</div>
                    <div class="previous-civi-images">
                        {{# _.each(this.model.get('attachments'), function(attachment){  }}
                            <div class="attachments-item delete-civi-image action-button" data-image-id="{{attachment.id}}">
                                <div class="delete-image-overlay input"><i class="small material-icons">clear</i></div>
    
                                <img class="civi-image-thumb" src="{{attachment.url}}" width="50px" height="40px"/>
                            </div>
                        {{# }, this); }}
                    </div>
                    <div class="section">
                        <button class="waves-effect waves-light btn btn-small" id="add-more-images"><i class="material-icons left">add</i>Add Images</button>
                        <div class="white-background-input-field hide edit-images">
                            <div class="header-lato">Upload Images:</div>
                            <form method="post" enctype="multipart/form-data" id="attachment_image_form">
                                <div class="file-field input-field">
                                    <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                                    <div class="btn btn-small attachment-image-pick dark-blue-background">
                                        <span>Add Images</span>
                                        <input id="id_attachment_image" name="attachment_image" type="file" multiple accept="image/*">
                                    </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                  </div>
                                </div>
    
                            </form>
                            <div class="image-link-list">
                                <input type="text" class="civi-link-images" placeholder="Paste your image link here..."/>
                            </div>
                            <button class="waves-effect waves-teal btn-flat btn-small" id="add-image-link-input">+ Add Another Image Link</button>
    
                            <div class="file-preview"></div>
                        </div>
                    </div>
                </div>
            {{# } }}
            {{# if (!this.is_draft) { }}
            <div class="rating center ">
                <div class="rating-wrapper">
                    <div class="rating-name">DISAGREE</div>
                    <button class="rating-button vote vote_vneg" data-rating="vneg">
                        <span class="rate-value">{{this.model.get('votes.votes_vneg')}}</span>
                    </button>
                </div>
                <div class="rating-wrapper">
                    <button class="rating-button vote vote_neg" data-rating="neg">
                        <span class="rate-value">{{this.model.get('votes.votes_neg')}}</span>
                    </button>
                </div>
                <div class="rating-wrapper">
                    <div class="rating-name">NEUTRAL</div>
                    <button class="rating-button vote vote_neutral" data-rating="neutral">
                        <span class="rate-value">{{this.model.get('votes.votes_neutral')}}</span>
                    </button>
                </div>
                <div class="rating-wrapper">
                    <button class="rating-button vote vote_pos" data-rating="pos">
                        <span class="rate-value">{{this.model.get('votes.votes_pos')}}</span>
                    </button>
                </div>
                <div class="rating-wrapper">
                    <div class="rating-name">AGREE</div>
                    <button class="rating-button vote vote_vpos" data-rating="vpos">
                        <span class="rate-value">{{this.model.get('votes.votes_vpos')}}</span>
                    </button>
                </div>
                <div class="rating-center center-block"></div>
                <div class="temp-score">{{ Math.round(this.model.get('score'), 2) }}</div>
            </div>
            {{# } }}
        </div>
        <div class="civi-footer">
            <div class="author-photo-holder">
                <div class="author-photo transparent" style="background-image: url('{{this.model.get('author').profile_image}}'); background-size: 34px;">
    
                </div>
            </div>
            <div class="author-info">
                <a class="author-name purple-text bold-text" href="/profile/{{this.model.get('author').username}}">
                    {{this.model.get('author').first_name}} {{this.model.get('author').last_name}}
                </a>
                <div class="created gray-text">
                    {{this.model.get('created')}}
                </div>
            </div>
            <div class="right civi-footer-actions">
                <div>
                    {{# if (this.can_respond && !this.model.get('rebuttal') ){ }}
                    <span class="link-lato input" id="respond-button"><i class="mini material-icons">comment</i> RESPOND</span>
    
                    {{# } }}
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}    
</script>

<script id="response-template" type="text/template">
    {% verbatim %}
    <div class="civi-card" data-civi-id="{{id}}">
        <div class="row civi-header response-click">
            <div class="col s9 no-pads civi-title-outer">
                <div class="civi-type gray-text response-text">
                    {{type}}
                </div>
                <div class="civi-title">
                    {{title}}
                </div>
            </div>
            <div class="col s3 no-pads civi-header-actions">
                <div class="right">
                    <i class="mini material-icons">edit</i>
                    <i class="mini material-icons">flag</i>
                </div>
            </div>
        </div>
        <div class="civi-body">
            <div class="civi-body-inner">
                {{body}}
            </div>
            {{# if (attachments.length > 0) { }}
            <div class="civi-attachments">
                <div class="attachments-title gray-text">
                    ATTACHMENTS ({{ attachments.length }})
                </div>
    
                    {{# _.each(attachments, function(attachment){  }}
                        <div class="attachments-item">
                            <img class="civi-image-thumb" src="{{attachment.url}}" width="50px" height="40px"/>
                        </div>
                    {{# }, this); }}
    
            </div>
            {{# } }}
            <div class="rating">
                <button class="btn waves-effect rating-button vote" data-rating="vneg">
                    <i class="tiny-for-button material-icons">thumb_down</i>
                    <i class="tiny-for-button material-icons">thumb_down</i>
                    <span class="rate-value">{{votes.votes_vneg}}</span>
                </button>
                <button class="btn waves-effect rating-button vote" data-rating="neg">
                    <i class="tiny-for-button material-icons">thumb_down</i>
                    <span class="rate-value">{{votes.votes_neg}}</span>
                </button>
                <button class="btn waves-effect rating-button vote" data-rating="neutral">
                    <i class="tiny-for-button material-icons">remove</i>
                    <span class="rate-value">{{votes.votes_neutral}}</span>
                </button>
                <button class="btn waves-effect rating-button vote" data-rating="pos">
                    <i class="tiny-for-button material-icons">thumb_up</i>
                    <span class="rate-value">{{votes.votes_pos}}</span>
                </button>
                <button class="btn waves-effect rating-button vote" data-rating="vpos">
                    <i class="tiny-for-button material-icons">thumb_up</i>
                    <i class="tiny-for-button material-icons">thumb_up</i>
                    <span class="rate-value">{{votes.votes_vpos}}</span>
                </button>
            </div>
        </div>
        <div class="civi-footer">
            <div class="author-photo-holder">
                <div class="author-photo transparent" style="background-image: url('{{author.profile.profile_image}}'); background-size: 34px;">
    
                </div>
            </div>
            <div class="author-info">
                <div class="author-name purple-text bold-text">
                    {{author.first_name}} {{author.last_name}}
                </div>
                <div class="created gray-text">
                    {{created}}
                </div>
            </div>
            <div class="right civi-footer-actions">
                <div>
                    <i class="mini material-icons favorite">star_border</i>
                    <i class="mini material-icons">comment</i>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}    
</script>

<script id="new-civi-template" type="text/template">
    <div class="new-civi-card">
        <div class="row civi-header">
            <div class="link-lato center">ADD A NEW CIVI</div>
            <div class="col s12 no-pads civi-title-outer">
                <div class="civi-title">
                    <div class="dark-background-input-field edit-wrapper edit-type">
                        <div class="header-lato new-civi-header">Choose One:</div>
                        <div class="civi-types">
                            <button class="btn btn-small waves-effect civi-type-button" value="problem" id="add-problem">PROBLEM</button>
                            <button class="btn btn-small waves-effect civi-type-button" value="cause" id="add-cause">CAUSE</button>
                            <button class="btn btn-small waves-effect civi-type-button" value="solution">SOLUTION</button>
                        </div>
                        <div class="input-field white-background-input-field left-input-field">
                            <input id="civi-title" type="text" length="120">
                            <label for="civi-title">What is the argument you want to make?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="civi-body">
            <div class="civi-body-inner">
                <div class="new-civi-body white-background-input-field new-civi-container">
                    <div class="input-field left-input-field">
                        <textarea id="civi-body" type="text" class="materialize-textarea" length="1000"></textarea>
                        <label for="civi-body">Expand on your argument with facts and details</label>
                    </div>
                </div>
            </div>
            <div class="edit-wrapper">
                <div class="header-lato edit-links">Links:</div>
                    <div id="magicsuggest"></div>
                <div class="white-background-input-field ">
                    <div class="header-lato">Upload Images:</div>
                    <form method="post" enctype="multipart/form-data" id="attachment_image_form">
                        <div class="file-field input-field">
                            <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                            <div class="btn attachment-image-pick dark-blue-background">
                                <span>Add Images</span>
                                <input id="id_attachment_image" name="attachment_image" type="file" multiple accept="image/*">
                            </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
    
                    </form>
                    <div class="image-link-list">
                        <input type="text" class="civi-link-images" placeholder="Paste your image link here..."/>
                    </div>
                    <button class="waves-effect waves-teal btn-flat" id="add-image-link-input">+ Add Another Image Link</button>
                    <div class="file-preview"></div>
                </div>
            </div>
        </div>
        <div class="civi-footer">
            <button class="create-new-civi waves-effect btn">Add Civi</button>
            <button class="cancel-new-civi waves-effect btn">Cancel</button>
        </div>
    </div>
</script>
<script id="new-response-template" type="text/template">
    {% verbatim %}
    <div class="new-civi-card">
        <div class="row civi-header">
            <div class="col s12 no-pads civi-title-outer">
                <div class="civi-title">
                    <div class="new-civi-contention new-civi-container">
                        <div class="input-field white-background-input-field left-input-field">
                            <input id="response-title" type="text" length="120">
                            <label for="response-title">What is the argument you want to make?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="civi-body">
            <div class="new-civi-body white-background-input-field new-civi-container">
                <div class="input-field left-input-field">
                    <textarea id="response-body" type="text" class="materialize-textarea" length="4000"></textarea>
                    <label for="response-body">Expand on your argument with facts and details</label>
                </div>
            </div>
            <div class="white-background-input-field ">
                <div class="header-lato">Upload Images:</div>
                <form method="post" enctype="multipart/form-data" id="response_attachment_image_form">
                    <div class="file-field input-field">
                        <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                        <div class="btn attachment-image-pick dark-blue-background">
                            <span>Add Images</span>
                            <input id="response_attachment_image" name="attachment_image" type="file" multiple accept="image/*">
                        </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                </form>
                <div class="image-link-list">
                    <input type="text" class="civi-link-images" placeholder="Paste your image link here..."/>
                </div>
                <button class="waves-effect waves-teal btn-flat" id="add-image-link-input">+ Add Another Image Link</button>
    
                <div class="file-preview"></div>
            </div>
        </div>
        <div class="civi-footer">
            <button class="waves-effect waves-light btn create-new-response">add response</button>
            <button class="waves-effect waves-cw-blue btn-flat cancel-new-response">Cancel</button>
        </div>
    </div>
    {% endverbatim %}
</script>
<script id="edit-thread-template" type="text/template">
    {% verbatim %}
    <div class="modal edit-thread-modal">
        <div class="modal-content">
            <div class="edit-thread-contention edit-thread-container">
                <div class="input-field white-background-input-field left-input-field">
                    <input id="thread-title" type="text" length="120" value="{{this.model.get('title')}}">
                    <label for="thread-title">Title</label>
                </div>
            </div>
            <div class="edit-thread-body white-background-input-field edit-thread-container">
                <div class="input-field left-input-field">
                    <textarea id="thread-body" type="text" class="materialize-textarea" length="4000">{{this.model.get('summary')}}</textarea>
                    <label for="thread-body">Summary</label>
                </div>
            </div>
            <div class="edit-thread-category-selection white-background-input-field">
                <div class="header-lato">Category:</div>
                <div class="input-field left-input-field">
                    <select id="thread-category">
                        <option value="{{this.model.get('category').id}}" selected>{{this.model.get('category').name}}</option>
                        {{# _.each(this.model.get('categories'), function (c) { }}
                            {{# if (c.id != this.model.get('category').id) { }}
                            <option value="{{c.id}}">{{c.name}}</option>
                            {{# } }}
                        {{# }, this); }}
                    </select>
                </div>
            </div>
            <div class="previous-image">
                <div class="header-lato">Current image:</div>
                <div class="button-wrapper">
                    <div class="delete-previous-image action-button"><i class="mini material-icons edit">clear</i>REMOVE</div>
                </div>
                <img class="thread-image-thumb" src="{{this.model.get('image')}}" width="50px" height="40px"/>
            </div>
            <div class="white-background-input-field" id="thread-image-forms">
                <div class="image-upload-method">
                    <div class="header-lato">Upload Image:</div>
                    <button class="waves-effect waves-light btn" id="image-from-computer"><i class="material-icons left">file_upload</i>COMPUTER</button>
                    <button class="waves-effect waves-light btn" id="image-from-link"><i class="material-icons left">insert_link</i>LINK</button>
                </div>
                <form method="post" enctype="multipart/form-data" class="hide" id="attachment_image_form">
                    <div class="file-field input-field">
                        <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                        <div class="btn attachment-image-pick dark-blue-background">
                            <span>Add an Image</span>
                            <input id="thread_attachment_image" name="attachment_image" type="file">
                        </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                </form>
                <input id="link-image-form" type="text" class="hide" placeholder="Paste your image link here..."/>
                <div class="use-previous-image action-button"><i class="mini material-icons edit">undo</i>USE PREVIOUS IMAGE</div>
            </div>
        </div>
    
        <div class="modal-footer">
            <button class="edit-thread waves-effect btn">Save Edit</button>
            <button class="cancel-thread waves-effect btn-flat">Cancel</button>
        </div>
    </div>
    {% endverbatim %}
</script>
<script id="outline-template" type="text/template">
    {% verbatim %}
    {{# if (!is_draft) { }}
    <div class="civi-switch center">
        <div class="switch">
            <span class="count-badge badge-other white-text left">{{count.totalOther}}</span>
            <label>
                <span class="label-other">Other</span>
                <input type="checkbox" id="recommended-switch" checked>
                <span class="lever"></span>
                <span class="label-recommended bold">Recommended</span>
            </label>
            <span class="count-badge badge-recommended white-text right">{{count.totalRec}}</span>
        </div>
    {{# } }}
    </div>
    <div class="problem-nav">
        <div class="civi-nav-header">
            <span class="civi-nav-title bold-text">Problem</span>
            {{# if (count.problem > 0) { }}
                <span class="civi-nav-count right white-text">{{count.problem}}</span>
            {{# } }}
        </div>
        <div class="problem-nav-wrapper civi-nav-wrapper" id="problem-nav">
            {{# _.each(problems, function (p) { }}
                <div class="problem-nav-indiv civi-nav-indiv">
                    <i class="material-icons tiny civi-nav-state" id="civi-nav-state-{{p.get('id')}}"></i>
                    <div class="civi-nav-link" data-civi-nav-id="{{p.get('id')}}" id="civi-nav-{{p.get('id')}}">
                        <span>{{p.get('title')}}</span>
                    </div>
                </div>
            {{# }); }}
        </div>
    </div>
    <div class="cause-nav">
        <div class="civi-nav-header">
            <span class="civi-nav-title bold-text">Cause</span>
            {{# if (count.cause > 0) { }}
                <span class="civi-nav-count right white-text">{{count.cause}}</span>
            {{# } }}
        </div>
        <div class="cause-nav-wrapper civi-nav-wrapper" id="cause-nav">
            {{# _.each(causes, function (c) { }}
                <div class="cause-nav-indiv civi-nav-indiv">
                    <i class="material-icons tiny civi-nav-state" id="civi-nav-state-{{c.get('id')}}"></i>
                    <div class="civi-nav-link" data-civi-nav-id="{{c.get('id')}}" id="civi-nav-{{c.get('id')}}">
                        <span>{{c.get('title')}}</span>
                    </div>
                </div>
            {{# }); }}
        </div>
    </div>
    <div class="solution-nav">
        <div class="civi-nav-header">
            <span class="civi-nav-title bold-text">Solution</span>
            {{# if (count.solution > 0) { }}
                <span class="civi-nav-count right white-text">{{count.solution}}</span>
            {{# } }}
        </div>
        <div class="solution-nav-wrapper civi-nav-wrapper" id="solution-nav">
            {{# _.each(solutions, function (s) { }}
                <div class="solution-nav-indiv civi-nav-indiv">
                    <i class="material-icons tiny civi-nav-state" id="civi-nav-state-{{s.get('id')}}"></i>
                    <div class="civi-nav-link" data-civi-nav-id="{{s.get('id')}}" id="civi-nav-{{s.get('id')}}">
                        <span>{{s.get('title')}}</span>
                    </div>
                </div>
            {{# }); }}
        </div>
    </div>
    {% endverbatim %}
</script>
{% endblock backbone_template %}

{% block content %}
{% include "global_nav.html" %}
<div id="thread"></div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static " js/thread.js" %}"></script>
<script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
    var username = '{{user.username}}',
        threadId = '{{thread_id}}',
        thread_is_draft = '{{is_draft}}',
        thread_body_data = JSON.parse('{{ thread_body_data|escapejs }}'),
        thread_wiki_data = JSON.parse('{{ thread_wiki_data|escapejs }}');

    var threadModel = new cw.ThreadModel(thread_wiki_data, { threadId: threadId });
    var civiCollection = new cw.CiviCollection(thread_body_data.civis, { threadId: threadId });

    var threadView = new cw.ThreadView({
        username: username,
        model: threadModel,
        civis: civiCollection,
        is_draft: (thread_is_draft == 'True')
    });
</script>
{% endblock extra_js %}