{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_css%}
<link
  type="text/css"
  rel="stylesheet/less"
  href="{% static 'less/base.less' %}"
/>
<link
  type="text/css"
  rel="stylesheet/less"
  href="{% static 'less/utils.less' %}"
/>
<link
  type="text/css"
  rel="stylesheet/less"
  href="{% static 'less/thread.less' %}"
/>
{% endblock extra_css %}
{% block content %}
{% include "global_nav.html" %}
<div id="thread">
  <div class="row" style="margin: 0">
    <div class="col s12 thread-wiki-holder" style="display: none;">
      <div class="thread-wiki thread-wiki-preview" style="display: none;">
          <div class="wiki-banner">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <div class="wiki-title title-lato dark-white-text">
                    {{ thread.title }}
                  </div>
                  <div class="wiki-stats light-gray-text">
                    <span class="wiki-stat">{{ thread.num_views }} Views</span>
                    <span class="wiki-stat"
                      >{{ thread.civis.count }} Civis</span
                    >
                  </div>
                </div>
                <div class="wiki-image col s6">
                  <div class="thread-image-wrapper">
                    <img
                      class="thread-image-thumb"
                      src="{{ thread.image_url }}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s3">
                  <div class="wiki-author">
                    <div class="author-photo-holder">
                      <div
                        class="author-photo transparent"
                        style="background-image: url('{{ thread.author.profile.profile_image_url }}'); background-size: 40px;"
                      ></div>
                    </div>
                    <div class="author-info">
                      <a
                        class="author-name bold-text"
                        href="/profile/{{ thread.author.username }}"
                      >
                        {{ thread.author.profile.first_name }} {{ thread.author.profile.last_name }}
                      </a>
                    </div>
                  </div>
                </div>
                {% if thread.author.username == request.user.username %}
                <div class="col s3 wiki-edit-actions">
                  <div class="center">
                    <div class="edit-thread-button">
                      <i class="mini material-icons edit">edit</i>
                      <span class="edit-text">EDIT THREAD</span>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="wiki-body">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <div class="wiki-body-header">
                    <span class="wiki-header-category gray-text"
                      ><span class="black-text bold-text wiki-header-inner"
                        >Category:</span
                      >{{ thread.category.name }}</span
                    >
                  </div>
                </div>
                <div class="col s4">
                  <div class="wiki-edit hide"></div>
                </div>
              </div>
              <div class="row">
                <div class="col s8">
                  <div class="wiki-body-summary">
                    <div class="black-text bold-text wiki-body-summary-title">
                      Summary
                    </div>
                    <div class="gray-text wiki-body-summary-text">
                      {{ thread.summary }}
                    </div>
                  </div>
                </div>
                <div class="col s4">
                  <div class="wiki-contributors">
                    <div class="gray-text wiki-contributors-title">
                      Top Contributors
                    </div>
                    <div class="wiki-contributors-list">
                      <div class="row" style="padding: 0">
                        {% for contributor in thread.contributors %}
                        {% if forloop.counter0 <= 7 %}
                        <div class="profile-button-wrapper col l3 m6 s12">
                          <div
                            id="profile-button-template"
                            type="text/template"
                          >
                            <div class="profile-button-outer">
                              <a
                                href="/profile/{{ contributor.username }}"
                                class="profile-button btn btn-large btn-floating profile-button transparent"
                                style="background-image: url('{{ contributor.profile.profile_image_url }}'); background-size: 40px;"
                              ></a>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% if thread.contributors.count > 8 %}
                        <div class="col s12">
                          <span class="gray-text wiki-contributors-more"
                            >+{{ thread.contributors.count|add:"-8" }}
                            more</span
                          >
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="wiki-facts">
                    <div class="black-text bold-text wiki-facts-title">
                      Facts related to this thread:
                    </div>
                    <div class="gray-text wiki-facts-list">
                      {% for fact in thread.facts.all %}
                      <div class="wiki-fact">&mdash; {{ fact }}</div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="wiki-enter-body">
                    <button class="enter-body btn waves-effect">
                      Go to Thread
                      <i class="material-icons right">keyboard_arrow_down</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="thread-wiki thread-wiki-edit" style="display: none;">
          <div class="wiki-banner">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <div class="wiki-title">
                    <div class="edit-thread-contention edit-thread-container">
                      <div
                        class="input-field dark-background-input-field left-input-field"
                      >
                        <input
                          id="thread-title"
                          type="text"
                          length="120"
                          value="{{ thread.title }}"
                          class="blue-text"
                        />
                        <label for="thread-title">Title</label>
                      </div>
                    </div>
                  </div>

                  <div class="wiki-stats light-gray-text">
                    <span class="wiki-stat">{{ thread.num_views }} Views</span>
                    <span class="wiki-stat"
                      >{{ thread.civis.count }} Civis</span
                    >
                  </div>
                </div>
                <div class="wiki-image col s6">
                  <div class="thread-image-wrapper">
                    <img
                      class="thread-image-thumb"
                      src="{{ thread.image_url }}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s3">
                  <div class="wiki-author">
                    <div class="author-photo-holder">
                      <div
                        class="author-photo transparent"
                        style="background-image: url('{{ thread.author.profile.profile_image_url }}'); background-size: 40px;"
                      ></div>
                    </div>
                    <div class="author-info">
                      <a
                        class="author-name bold-text"
                        href="/profile/{{ thread.author.username }}"
                        >{{ thread.author.profile.first_name }} {{ thread.author.profile.last_name }}</a
                      >
                    </div>
                  </div>
                </div>
                {% if thread.author.username == request.user.username %}
                <div class="col s3 wiki-edit-actions">
                  <div class="center">
                    <div class="edit-thread-button">
                      <i class="mini material-icons edit">edit</i>
                      <span class="edit-text">EDIT THREAD</span>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="wiki-body">
            <div class="container">
              <div class="row">
                <div class="wiki-body-header">
                  <div class="gray-text col s12 m6">
                    <span class="black-text bold-text wiki-header-inner"
                      >Category:</span
                    >
                    <div class="input-field">
                      <select id="thread-category">
                        <option value="{{ thread.category.id }}" selected>
                          {{ thread.category.name }}
                        </option>
                        {% for category in categories %} {% if category.id != thread.category.id %}
                        <option value="{{ category.id }}">
                          {{ category.name }}
                        </option>
                        {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="wiki-body-summary">
                    <div
                      class="edit-thread-body white-background-input-field edit-thread-container"
                    >
                      <div class="input-field left-input-field">
                        <textarea
                          id="thread-body"
                          type="text"
                          class="materialize-textarea"
                          length="4000"
                        >
                          {{ thread.summary }}</textarea
                        >
                        <label for="thread-body">Summary</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="previous-image">
                    <div class="header-lato">Current image:</div>
                    <div class="button-wrapper">
                      <div class="delete-previous-image action-button">
                        <i class="mini material-icons edit">clear</i>REMOVE
                      </div>
                    </div>
                    <img
                      class="thread-image-thumb"
                      src="{{ thread.image_url }}"
                      width="50px"
                      height="40px"
                    />
                  </div>
                  <div
                    class="white-background-input-field"
                    id="thread-image-forms"
                  >
                    <div class="image-upload-method">
                      <div class="header-lato">Upload Image:</div>
                      <button
                        class="waves-effect waves-light btn"
                        id="image-from-computer"
                      >
                        <i class="material-icons left">file_upload</i>COMPUTER
                      </button>
                      <button
                        class="waves-effect waves-light btn"
                        id="image-from-link"
                      >
                        <i class="material-icons left">insert_link</i>LINK
                      </button>
                    </div>
                    <form
                      method="post"
                      enctype="multipart/form-data"
                      class="hide"
                      id="attachment_image_form"
                    >
                      <div class="file-field input-field">
                        <input
                          class="upload-image btn waves-effect hide"
                          type="submit"
                          value="Upload"
                        />
                        <div
                          class="btn attachment-image-pick dark-blue-background"
                        >
                          <span>Add an Image</span>
                          <input
                            id="thread_attachment_image"
                            name="attachment_image"
                            type="file"
                          />
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" />
                        </div>
                      </div>
                    </form>
                    <input
                      id="link-image-form"
                      type="text"
                      class="hide"
                      placeholder="Paste your image link here..."
                    />
                    <div class="use-previous-image action-button">
                      <i class="mini material-icons edit">undo</i>USE PREVIOUS
                      IMAGE
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="wiki-enter-body">
                    <button
                      class="edit-thread waves-effect btn dark-blue-background"
                    >
                      Save Edit
                    </button>
                    <button class="cancel-thread waves-effect btn-flat">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col s12 thread-body-holder">
      <div class="thread-body">
        <nav class="thread-nav body-banner">
          <div id="thread-nav body-banner">
            <div class="nav-wrapper">
              <div class="nav-categories nav-item">
                <div id="thread-meta">
                  <div class="meta-item">
                    <span class="body-category"
                      >{{ thread.category.name }}</span
                    >
                  </div>

                  <div class="meta-item">
                    <i class="mini material-icons">keyboard_arrow_right</i>
                  </div>
                  <div class="meta-item title-item">
                    <span class="thread-title"
                      >{{ thread.title }}
                      <i
                        class="tiny material-icons background-info-link enter-wiki"
                        >assignment</i
                      >
                    </span>
                  </div>
                  {% if thread.is_draft %}
                  <div class="meta-item">
                    <div class="add-button">
                      <button
                        class="publish-thread btn waves-effect dark-blue-background"
                        id="js-publish-btn"
                      >
                        <span class="text">Publish Thread</span>
                      </button>
                    </div>
                  </div>
                  {% endif %}
                  <div class="add-button">
                    <button class="add-civi btn waves-effect right">
                      <i class="material-icons left">note_add</i>
                      <span class="text">Add Civi</span>
                    </button>
                  </div>
                  <div class="add-button" style="margin-left: 4px">
                    <a
                      id="csv-export"
                      href="{{ thread.id }}/csv"
                      class="btn waves-effect"
                    >
                      <span class="text">Export</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div class="col nav-column civi-outline">
          <div class="issue-outline">
            <div class="issue-outline-header gray-text bold-text">
              <span class="issue-outline-title">ISSUE OUTLINE</span>
              <span class="civi-total">({{ thread.civis.count }})</span>
              <i class="expand-nav material-icons right expanded"
                >keyboard_arrow_down</i
              >
            </div>
            <div class="civi-outline" id="civi-outline">
          <!--TODO Add recommended civis-->
                  <div class="problem-nav">
      <div class="civi-nav-header">
        <span class="civi-nav-title bold-text">Problem</span>
        {% if problems %}
        <span class="civi-nav-count right white-text"
          >{{ problems.count }}</span
        >
        {% endif %}
      </div>
      <div class="problem-nav-wrapper civi-nav-wrapper" id="problem-nav">
        {% for problem in problems %}
        <div class="problem-nav-indiv civi-nav-indiv">
          <i
            class="material-icons tiny civi-nav-state"
            id="civi-nav-state-{{ problem.id }}"
          ></i>
          <div class="civi-nav-link" id="civi-nav-problem-{{ problem.id }}">
            <span>{{ problem.title }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="cause-nav">
      <div class="civi-nav-header">
        <span class="civi-nav-title bold-text">Cause</span>
        {% if causes %}
        <span class="civi-nav-count right white-text">{{ causes.count }}</span>
        {% endif %}
      </div>
      <div class="cause-nav-wrapper civi-nav-wrapper" id="cause-nav">
        {% for cause in causes %}
        <div class="cause-nav-indiv civi-nav-indiv">
          <i
            class="material-icons tiny civi-nav-state"
            id="civi-nav-state-{{ cause.id }}"
          ></i>
          <div class="civi-nav-link" id="civi-nav-cause-{{ cause.id }}">
            <span>{{ cause.title }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="solution-nav">
      <div class="civi-nav-header">
        <span class="civi-nav-title bold-text">Solution</span>
        {% if solutions %}
        <span class="civi-nav-count right white-text"
          >{{ solutions.count }}</span
        >
        {% endif %}
      </div>
      <div class="solution-nav-wrapper civi-nav-wrapper" id="solution-nav">
        {% for solution in solutions %}
        <div class="solution-nav-indiv civi-nav-indiv">
          <i class="material-icons tiny civi-nav-state"></i>
          <div class="civi-nav-link" id="civi-nav-solution-{{ solution.id }}">
            <span>{{ solution.title }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col main-thread scroll-col scrollbar" id="main-thread">
            <div id="thread-problems force-overflow">
              {% for civi in thread.civis.all %}
                  <div class="civi-card" id="civi-{{ civi.c_type }}-{{ civi.id }}">
                      <div class="row civi-header civi-click">
                        <div class="col s10 no-pads civi-title-outer">
                          <div class="civi-type gray-text">{{ civi.c_type }}</div>
                          <div class="civi-title">
                            <span class="text-wrapper">{{ civi.title }}</span>

                            {% if civi.author.user.username == request.user.username %}
                            <div
                              class="dark-background-input-field hide edit-wrapper edit-type"
                            >
                              <form action="#" id="civi-type-form" class="edit-civi-type">
                                <div class="civi-types">
                                  <span class="civi-type-button">
                                    <input
                                      class="with-gap"
                                      name="civi-type"
                                      type="radio"
                                      id="problem-{{ civi.id }} add-problem"
                                      value="problem"
                                    />
                                    <label for="problem-{{ civi.id }}" class="civi-type-label"
                                      >PROBLEM</label
                                    >
                                  </span>
                                  <span class="civi-type-button">
                                    <input
                                      class="with-gap"
                                      name="civi-type"
                                      type="radio"
                                      id="cause-{{ civi.id }} add-cause"
                                      value="cause"
                                    />
                                    <label for="cause-{{ civi.id }}" class="civi-type-label"
                                      >CAUSE</label
                                    >
                                  </span>
                                  <span class="civi-type-button">
                                    <input
                                      class="with-gap"
                                      name="civi-type"
                                      type="radio"
                                      id="solution-{{ civi.id }} add-solution"
                                      value="solution"
                                    />
                                    <label for="solution-{{ civi.id }}" class="civi-type-label"
                                      >SOLUTION</label
                                    >
                                  </span>
                                </div>
                              </form>
                              <input class="edit-civi-title" />
                            </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="col s2 no-pads civi-header-actions">
                          <div class="right">
                            {% if civi.author.user.username == request.user.username %}
                            <i class="mini material-icons edit">edit</i>
                            <i class="mini material-icons delete">delete_forever</i>

                            <i class="mini material-icons edit-action edit-confirm hide"
                              >save</i
                            >
                            <i class="mini material-icons edit-action edit-cancel hide"
                              >close</i
                            >
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="civi-body">
                        <div class="civi-body-inner">
                          <span class="text-wrapper">{{ civi.body }}</span>
                          {% if civi.author.user.username == request.user.username %}
                          <div class="white-background-input-field hide edit-wrapper">
                            <textarea
                              type="text"
                              class="materialize-textarea edit-civi-body"
                              length="1000"
                            ></textarea>
                          </div>
                          {% endif %}
                        </div>
                        {% if civi.linked_civis.count > 0 %}
                        <div class="civi-links text-wrapper">
                          <div class="links-title gray-text">
                            LINKED CIVIS ({{ civi.linked_civis.count }})
                          </div>
                          {% for linked_civi in civi.linked_civis.all %}
                          <div class="link-item">
                            <span class="bold-text link-lato">{{ linked_civi.c_type }}</span>
                            <span class="gray-text">{{ linked_civi.title }}</span>
                          </div>
                          {% endfor %}
                        </div>
                        {% endif %}
                        {% if civi.images.count > 0 %}
                        <div class="civi-attachments text-wrapper">
                          <div class="attachments-title gray-text">
                            ATTACHMENTS ({{ civi.images.count }})
                          </div>

                          {% for image in civi.images.all %}
                          <div class="attachments-item">
                            <img
                              class="civi-image-thumb"
                              src="{{ image.image_url }}"
                              width="50px"
                              height="40px"
                            />
                          </div>
                          {% endfor %}
                        </div>
                        {% endif %}
                        {% if thread.author.username == request.user.username %}
                        <div class="hide edit-wrapper">
                          <div class="header-lato edit-links hide">Links:</div>
                          <div class="edit-links hide" id="magicsuggest-{{ civi.id }}"></div>
                          <div class="header-lato">Images:</div>
                          <div class="previous-civi-images">
                            {% for image in civi.images.all %}
                            <div class="attachments-item delete-civi-image action-button">
                              <div class="delete-image-overlay input">
                                <i class="small material-icons">clear</i>
                              </div>

                              <img
                                class="civi-image-thumb"
                                src="{{ image.image_url }}"
                                width="50px"
                                height="40px"
                              />
                            </div>
                            {% endfor %}
                          </div>
                          <div class="section">
                            <button
                              class="waves-effect waves-light btn btn-small"
                              id="add-more-images"
                            >
                              <i class="material-icons left">add</i>Add Images
                            </button>
                            <div class="white-background-input-field hide edit-images">
                              <div class="header-lato">Upload Images:</div>
                              <form
                                method="post"
                                enctype="multipart/form-data"
                                id="attachment_image_form"
                              >
                                <div class="file-field input-field">
                                  <input
                                    class="upload-image btn waves-effect hide"
                                    type="submit"
                                    value="Upload"
                                  />
                                  <div
                                    class="btn btn-small attachment-image-pick dark-blue-background"
                                  >
                                    <span>Add Images</span>
                                    <input
                                      id="id_attachment_image"
                                      name="attachment_image"
                                      type="file"
                                      multiple
                                      accept="image/*"
                                    />
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" />
                                  </div>
                                </div>
                              </form>
                              <div class="image-link-list">
                                <input
                                  type="text"
                                  class="civi-link-images"
                                  placeholder="Paste your image link here..."
                                />
                              </div>
                              <button
                                class="waves-effect waves-teal btn-flat btn-small"
                                id="add-image-link-input"
                              >
                                + Add Another Image Link
                              </button>

                              <div class="file-preview"></div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                        {% if not civi.thread.is_draft %}
                        <div class="rating center">
                          <div class="rating-wrapper">
                            <div class="rating-name">DISAGREE</div>
                            <button class="rating-button vote vote_vneg" data-rating="vneg">
                              <span class="rate-value">{{ civi.votes.votes_vneg }}</span>
                            </button>
                          </div>
                          <div class="rating-wrapper">
                            <button class="rating-button vote vote_neg" data-rating="neg">
                              <span class="rate-value">{{ civi.votes.votes_neg }}</span>
                            </button>
                          </div>
                          <div class="rating-wrapper">
                            <div class="rating-name">NEUTRAL</div>
                            <button
                              class="rating-button vote vote_neutral"
                              data-rating="neutral"
                            >
                              <span class="rate-value">{{ civi.votes.votes_neutral }}</span>
                            </button>
                          </div>
                          <div class="rating-wrapper">
                            <button class="rating-button vote vote_pos" data-rating="pos">
                              <span class="rate-value">{{ civi.votes.votes_pos }}</span>
                            </button>
                          </div>
                          <div class="rating-wrapper">
                            <div class="rating-name">AGREE</div>
                            <button class="rating-button vote vote_vpos" data-rating="vpos">
                              <span class="rate-value">{{ civi.votes.votes_vpos }}</span>
                            </button>
                          </div>
                          <div class="rating-center center-block"></div>
                          <div class="temp-score">{{ civi.score|floatformat }}</div>
                        </div>
                        {% endif %}
                      </div>
                      <div class="civi-footer">
                        <div class="author-photo-holder">
                          <div
                            class="author-photo transparent"
                            style="background-image: url('{{ civi.author.profile.profile_image_url }}'); background-size: 34px;"
                          ></div>
                        </div>
                        <div class="author-info">
                          <a
                            class="author-name purple-text bold-text"
                            href="/profile/{{ civi.author.username }}"
                          >
                            {{ civi.author.profile.first_name }} {{ civi.author.profile.last_name }}
                          </a>
                          <div class="created gray-text">{{ civi.created }}</div>
                        </div>
                        <div class="right civi-footer-actions">
                          <div>
                            {% if civi.author.username == request.user.username and civi.c_type != 'rebuttal' %}
                            <span class="link-lato input" id="respond-button"
                              ><i class="mini material-icons">comment</i> RESPOND</span
                            >

                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
              {% endfor %}
            </div>
            <div id="thread-causes"></div>
            <div id="thread-solutions"></div>
            <div class="civi-padding"></div>
          </div>
          <div class="col responses scroll-col">
            <div id="new-civi-box">
              <div class="new-civi-card" style="display: none;">
      <div class="row civi-header">
        <div class="link-lato center">ADD A NEW CIVI</div>
        <div class="col s12 no-pads civi-title-outer">
          <div class="civi-title">
            <div class="dark-background-input-field edit-wrapper edit-type">
              <div class="header-lato new-civi-header">Choose One:</div>
              <div class="civi-types">
                <button
                  class="btn btn-small waves-effect civi-type-button"
                  value="problem"
                  id="add-problem"
                >
                  PROBLEM
                </button>
                <button
                  class="btn btn-small waves-effect civi-type-button"
                  value="cause"
                  id="add-cause"
                >
                  CAUSE
                </button>
                <button
                  class="btn btn-small waves-effect civi-type-button"
                  value="solution"
                >
                  SOLUTION
                </button>
              </div>
              <div
                class="input-field white-background-input-field left-input-field"
              >
                <input id="civi-title" type="text" length="120" />
                <label for="civi-title"
                  >What is the argument you want to make?</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="civi-body">
        <div class="civi-body-inner">
          <div
            class="new-civi-body white-background-input-field new-civi-container"
          >
            <div class="input-field left-input-field">
              <textarea
                id="civi-body"
                type="text"
                class="materialize-textarea"
                length="1000"
              ></textarea>
              <label for="civi-body"
                >Expand on your argument with facts and details</label
              >
            </div>
          </div>
        </div>
        <div class="edit-wrapper">
          <div class="header-lato edit-links">Links:</div>
          <div id="magicsuggest"></div>
          <div class="white-background-input-field">
            <div class="header-lato">Upload Images:</div>
            <form
              method="post"
              enctype="multipart/form-data"
              id="attachment_image_form"
            >
              <div class="file-field input-field">
                <input
                  class="upload-image btn waves-effect hide"
                  type="submit"
                  value="Upload"
                />
                <div class="btn attachment-image-pick dark-blue-background">
                  <span>Add Images</span>
                  <input
                    id="id_attachment_image"
                    name="attachment_image"
                    type="file"
                    multiple
                    accept="image/*"
                  />
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" />
                </div>
              </div>
            </form>
            <div class="image-link-list">
              <input
                type="text"
                class="civi-link-images"
                placeholder="Paste your image link here..."
              />
            </div>
            <button
              class="waves-effect waves-teal btn-flat"
              id="add-image-link-input"
            >
              + Add Another Image Link
            </button>
            <div class="file-preview"></div>
          </div>
        </div>
      </div>
      <div class="civi-footer">
        <button class="create-new-civi waves-effect btn">Add Civi</button>
        <button class="cancel-new-civi waves-effect btn">Cancel</button>
      </div>
    </div>
            </div>
            <div class="responses-box">
                  <div class="center section">
                    <div class="section">
                      <!-- TODO add responsecollection logic -->
                      <div class="link-lato">{{ thread.civis.first.c_type|upper }}</div>
                      <div class="header-lato">{{ thread.civis.first.responses.first.title }}</div>
                    </div>
                    <button class="btn add-response waves-effect" id="add-new-response">
                      add response
                    </button>
                    <div class="section">
                      <div id="new-response-box"></div>
                    </div>
                  </div>
                  <div class="new-civi-card" style="display: none;">
      <div class="row civi-header">
        <div class="col s12 no-pads civi-title-outer">
          <div class="civi-title">
            <div class="new-civi-contention new-civi-container">
              <div
                class="input-field white-background-input-field left-input-field"
              >
                <input id="response-title" type="text" length="120" />
                <label for="response-title"
                  >What is the argument you want to make?</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="civi-body">
        <div
          class="new-civi-body white-background-input-field new-civi-container"
        >
          <div class="input-field left-input-field">
            <textarea
              id="response-body"
              type="text"
              class="materialize-textarea"
              length="4000"
            ></textarea>
            <label for="response-body"
              >Expand on your argument with facts and details</label
            >
          </div>
        </div>
        <div class="white-background-input-field">
          <div class="header-lato">Upload Images:</div>
          <form
            method="post"
            enctype="multipart/form-data"
            id="response_attachment_image_form"
          >
            <div class="file-field input-field">
              <input
                class="upload-image btn waves-effect hide"
                type="submit"
                value="Upload"
              />
              <div class="btn attachment-image-pick dark-blue-background">
                <span>Add Images</span>
                <input
                  id="response_attachment_image"
                  name="attachment_image"
                  type="file"
                  multiple
                  accept="image/*"
                />
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" />
              </div>
            </div>
          </form>
          <div class="image-link-list">
            <input
              type="text"
              class="civi-link-images"
              placeholder="Paste your image link here..."
            />
          </div>
          <button
            class="waves-effect waves-teal btn-flat"
            id="add-image-link-input"
          >
            + Add Another Image Link
          </button>

          <div class="file-preview"></div>
        </div>
      </div>
      <div class="civi-footer">
        <button class="waves-effect waves-light btn create-new-response">
          add response
        </button>
        <button class="waves-effect waves-cw-blue btn-flat cancel-new-response">
          Cancel
        </button>
      </div>
    </div>
                  {% if thread.civi.responses %}
                  <div id="response-list"></div>
                  {% else %}
                  <div class="no-state center section">
                    <div class="text title-lato">NO RESPONSES</div>
                  </div>
                  {% endif %}
            </div>
            <div class="responses-padding scroll-padding">

            </div>
          </div>
        </div>

        <div id="civi-image-modal" class="modal">
          <div class="modal-content center">
            <img id="civi-image-big" src="/static/img/no_image_md.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
    document.getElementsByClassName("thread-title")[0].addEventListener("click", () => {
    document.getElementsByClassName("thread-wiki-holder")[0].style.display = "block";
     document.getElementsByClassName("thread-wiki-preview")[0].style.display = "block";
     document.getElementsByClassName("thread-body-holder")[0].style.display = "none";
  });

    document.getElementsByClassName("edit-text")[0]?.addEventListener("click", () => {
    document.getElementsByClassName("thread-wiki-preview")[0].style.display = "none";
     document.getElementsByClassName("thread-wiki-edit")[0].style.display = "block";
  });

    const civiCardElements = document.getElementsByClassName("civi-card")
    civiCardElements[0]?.classList?.add("current");
    let civiTypeIdArr = civiCardElements[0].id.split("-");
    document.getElementById(`civi-nav-${civiTypeIdArr[1]}-${civiTypeIdArr[2]}`).classList.add("current");

    for(let i=0; i<civiCardElements.length; i++){
      civiCardElements[i].addEventListener("click", () => {
        document.getElementsByClassName("civi-card current")[0]?.classList?.remove("current");
        document.getElementsByClassName("civi-nav-link current")[0]?.classList?.remove("current");
        civiCardElements[i].classList.add("current");

        let civiTypeIdArr = civiCardElements[i].id.split("-");
        document.getElementById(`civi-nav-${civiTypeIdArr[1]}-${civiTypeIdArr[2]}`).classList.add("current");
      })
    }

    document.getElementsByClassName("add-civi")[0].addEventListener("click", () => {
      document.getElementsByClassName("new-civi-card")[0].style.display = "block"
    });

    document.getElementsByClassName("add-response")[0].addEventListener("click", () => {
      document.getElementsByClassName("add-response")[0].style.display = "none";
      document.getElementsByClassName("new-civi-card")[1].style.display = "block";
    });

    document.getElementsByClassName("expand-nav")[0].addEventListener("click", () => {
      if(document.getElementsByClassName("expand-nav")[0].classList.contains("expanded")){
        document.getElementsByClassName("expand-nav")[0].classList.remove("expanded")
        document.getElementById("problem-nav").style.display = "none"
        document.getElementById("cause-nav").style.display = "none"
        document.getElementById("solution-nav").style.display = "none"
      } else {
        document.getElementsByClassName("expand-nav")[0].classList.add("expanded")
        document.getElementById("problem-nav").style.display = "block"
        document.getElementById("cause-nav").style.display = "block"
        document.getElementById("solution-nav").style.display = "block"
      }
    });

    const civiNavLinks = document.getElementsByClassName("civi-nav-link")

    for(let i=0; i<civiNavLinks.length; i++){
      civiNavLinks[i].addEventListener("click", () => {
        location.href = '#' + civiNavLinks[i].id.replace('-nav', '');
        document.getElementsByClassName("civi-nav-link current")[0]?.classList?.remove("current");
        document.getElementsByClassName("civi-card current")[0]?.classList?.remove("current");
        civiNavLinks[i].classList.add("current");
        civiCardElements[i].classList.add("current");

      })
    }

</script>
<script type="text/javascript" src="{% static 'js/thread.js' %}"></script>
<script type="text/javascript">
  var csrftoken = "{{ csrf_token }}";
  var username = "{{user.username}}",
    threadId = "{{thread_id}}",
    thread_is_draft = "{{is_draft}}",
    thread_body_data = JSON.parse("{{ thread_body_data|escapejs }}"),
    thread_wiki_data = JSON.parse("{{ thread_wiki_data|escapejs }}");

  var threadModel = new cw.ThreadModel(thread_wiki_data, {
    threadId: threadId,
  });
  var civiCollection = new cw.CiviCollection(thread_body_data.civis, {
    threadId: threadId,
  });

  var threadView = new cw.ThreadView({
    username: username,
    model: threadModel,
    civis: civiCollection,
    is_draft: thread_is_draft == "True",
  });
</script>
{% endblock extra_js %}
