{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./project/webapp/src"],
        "alias": {
          "Styles": "./project/webapp/src/styles",
          "Templates": "./project/webapp/src/templates"
        }
      }
    ]
  ]
}
