<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/account_less.html" %}
</head>

<script id="account-template" type="text/template">
    {% include "partials/account/account_base.html" %}
</script>

<script id="settings-template" type="text/template">
    {% include "partials/account/account_settings.html" %}
</script>

<!-- account tab templates -->
<script id="my-civis-template" type="text/template">
    {% include "partials/account/tabs/my_civis.html" %}
</script>
<script id="followers-template" type="text/template">
    {% include "partials/account/tabs/followers.html" %}
</script>
<script id="following-template" type="text/template">
    {% include "partials/account/tabs/following.html" %}
</script>
<script id="my-issues-template" type="text/template">
    {% include "partials/account/tabs/my_issues.html" %}
</script>
<script id="my-reps-template" type="text/template">
    {% include "partials/account/tabs/my_reps.html" %}
</script>


<body>
    {% include "partials/utils/global_nav.html" %}
    <div id="account">

    </div>
</body>

<script type="text/javascript" src="{% static "js/account.js" %}"></script>
<script type="text/javascript">
    var username = '{{username}}';
    var accountModel = new cw.AccountModel({}, {
        user: username
    });
    accountModel.fetch();

    var accountView = new cw.AccountView({
        model: accountModel
    });
</script>

</html>
