<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/account_less.html" %}
</head>

<!-- Util Partials -->
<script id="civi-template" type="text/template">
    {% include "partials/account/utils/account_civi.html" %}
</script>
<script id="people-template" type="text/template">
    {% include "partials/account/utils/user_chip.html" %}
</script>
<script id="issue-template" type="text/template">
    {% include "partials/account/utils/account_issue.html" %}
</script>
<script id="rep-template" type="text/template">
    {% include "partials/account/utils/representative_card.html" %}
</script>
<script id="bill-template" type="text/template">
    {% include "partials/account/utils/account_bill.html" %}
</script>
<script id="location-template" type="text/template">
    {% include "partials/user-setup/map.html" %}
</script>
<script id="rep-chip-template" type="text/template">
    {% verbatim %}
    <div class="rep bold-text purple-text chip">
        <img src="https://theunitedstates.io/images/congress/225x275/{{ rep.bioguide_id }}.jpg" alt="rep image">
        <span>{{rep.title}} {{rep.first_name}} {{rep.last_name}} </span>
    </div>
    {% endverbatim %}
</script>

<!-- account tab templates -->
<script id="my-civis-template" type="text/template">
    {% include "partials/account/tabs/my_civis.html" %}
</script>
<script id="followers-template" type="text/template">
    {% include "partials/account/tabs/followers.html" %}
</script>
<script id="following-template" type="text/template">
    {% include "partials/account/tabs/following.html" %}
</script>
<script id="my-issues-template" type="text/template">
    {% include "partials/account/tabs/my_issues.html" %}
</script>
<script id="my-reps-template" type="text/template">
    {% include "partials/account/tabs/my_reps.html" %}
</script>
<script id="my-bills-template" type="text/template">
    {% include "partials/account/tabs/my_bills.html" %}
</script>


<!-- account base templates -->
<script id="account-template" type="text/template">
    {% include "partials/account/account_base.html" %}
</script>

<script id="settings-template" type="text/template">
    {% include "partials/account/account_settings.html" %}
</script>

<body>
    {% include "partials/utils/global_nav.html" %}
    <div id="account">

    </div>
</body>

<script type="text/javascript" src="{% static "js/account.js" %}"></script>
<script type="text/javascript" src="{% static "js/utils/locate.js" %}"></script>
<script type="text/javascript">
    var googleApiKey = "{{ google_map_api_key }}";
    var sunlightApiKey = "{{ sunlight_api_key }}";

    var username = '{{username}}';
    var request_user = '{{request.user}}'
    var current_user = '{{request.user.username}}'

    var accountModel = new cw.AccountModel({}, {
        user: username
    });
    accountModel.fetch();

    var accountView = new cw.AccountView({
        model: accountModel,
        current_user: current_user,
        googleMapsApiKey: googleApiKey,
        sunlightApiKey: sunlightApiKey
    });
</script>

</html>
