<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/thread_less.html" %}
</head>

<script id="thread-template" type="text/template">
    {% include "partials/thread/thread_base.html" %}
</script>

<script id="thread-wiki-template" type="text/template">
    {% include "partials/thread/thread_wiki.html" %}
</script>

<script id="thread-body-template" type="text/template">
    {% include "partials/thread/thread_body.html" %}
</script>

<script id="thread-response-template" type="text/template">
    {% include "partials/thread/thread_responses.html" %}
</script>

<script id="profile-button-template" type="text/template">
    {% include "partials/utils/profile_button.html" %}
</script>

<script id="civi-template" type="text/template">
    {% include "partials/utils/civi.html" %}
</script>

<script id="response-template" type="text/template">
    {% include "partials/utils/response.html" %}
</script>

<script id="new-civi-template" type="text/template">
    {% include "partials/thread/new_civi.html" %}
</script>
<script id="new-response-template" type="text/template">
    {% include "partials/thread/new_response.html" %}
</script>
<script id="edit-thread-template" type="text/template">
    {% include "partials/thread/edit_thread.html" %}
</script>
<script id="outline-template" type="text/template">
    {% include "partials/thread/thread_outline.html" %}
</script>

<body>
    {% include "partials/utils/global_nav.html" %}
    <div id="thread"></div>
</body>

<script type="text/javascript" src="{% static "js/thread.js" %}"></script>
<script type="text/javascript">

    var username = '{{user.username}}',
        threadId = '{{thread_id}}',
        thread_body_data = JSON.parse('{{ thread_body_data|escapejs }}'),
        thread_wiki_data = JSON.parse('{{ thread_wiki_data|escapejs }}');

    var threadModel = new cw.ThreadModel(thread_wiki_data, {threadId: threadId});
    var civiCollection = new cw.CiviCollection(thread_body_data.civis, {threadId: threadId});

    var threadView = new cw.ThreadView({
        username: username,
        model: threadModel,
        civis: civiCollection
    });

    // HACK: TEMP Websocket fun
    // var WS_SCHEME = window.location.protocol == "https:" ? "wss" : "ws";
    // var HOST = WS_SCHEME + '://' + window.location.host;
    // cw.ws = new WebSocket(HOST + "/thread/"+threadId+"/");
    //
    // cw.ws.onopen = function() {
    //     cw.ws.send("Boop!");
    // };
    // cw.ws.onmessage = function (event) {
    //     data = JSON.parse(event.data);
    //
    //     console.log(data.command, data.data.title);
    // };
    //
    // if (cw.ws.readyState == WebSocket.OPEN) cw.ws.onopen();
</script>
</html>
