{% verbatim %}
<nav class="feed-nav">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s10 m10 push-m1 l10 push-l1 nav-categories nav-item">
                <ul class="center-block" id="user-categories-list">
                    <li class="category-all"><a class="category-item active" data-id="all" >All</a></li>
                    {{# _.each(user_categories, function (c) {}}
                        <li class="user-categories"><a class="category-item" data-id="{{ c.id }}" >{{ c.name }}</a></li>
                    {{# }, user_categories); }}

                    <li class="dropdown-wrapper" ><a class="dropdown-button category-item" data-activates="categories-dropdown" data-beloworigin="true" data-constrainwidth="false" data-hover="true"  data-id="arrow"><i class="material-icons">arrow_drop_down</i></a></li>

                </ul>
                <ul id="categories-dropdown" class="dropdown-content"></ul>

            </div>
            <div class="col s2 m1 push-m1 l1 nav-item">
                <div class="category-button right">
                    <button class="btn waves-effect waves-cw-blue btn-secondary" id="manage-categories">
                        <i class="tiny material-icons left">label</i>
                        <span class="hide-on-med-and-down">MANAGE</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</nav>
<div class="content">
    <div class="row">
        <div class="col s12 m3 l2 push-l1">
            <div class="row center">
                <div class="col s6 m12">
                    <div class="new-thread-wrapper center-block">
                        <div class="prompt">Can't find the issue that you're interested in?</div>
                        <button class="new-thread btn waves-effect modal-trigger"><i class="material-icons left">note_add</i>New Thread</button>
                    </div>
                </div>
                <div class="col s6 m12">
                    <div class="issue-list center-block">
                        <div class="section">
                            <div class="list-title" id="trending-issues">
                                <i class="mini material-icons">trending_up</i>Trending Issues
                            </div>
                            <div class="divider"></div>
                            <div class="list">
                                {{# _.each(trending, function (t) {}}
                                    <div class="list-item left-align"><a class="list-text" href="thread/{{t.id}}">{{t.title}}</a></div>
                                {{# }, this); }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m9 l8 push-l1 scroll-col">
            <div class="list" id="feed-list"></div>
            {{# if (draft_threads.length > 0){ }}
            <div class="section center">
                <div class="title-lato">Your Drafts ({{draft_threads.length}})</div>
            </div>
            <div class="row">
            {{# _.each(draft_threads, function (t) {}}
                <div class="col s12">
                {{= cw.underscorePartial('thread-card-template', ({thread_data: t, categories: categories}))}}
                </div>
            {{# }, this); }}
            {{# } }}
            </div>
        </div>
    </div>
</div>


<div class="new-thread-modal-holder"></div>
<div class="categories-modal-holder"></div>
{% endverbatim %}
