{% verbatim %}
<div class="modal new-thread-modal">
    <div class="modal-content">
        <div class="new-thread-contention new-thread-container">
            <div class="input-field white-background-input-field left-input-field">
                <input id="thread-title" type="text" length="120">
                <label for="thread-title">Title</label>
            </div>
        </div>
        <div class="new-thread-body white-background-input-field new-thread-container">
            <div class="input-field left-input-field">
                <textarea id="thread-body" type="text" class="materialize-textarea" length="4000"></textarea>
                <label for="thread-body">Summary</label>
            </div>
        </div>
        <div class="row">
            <div class="new-thread-level-selection white-background-input-field col s4">
                <div class="input-field left-input-field">
                    <select id="thread-location">
                        <option value="" disabled selected>Choose a Location</option>
                        <option value="federal">Federal</option>
                        <option value="state">State</option>
                    </select>
                </div>
            </div>
            <div class="new-thread-state-selection white-background-input-field col s4 hide">
                <div class="input-field left-input-field">
                    <select id="thread-state">
                        {{# _.each(this.options.states, function (s) { }}
                            <option value="{{s[0]}}">{{s[1]}}</option>
                        {{# }); }}
                    </select>
                </div>
            </div>
        </div>

        <div class="new-thread-category-selection white-background-input-field">
            <div class="input-field left-input-field">
                <select id="thread-category">
                    <option value="" disabled selected>Choose your category</option>
                    {{# _.each(this.options.categories, function (c) { }}
                        <option value="{{c.id}}">{{c.name}}</option>
                    {{# }); }}
                </select>
            </div>
        </div>
        <div class="white-background-input-field">

            <div class="image-upload-method">
                <div class="header-lato">Upload Image:</div>
                <button class="waves-effect waves-light btn" id="image-from-computer"><i class="material-icons left">file_upload</i>COMPUTER</button>
                <button class="waves-effect waves-light btn" id="image-from-link"><i class="material-icons left">insert_link</i>LINK</button>
            </div>
            <form method="post" enctype="multipart/form-data" id="attachment_image_form" class="hide">
                <div class="file-field input-field">
                    <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                    <div class="btn attachment-image-pick dark-blue-background">
                        <span>Add an Image</span>
                        <input id="id_attachment_image" name="attachment_image" type="file" accept="image/*">
                    </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                <div class="file-preview"></div>
            </form>
            <input id="link-image-form" type="text" class="hide" placeholder="Paste your image link here..."/>
        </div>
    </div>

    <div class="modal-footer">
        <button class="draft-new-thread waves-effect btn">Draft</button>
        <button class="create-new-thread waves-effect btn">Publish</button>
        <button class="cancel-new-thread waves-effect btn-flat">Cancel</button>
    </div>
</div>
{% endverbatim %}
