<div class="container register-wrapper">
    <div class="title-block">
        <div class="title-lato">Register</div>
        <div class="accent-line"></div>
        <div class="start-area">
            <span class="body-lato">already have an account?</span>
            <span class="dark-link-lato login-link linkz">Log in</span>
        </div>
    </div>

    <div class="input-area center-align">
        <div class="row">
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="username" type="text" class="validate" required>
                <label for="username">Username</label>
            </div>
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
            <div class="white-background-input-field input-field col s12 left-align">
                <input id="password" type="password" class="validate" required>
                <label for="password">Password</label>
            </div>
        </div>
    </div>
    <div class="notice-text">
        By registering you agree to our <a class="link-lato" href="#">terms&policy</a>
    </div>
    <button class="register-button btn waves-effect" type="submit" name="action">Register
        <i class="material-icons right">account_box</i>
    </button>
</div>
