<div class="modal new-civi-modal">
    <div class="modal-content">
        <h5 class="purple-text">What type of civi would you like to add?</h5>
        <span>Choose One</span>
        <div class="civi-types">
            <button class="btn waves-effect civi-type-button">
                PROBLEM
            </button>
            <button class="btn waves-effect civi-type-button">
                CAUSE
            </button>
            <button class="btn waves-effect civi-type-button">
                SOLUTION
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button class="create-new-civi waves-effect btn">Add Civi</a>
        <button class="cancel-new-civi waves-effect btn">Cancel</a>
    </div>
</div>
