{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invite Your Friends to CiviWiki</title>
    {% load staticfiles %}
    {% include "base/links.html" %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
    <script src="{% static "dependencies/less.min.js" type="text/javascript" %}"></script>
</head>

<script id="single-invite-template" type="text/template">
{% verbatim %}
<tr>
    <td>{{email}}</td>
    <td>{{date_invited}}</td>
    {{# if (status == "sent") { }}
    <td>
        <div class="light-gray-text">
            <i class="material-icons tiny">send</i> Invite Sent
        </div>
    </td>
    {{# } else if (status == "registered") { }}
    <td>
        <a href="/profile/{{username}}" class="waves-light blue-text">
            <i class="material-icons tiny">verified_user</i> Active
        </a>
    </td>
    {{# } else { }}
    <td>No Data</td>
    {{# } }}
</tr>
{% endverbatim %}
</script>

<script id="invite-template" type="text/template">
    <div class="container row">
        <div class="section row"></div>
        <div class="z-depth-1 white">
            <div class="container">
                <div class="section center">
                    <div class="title-lato">CiviWiki Invites</div>
                </div>
                <div class="row">
                    <h1 class="subtitle-lato"><i class="tiny material-icons">email</i> Invite New Users</h1>
                    <div class="section text">Add emails of those you want to invite to CiviWiki</div>
                    <div class="input-field white-background-input-field ">
                        <textarea name="emails" id="emails" class="materialize-textarea "></textarea>
                        <label for="emails">Send Invites To...</label>
                    </div>
                    <div class="input-field white-background-input-field ">
                        <textarea name="custom_message" id="custom_message" class="materialize-textarea"></textarea>
                        <label for="custom_message">Your Custom Invite Message (optional)</label>
                    </div>

                    <button id="send-invites" class="btn dark-blue-background">Invite</button>
                </div>
                <div class="section row">
                    <div class="subtitle-lato"><i class="tiny material-icons">recent_actors</i> My Invites</div>
                    <h6 class="grey-text"><span id="invitee-count"></span> Invitation(s)</h6>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Date Invited</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="invitee-list"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>


<body class="grey lighten-4">
    {% include "partials/utils/global_nav.html" %}
    <div id="invite"></div>
</body>

<script type="text/javascript" src="{% static "js/invite.js" %}"></script>
<script type="text/javascript">
    var data = {};
    data.username = '{{user.username}}';
    data.user_id = '{{user.id}}';
    data.invitees = JSON.parse('{{invitees|escapejs}}');

    var inviteView = new cw.InviteView(data);
</script>

</html>
