<!doctype html>

<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/thread_less.html" %}
</head>

<script id="thread-template" type="text/template">
    {% include "partials/thread/thread_base.html" %}
</script>

<script id="thread-wiki-template" type="text/template">
    {% include "partials/thread/thread_wiki.html" %}
</script>
<script id="edit-wiki-template" type="text/template">
    {% include "partials/thread/edit_wiki.html" %}
</script>

<script id="thread-body-template" type="text/template">
    {% include "partials/thread/thread_body.html" %}
</script>

<script id="thread-response-template" type="text/template">
    {% include "partials/thread/thread_responses.html" %}
</script>

<script id="profile-button-template" type="text/template">
    {% include "partials/utils/profile_button.html" %}
</script>

<script id="civi-template" type="text/template">
    {% include "partials/utils/civi.html" %}
</script>

<script id="response-template" type="text/template">
    {% include "partials/utils/response.html" %}
</script>

<script id="new-civi-template" type="text/template">
    {% include "partials/thread/new_civi.html" %}
</script>
<script id="new-response-template" type="text/template">
    {% include "partials/thread/new_response.html" %}
</script>
<script id="edit-thread-template" type="text/template">
    {% include "partials/thread/edit_thread.html" %}
</script>
<script id="outline-template" type="text/template">
    {% include "partials/thread/thread_outline.html" %}
</script>

<body>
    {% include "partials/utils/global_nav.html" %}
    <div id="thread"></div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body>

<script type="text/javascript" src="{% static "js/thread.js" %}"></script>
<script type="text/javascript">

    var username = '{{user.username}}',
        threadId = '{{thread_id}}',
        thread_is_draft = '{{is_draft}}',
        thread_body_data = JSON.parse('{{ thread_body_data|escapejs }}'),
        thread_wiki_data = JSON.parse('{{ thread_wiki_data|escapejs }}');

    var threadModel = new cw.ThreadModel(thread_wiki_data, {threadId: threadId});
    var civiCollection = new cw.CiviCollection(thread_body_data.civis, {threadId: threadId});

    var threadView = new cw.ThreadView({
        username: username,
        model: threadModel,
        civis: civiCollection,
        is_draft: (thread_is_draft == 'True')
    });

    // HACK: TEMP Websocket fun
    // var WS_SCHEME = window.location.protocol == "https:" ? "wss" : "ws";
    // var HOST = WS_SCHEME + '://' + window.location.host;
    // cw.ws = new WebSocket(HOST + "/thread/"+threadId+"/");
    //
    // cw.ws.onopen = function() {
    //     cw.ws.send("Boop!");
    // };
    // cw.ws.onmessage = function (event) {
    //     data = JSON.parse(event.data);
    //
    //     console.log(data.command, data.data.title);
    // };
    //
    // if (cw.ws.readyState == WebSocket.OPEN) cw.ws.onopen();
</script>

<script>
    // Script for Share button dropdown menu.

    // Allows dropdown menu to be closed by clicking away

    $('html').click(function() {
        document.getElementById('share-options').className = 'share-hidden';
    });

    $('#share-options').click(function(event){
        event.stopPropagation();
    });

    $('#share-menu').click(function(event){
        event.stopPropagation();
    });

    // Adds current thread URL and title to sharing link

    links = document.getElementsByClassName('resp-sharing-button__link');
    titleVars = ['text=', 'title=', 'caption=', 'subject='];
    for (i = 0; i < links.length; i++) {
        links[i].href += encodeURIComponent(window.location);
        for (j = 0; j < titleVars.length; j++) {
            index = links[i].href.indexOf(titleVars[j]);
            if (index > -1) {
                links[i].href = links[i].href.substring(0, index + titleVars[j].length) +
                                document.getElementsByClassName('thread-title')[0].innerHTML +
                                links[i].href.substring(index + titleVars[j].length, links[i].href.length);
            }
        }
    }

    // Tumblr needs an extra parameter

    links[3].href += '&canonicalUrl=' + encodeURIComponent(window.location);

    // Displays dropdown menu

    function share() {
        if (document.getElementById('share-options').className != 'share') {
            document.getElementById('share-options').className = 'share';
        } else {
            document.getElementById('share-options').className = 'share-hidden';
        }
    }
</script>

</html>
