<!doctype html>
<html>
<head>
    {% load staticfiles %}
    {% include "base/links.html" %}
    {% include "base/less_headers/setup_less.html" %}
</head>

<script id="setup-base-template" type="text/template">
    {% include "partials/user-setup/user-setup-base.html" %}
</script>
<script id="step0-template" type="text/template">
    {% include "partials/user-setup/step0.html" %}
</script>
<script id="step1-template" type="text/template">
    {% include "partials/user-setup/step1.html" %}
</script>
<script id="step2-template" type="text/template">
    {% include "partials/user-setup/step2.html" %}
</script>
<script id="step3-template" type="text/template">
    {% include "partials/user-setup/step3.html" %}
</script>
<script id="location-template" type="text/template">
    {% include "partials/user-setup/map.html" %}
</script>
<script id="rep-chip-template" type="text/template">
    {% verbatim %}
    <div class="rep bold-text purple-text chip">
        <img src="https://theunitedstates.io/images/congress/225x275/{{ rep.bioguide_id }}.jpg" alt="rep image">
        <span>{{rep.title}} {{rep.first_name}} {{rep.last_name}} </span>
    </div>
    {% endverbatim %}
</script>

<body>
    <div id="user-setup"></div>
</body>

<script type="text/javascript" src="{% static "js/user-setup.js" %}"></script>
<script type="text/javascript" src="{% static "js/utils/locate.js" %}"></script>
<script type="text/javascript">
    var googleMapsApiKey = "{{ google_map_api_key }}";
    var sunlightApiKey = "{{ sunlight_api_key }}";
    var accountUsername= "{{ username }}";
    var accountModel = new cw.AccountModel({username: accountUsername});

    var mapView = new cw.MapView({model: new cw.Map(), googleMapsApiKey: googleMapsApiKey, sunlightApiKey: sunlightApiKey});
    var setupView = new cw.UserSetupView({model: accountModel, mapView: mapView});
    accountModel.fetch();
</script>
</html>
