<script id="following-template" type="text/template">
<div class="people scroll">
    <div class="row tab-title">
        <div class="col s6 title-lato">{{this.model.get('following').length}} Following</div>
        <div class="input-field col s4 push-s2">
          <input id="search" type="text" class="validate">
          <label for="search">Search</label>
        </div>
    </div>
    <!-- Populate Civi list -->
    <div class="row">
        {{# if (this.model.get('following').length > 0) { }}
        {{# _.each(this.model.get('following'), function (u) { }}
            <div class="col s12 m6">
            {{= cw.underscorePartial('user-chip-template', u)}}
            </div>
        {{# }, this); }}
        {{# } else { }}
        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <div class="center title-lato grey-text">NO FOLLOWINGS</div>
                </div>
            </div>
        </div>
        {{# } }}
    </div>
</div>
</script>
