<div class="container login-wrapper">
    <div class="title-block">
        <div class="title-lato">Forgot Password?</div>
    </div>

    <ul class="error">
        {% if form.errors %}
            {% for value in form.errors.values %}
                <li>{{ value }}</li>
            {% endfor %}
        {% endif %}
    </ul>

    <p>Enter your email below to receive password reset instructions.</p>

    <form method="post" action="{% url 'accounts_password_reset' %}">
        {% csrf_token %}
        <div class="input-area row">
            <div>
                <div class="login-input white-background-input-field input-field col s12 left-align">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>

            <input class="login-button btn waves-effect" type="submit" value="Submit">
        </div>
    </form>
</div>
