{% extends 'accounts/register/entry_base.html' %}

{% block entry_content %}
    {% if validlink %}
        <div class="container login-wrapper">
            <div class="title-block">
                <div class="title-lato">Change Password</div>
            </div>

            <ul class="error">
                {% if form.errors %}
                    {% for value in form.errors.values %}
                        <li>{{ value }}</li>
                    {% endfor %}
                {% endif %}
            </ul>

            <p>Enter your new password below</p>

            <form method="POST">
                {% csrf_token %}
                <div class="input-area row">
                    <div>
                        <div class="login-input white-background-input-field input-field col s12 left-align">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <div>
                        <div class="login-input white-background-input-field input-field col s12 left-align">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <input class="login-button btn waves-effect" type="submit" value="Change password">
                </div>
            </form>
        </div>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.To request
            a new password reset <a href="{% url 'accounts_password_reset' %}">click here</a>.</p>
    {% endif %}
{% endblock %}