.main_img {
    max-height: 400px;
    padding: 20px;
}

.sponsor_logos {
    max-width: 300px;
    max-height: 300px;
}

.meet_team{
	.row{
		margin-top: 50px;
	}
	img{
		height: 180px;
		width: 180px;
	}
}

.collapsible {
  border: none;
  box-shadow: none;
}

.collapsible-header {
  border: none;
  background-color: transparent !important;
}

.collapsible-header:hover {
  text-decoration: underline;
}

.collapsible-body {
  border: none;
  background-color: transparent !important;
}

.infographic {
  width: inherit;
}

.infographic img{
  width: 100%;
}
