body{
	background-image: url('../img/civiwiki_tree_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	width: auto;
	height: auto;
}

#login {
	#sign-up{
		margin-top: 30px;
	}

    #open-login-
    #login-action-button{
    	padding-top: 30px;
    }

    .welcome-section{
        margin-top: 30px;
    }

}
