{% verbatim %}
{{# if (!is_draft) { }}
<div class="civi-switch center">
    <div class="switch">
        <span class="count-badge badge-other white-text left">{{count.totalOther}}</span>
        <label>
            <span class="label-other">Other</span>
            <input type="checkbox" id="recommended-switch" checked>
            <span class="lever"></span>
            <span class="label-recommended bold">Recommended</span>
        </label>
        <span class="count-badge badge-recommended white-text right">{{count.totalRec}}</span>
    </div>
{{# } }}
</div>
<div class="problem-nav">
    <div class="civi-nav-header">
        <span class="civi-nav-title bold-text">Problem</span>
        {{# if (count.problem > 0) { }}
            <span class="civi-nav-count right white-text">{{count.problem}}</span>
        {{# } }}
    </div>
    <div class="problem-nav-wrapper civi-nav-wrapper" id="problem-nav">
        {{# _.each(problems, function (p) { }}
            <div class="problem-nav-indiv civi-nav-indiv">
                <i class="material-icons tiny civi-nav-state" id="civi-nav-state-{{p.get('id')}}"></i>
                <div class="civi-nav-link" data-civi-nav-id="{{p.get('id')}}" id="civi-nav-{{p.get('id')}}">
                    <span>{{p.get('title')}}</span>
                </div>
            </div>
        {{# }); }}
    </div>
</div>
<div class="cause-nav">
    <div class="civi-nav-header">
        <span class="civi-nav-title bold-text">Cause</span>
        {{# if (count.cause > 0) { }}
            <span class="civi-nav-count right white-text">{{count.cause}}</span>
        {{# } }}
    </div>
    <div class="cause-nav-wrapper civi-nav-wrapper" id="cause-nav">
        {{# _.each(causes, function (c) { }}
            <div class="cause-nav-indiv civi-nav-indiv">
                <i class="material-icons tiny civi-nav-state" id="civi-nav-state-{{c.get('id')}}"></i>
                <div class="civi-nav-link" data-civi-nav-id="{{c.get('id')}}" id="civi-nav-{{c.get('id')}}">
                    <span>{{c.get('title')}}</span>
                </div>
            </div>
        {{# }); }}
    </div>
</div>
<div class="solution-nav">
    <div class="civi-nav-header">
        <span class="civi-nav-title bold-text">Solution</span>
        {{# if (count.solution > 0) { }}
            <span class="civi-nav-count right white-text">{{count.solution}}</span>
        {{# } }}
    </div>
    <div class="solution-nav-wrapper civi-nav-wrapper" id="solution-nav">
        {{# _.each(solutions, function (s) { }}
            <div class="solution-nav-indiv civi-nav-indiv">
                <i class="material-icons tiny civi-nav-state" id="civi-nav-state-{{s.get('id')}}"></i>
                <div class="civi-nav-link" data-civi-nav-id="{{s.get('id')}}" id="civi-nav-{{s.get('id')}}">
                    <span>{{s.get('title')}}</span>
                </div>
            </div>
        {{# }); }}
    </div>
</div>
{% endverbatim %}
