<!-- Navbar for static pages -->
{% load static %}
{% load i18n %}


<nav class="static-nav transparent">
    <div class="nav-wrapper">
        <!-- Left Nav (Logo) -->
        <a href="/" class="brand-logo">
            <object class="logo-img" type="image/svg+xml" data="{% static "img/logo-civiwiki-tree-white.svg" %}" height="36px"></object>
            <span class="wordmark">CiviWiki</span>
        </a>

        <!-- Right Nav -->
        <ul class="right hide-on-med-and-down">
            <li><a class="dark-white-text menu-text" href="howitworks">{% trans "How CiviWiki Works" %}</a></li>
            <li><a class="dark-white-text menu-text" href="about">{% trans "about us" %}</a></li>
            <li><a class="dark-white-text menu-text" href="support_us">{% trans "Support >Us" %}</a></li>
            <li><a href="login" class="waves-effect waves-light btn login-btn">{% trans "Login / Sign Up" %}</a></li>
        </ul>

        <!-- Side Nav for mobile view-->
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="nav-mobile">
          <li><a href="login">LOGIN / SIGN UP</a></li>
          <li><a class="dark-white-text menu-text" href="/">main</a></li>
          <li><a class="dark-white-text menu-text" href="howitworks">{% trans "How CiviWiki Works" %} </a></li>
          <li><a class="dark-white-text menu-text" href="about">{% trans "About Us" %} </a></li>
          <li><a class="dark-white-text menu-text" href="support_us">{% trans "Support Us" %}</a></li>
        </ul>
    </div>
</nav>
