{% verbatim %}
<!-- <div class="civi-cover">
    <div class="card cover-content">
        <div class="content section">This contains information about the civi itself here
</div> -->
<div class="civi-card white" data-id="">
    <div class="civi-header-account white">
        <div class="civi-title-outer ">
            <div class="civi-type gray-text">
                {{type}}
            </div>
            <div class="civi-title">
                {{title}}
            </div>
        </div>
        <div class="right rating">
            <div class="rating-box r-0">
                <div class="rating-score r-0">{{votes.votes_vneg}}</div>
                <div class="vote-icon strongly-disagree-icon double-icon r-0">
                    <i class="material-icons double-icon-1">thumb_down</i>
                    <i class="material-icons double-icon-2">thumb_down</i>
                </div>
            </div>
            <div class="rating-box r-1">
                <div class="rating-score r-1">{{votes.votes_neg}}</div>
                <div class="vote-icon disagree-icon r-1">
                    <i class="material-icons">thumb_down</i>
                </div>
            </div>
            <div class="rating-box r-2">
                    <div class="rating-score r-2">{{votes.votes_neutral}}</div>
                <div class="vote-icon neutral-icon r-2">
                    <i class="material-icons">remove</i>
                </div>
            </div>
            <div class="rating-box r-3">
                <div class="rating-score r-3">{{votes.votes_pos}}</div>
                <div class="vote-icon agree-icon r-3">
                    <i class="material-icons">thumb_up</i>
                </div>
            </div>
            <div class="rating-box r-4">
                <div class="rating-score r-4">{{votes.votes_vpos}}</div>
                <div class="vote-icon strongly-agree-icon double-icon r-4">
                    <i class="material-icons double-icon-1">thumb_up</i>
                    <i class="material-icons double-icon-2">thumb_up</i>
                </div>
            </div>
        </div>
    </div>
    <div class="civi-body">
        <div class="civi-body-inner">
            {{body}}
        </div>
    </div>
    <div class="civi-footer">
        <div class="author-photo-holder">
            <div class="author-photo white">
                <!-- <img src="{{author.profile.profile_image}}" height="34px"> -->
                <div class="author-photo transparent" style="background-image: url('{{author.profile.profile_image}}'); background-size: 34px;">

                </div>
            </div>
        </div>
        <div class="author-info">
            <div class="author-name purple-text bold-text">
                {{author.username}}
            </div>
            <div class="created gray-text">
                {{ created }}
            </div>
        </div>
        <div class="right civi-footer-actions">
            <a class="link-lato" href="/thread/{{thread_id}}">
                Go to context<i class="mini material-icons">launch</i>
            </a>
        </div>
    </div>
</div>
{% endverbatim %}
