{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}Settings{% endblock page_title %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/setup.less" %}"/>
{% endblock extra_css %}

{% block content %}
    {% include "partials/utils/global_nav.html" %}
    <section style='display: flex;justify-content: center; padding-top: 20px;'>
        <div class="setting card" style="width: 75%;" >
            <div class="card-content">
                {% include "accounts/utils/update_settings_form.html" %}
            <div>
        </div>
    </section>
</body>
{% endblock content %}
