<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    {% load static %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/utils.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/setup.less" %}"/>
    <script src="{% static "dependencies/less.min.js" type="text/javascript" %}"></script>
</head>

<body>
    {% include "partials/utils/global_nav.html" %}
    <section style='display: flex;justify-content: center; padding-top: 20px;'>
        <div class="setting card" style="width: 75%;" >
            <div class="card-content">
                {% include "accounts/utils/update_settings_form.html" %}
            <div>
        </div>
    </section>
</body>
</html>
