{% verbatim %}
<div class="people">
    <div class="row">
        <div class="col s12 title-lato">My following</div>
    </div>
    <!-- Populate Civi list -->
    <div class="row">
        {{# _.each(Array(10).fill("cividus"), function (u) { }}
            {{= cw.underscorePartial('people-template', {profile_image: "http://placehold.it/4/"+Math.floor(Math.random()*16777215).toString(16), username:u, first_name:"Cividus", last_name:"Wikir"})}}
        {{# }, this); }}
    </div>
</div>
{% endverbatim %}
