{% verbatim %}
<div class="people scroll">
    <div class="row tab-title">
        <div class="col s6 title-lato">{{this.model.get('followers').length}} Followers</div>
        <div class="input-field col s4 push-s2">
          <input id="search" type="text" class="validate">
          <label for="search">Search</label>
        </div>
    </div>
    <!-- Populate Civi list -->
    <div class="row">
        {{# if (this.model.get('followers').length > 0) { }}
        {{# _.each(this.model.get('followers'), function (u) {}}
            <div class="col s12 m6">
            {{= cw.underscorePartial('user-chip-template', JSON.parse(u))}}
            {{= cw.underscorePartial('user-card-template', JSON.parse(u))}}
            </div>
        {{# }, this); }}
        {{# } else { }}
        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <div class="center title-lato grey-text">NO FOLLOWERS</div>
                </div>
            </div>
        </div>
        {{# } }}
    </div>
</div>
{% endverbatim %}
