{% if representative %}
{% verbatim %}
<div class="profile-civi-list">
    <div class="row tab-title">
        <div class="col s6 title-lato">My Bills</div>
    </div>
    <!-- Populate Civi list -->
    <div class="row">
            {{# if (this.model.get('rep_data').bills.length > 0) { }}
                {{# _.each(this.model.get('rep_data').bills, function (c) { }}
                    {{= cw.underscorePartial('bill-template', JSON.parse(c))}}
                {{# }, this); }}
            {{# } else { }}
            <div class="section no-state">
                <div class="container">
                    <div class="section">
                        <div class="center title-lato text">NO BILLS</div>
                    </div>
                </div>
            </div>
            {{# } }}
    </div>
</div>
{% endverbatim %}
{% endif %}
