{% verbatim %}
<div class="row tab-title">
    <div class="col s12 title-lato">My representatives</div>
</div>
<!-- Populate Civi list -->
<div class="row">


    {{# if (this.model.get('representatives').length > 0) { }}
    {{# _.each(this.model.get('representatives'), function (r) { }}
        {{= cw.underscorePartial('rep-template', JSON.parse(r))}}
    {{# }, this); }}
    {{# } else { }}
    <div class="section no-state">
        <div class="container">
            <div class="section">
                <div class="centerw title-lato grey-text">NO REPRESENTATIVES</div>
            </div>
        </div>
    </div>
    {{# } }}
</div>
{% endverbatim %}
