@import "base";
@import "static_common";


#supportus{
/*
	Main Parallax Image container presentation
 */
div.parallax-container {
	// margin-top: -100px;
	padding-top: 100px;
	height: 400px;
}

.parallax {
	img {
		-webkit-filter: brightness(30%);
		-moz-filter: brightness(30%);
		filter: brightness(30%);
	}
}
#supportus {
    font-size-adjust: 0.5;
    letter-spacing: 0.005em;
}

/*
	Font Size & Weight Adjustments
 */
.header {
	font-weight: 600;
	color: @white;
}
.support_message {
	background-color: @muted-purple;
	.support_message_text {
		font-size: 1.2em;
		color: @dark-white;
		font-weight: 300;
	}
}

.donate_title {
	font-size: 1.1em;
	font-weight: 500;
}

.redirect-team {
	background-color: @dark-white;
	.redirect-team-text {
		color: @dark-purple;
		&:hover {
			color: @purple;
		}
	}
}

/*
	Border lines to separate content
 */
.supportus_divider {
	height: .1em;
	border-bottom: 1px solid @dark-gray;
}
.title {
	border-bottom: 2px solid @purple;
}


/*
	Additional margins to give spacing between element
 */
.donate_options {
	margin-top: 2.0em;
}
.support_info{
	img{
		margin-top: 1em;
    	margin-bottom: 1em;
	}
}

/*
  Give the share buttons appropriate social website colors
*/
.button_share_facebook {
	background-color: #3b5998;
}
.button_share_twitter {
	background-color: #55acee;
}

/*
  reward image scaling to reasonable time
*/
.share-button{
	max-width: 150px;
}

}
