
{% verbatim %}

<div class="row tab-title">
    <div class="col s12 title-lato">Account Settings</div>
</div>

<!-- TODO: Content swipes up for edit functions -->
<div class="account-edit">
    <div class="section">
    <div class="card">
    <div class="card-content">
        <div class="row">
            <div class="profile-info">
                <div class="subtitle-lato">Account Information</div>
                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="password" type="text" value="">
                    <label for="password">Password</label>
                </div>
                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="password-validation" type="text" value="">
                    <label for="password-validation">Password Validation</label>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="section">
    <div class="card">
    <div class="card-content">
        <div class="row">
                <div class="subtitle-lato">Personal Information</div>

                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="first_name" type="text" value="{{this.model.get('first_name')}}">
                    <label for="first-name">First Name</label>
                </div>
                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="last_name" type="text" value="{{this.model.get('last_name')}}">
                    <label for="last-name">Last Name</label>
                </div>

                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="zip_code" type="text" value="{{this.model.get('zip_code')}}">
                    <label for="zipcode">Zip Code</label>
                </div>
                <div class="file-field input-field col s12">
                  <div class="btn dark-blue-background">
                    <span>Upload</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Profile Image">
                  </div>
                </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endverbatim %}
