{% verbatim %}
<div class="row">
    <div class="col s3 scroll-col account-settings">

    </div>
    <div class="col s9 account-tabs">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#activity">Recent Activity</a></li>
                            <li class="tab col s3"><a href="#groups">Your Groups</a></li>
                            <li class="tab col s3"><a href="#following">Following</a></li>
                            <li class="tab col s3"><a href="#interests">Interests</a></li>
                        </ul>
                    </div>
                    <div id="activity" class="col s12">activity thread</div>
                    <div id="groups" class="col s12">MIGHT BE DELETED AFTER TUESDAY</div>
                    <div id="following" class="col s12">people and groups you follow</div>
                    <div id="interests" class="col s12">interests you have</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
