<div class="row tab-title">
    <div class="col s12 title-lato">Account Settings</div>
</div>

<!-- TODO: Content swipes up for edit functions -->
<div class="account-edit">
    <div class="section">
    <div class="section">
    <div class="card">
    <div class="card-content">

        <div class="row">
                <div class="subtitle-lato">Personal Information</div>
                {% verbatim %}
                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="first_name" type="text" value="{{this.model.get('first_name')}}">
                    <label for="first-name">First Name</label>
                </div>
                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="last_name" type="text" value="{{this.model.get('last_name')}}">
                    <label for="last-name">Last Name</label>
                </div>
                <div class="white-background-input-field input-field col s12">
                    <input class="save-account" id="about_me" type="text" value="{{this.model.get('about_me')}}">
                    <label for="zipcode">About Me</label>
                </div>
                <div class="white-background-input-field input-field col s12">
                    <!-- <input class="save-account" id="zip_code" type="text" value="{{this.model.get('location')}}"> -->
                    <div class="section">
                        <label for="location">Location</label>
                        <div id="location"></div>
                    </div>

                </div>


                {% endverbatim %}
                <div class="white-background-input-field input-field col s12">
                    <form method="post" enctype="multipart/form-data" id="profile_image_form">
                        <div class="file-field input-field">
                            <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                            <div class="btn profile-image-pick">
                                <span>Profile Image</span>
                                <input id="id_profile_image" name="profile_image" type="file">
                            </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                          </div>
                        </div>
                    </form>
                </div>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
