{% verbatim %}
<div class="profile-image">
    <div class="big-image-cropper z-depth-1">
        <img class=" responsive-img " src={{this.model.get('profile_image')}}>
    </div>
</div>
<div class="user-info section">
    <div class="full-name">{{this.model.get('first_name')}} {{this.model.get('last_name')}}</div>
    <div class="username">@{{username}}</div>
</div>
<div class="transparent">
    <div class="card-content">
        <div class="location-info">
            <div class="section-title">MY INFO</div>
            <div class="divider"></div>
            <div class="location"><i class="mini material-icons">place</i>{{this.model.get('location')}}</div>
        </div>
        <div class="section">
            <div class="section-title">ABOUT ME</div>
            <div class="divider"></div>
            <div class="about-me">{{this.model.get('about_me')}}</div>
        </div>
{% endverbatim %}
{% if request.user.username != username|stringformat:"s" %}
    <div class="profile-options">
        <a class="waves-effect waves-light btn follow-btn" data-username="{{username}}" data-follow-state="{{follow_state}}"><i class="material-icons mini left">person_add</i>follow</a>
    </div>
{% endif %}
    </div>
</div>
