{% verbatim %}

<div class="account-base">
    <div class="row dark-purple-background top-bar z-depth-1">
        <div class="col m2 push-m1 ">
            <div class="logo">CiviWiki</div>

        </div>
        <div class="account-tabs col m6 push-m1">
            <ul class="tabs transparent">
                <li class="tab"><a class="active" href="#civis"><i class="mini material-icons">library_books</i>My Civis</a></li>
                <li class="tab"><a href="#followers"><i class="mini material-icons">people_outline</i>Followers</a></li>
                <li class="tab"><a href="#following"><i class="mini material-icons">group</i>Following</a></li>
                <li class="tab"><a href="#issues"><i class="mini material-icons">location_city</i>My Issues</a></li>
                <li class="tab"><a href="#myreps"><i class="mini material-icons">assignment_ind</i>My Reps</a></li>
            </ul>
        </div>
    </div>
    <div class="row content">
        <div class="col m2 push-m1 account-settings">
        </div>
        <div class="col m8 push-m1 scroll-col">
            <div class="row">
                <div id="civis" class="col s12"></div>
                <div id="followers" class="col s12"></div>
                <div id="following" class="col s12"></div>
                <div id="issues" class="col s12"></div>
                <div id="myreps" class="col s12"></div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
