{% extends "base.html" %}

{% block content %}
<div class="account-base">

    <div class="row content">
        <div class="col m2 push-m1 account-settings"></div>
        <div class="col m8 push-m1 scroll-col">
            <div class="row">
                <div class="row top-bar sub-nav">
                    <div class="account-tabs">
                        <ul class="tabs transparent left">
                            <li class="tab"><a class="active" href="#civis">MY CIVIS</a></li>
                            <li class="tab"><a href="#followers">FOLLOWERS</a></li>
                            <li class="tab"><a href="#following">FOLLOWING</a></li>
                            <li class="tab"><a href="#issues">MY ISSUES</a></li>
                            {% if request.user.username == username|stringformat:"s" %}
                            <li class="tab">
                                <a href="#settings">Settings</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row">
                <div id="civis" class="col s12">
                    <div class="center " style="margin-top:25%;">
                        <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                            <div class="circle"></div>
                          </div><div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="followers" class="col s12"></div>
                <div id="following" class="col s12"></div>
                <div id="issues" class="col s12"></div>

                {% if request.user.username == username|stringformat:"s" %}
                <div id="settings" class="col s12"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}