{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    {% include "base/less_headers/login_less.html" %}
{% endblock extra_css %}
    
{% block backbone_template %}
<script id="entry-template" type="text/template">
    <div class="entry-base center-align valign-wrapper">
        <div class="valign center">
            <div class="logo center">
                <object class="logo-img" type="image/svg+xml" data="{% static "img/logo-civiwiki-tree-white.svg" %}" height="64px"></object>
                <span class="wordmark">CiviWiki</span>
            </div>
            <div class="entry-forms">
                <div class="card wrapper z-depth-3">
                    <div class="card-content" id="entry-content"></div>
                </div>
                <div class="back-to-main">
                    <a class="text" href="/"><i class="material-icons mini">keyboard_backspace</i>Back to Main</a>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="login-template" type="text/template">
    <div class="container login-wrapper">
        <div class="title-block">
            <div class="title-lato">{% trans "Log in" %} </div>
            <div class="accent-line"></div>
            <div class="start-area">
                <span class="body-lato">{% trans "don't have an account?" %} </span>
                <span class="dark-link-lato register-link linkz">{% trans "Register" %} </span>
            </div>
        </div>
        <div class="input-area row">
            <div class="">
                <div class="login-input white-background-input-field input-field col s12 left-align">
                    <input id="username" type="text" class="validate" autofocus>
                    <label for="username">{% trans "Username" %}</label>
                </div>
                <div class="login-input white-background-input-field input-field col s12 left-align">
                    <input id="password" type="password" class="validate">
                    <label for="password">{% trans "Password" %} </label>
                </div>
            </div>
        </div>
        <div class="notice-text">
            {% trans "Forgot your username or password?" %}  <a class="link-lato" href="/auth/forgot/">{% trans "Click Here" %}</a>
        </div>
        <div class="">
            <button class="login-button btn waves-effect" type="submit" name="action">{% trans "Log In" %}
                <i class="material-icons right">exit_to_app</i>
            </button>
        </div>
    </div>
</script>
<script id="register-template" type="text/template">
    <div class="container register-wrapper">
        <div class="title-block">
            <div class="title-lato">{% trans "Register" %} </div>
            <div class="accent-line"></div>
            <div class="start-area">
                <span class="body-lato">{% trans "already have an account?" %} </span>
                <span class="dark-link-lato login-link linkz">{% trans "Log in" %}</span>
            </div>
        </div>
    
        <div class="input-area center-align">
            <div class="row">
                <div class="white-background-input-field input-field col s12 left-align">
                    <input id="username" type="text" class="validate" required>
                    <label for="username">{% trans "Username" %}</label>
                </div>
                <div class="white-background-input-field input-field col s12 left-align">
                    <input id="email" type="email" class="validate" required>
                    <label for="email">{% trans "Email" %}</label>
                </div>
                <div class="white-background-input-field input-field col s12 left-align">
                    <input id="password" type="password" class="validate" required>
                    <label for="password">{% trans "Password" %}</label>
                </div>
            </div>
        </div>
        <div class="notice-text">
            {% trans "By registering you agree to our" %} <a class="link-lato" href="#">{% trans "terms&policy" %} </a>
        </div>
        <button class="register-button btn waves-effect" type="submit" name="action">{% trans "Register" %}
            <i class="material-icons right">account_box</i>
        </button>
    </div>
</script>
{% endblock backbone_template %}

{% block content %}
    <div id="login"></div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static "js/login.js" %}"></script>
<script type="text/javascript">
    // TODO: Var to initialize to register if routed,
    // TODO: pre-fil variable if routed from verification page
    var loginView = new cw.LoginView();
</script>
{% endblock extra_js %}

