
<div class="thread-wiki">
    <div class="wiki-banner">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="wiki-title">
                        <div class="edit-thread-contention edit-thread-container">
                            <div class="input-field dark-background-input-field left-input-field">
                                <input id="thread-title" type="text" length="120" value="{{ title}}" class="blue-text">
                                <label for="thread-title">Title</label>
                            </div>
                        </div>
                    </div>

                    <div class="wiki-stats light-gray-text">
                        <span class="wiki-stat">{{ num_views }} Views</span>
                        <span class="wiki-stat">{{ num_civis }} Civis</span>
                    </div>
                </div>
                <div class="wiki-image col s6">
                    <div class="thread-image-wrapper">
                        <img class="thread-image-thumb" src="{{ image_url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <div class="wiki-author">
                        <div class="author-photo-holder">
                            <div class="author-photo transparent" style="background-image: url('{{ author.profile_image_thumb_url}}'); background-size: 40px;"></div>
                        </div>
                        <div class="author-info">
                            <a class="author-name bold-text" href="/profile/{{ author.username}}">{{ author.first_name}} {{ author.last_name}}</a>
                        </div>
                    </div>
                </div>
                {{# if ( author.username == currentUser) { }}
                <div class="col s3 wiki-edit-actions">
                    <div class="center">
                        <div class="edit-thread-button">
                            <i class="mini material-icons edit">edit</i>
                            <span class="edit-text">EDIT THREAD</span>
                        </div>

                    </div>
                </div>
                {{# } }}
            </div>
        </div>
    </div>
    <div class="wiki-body">
        <div class="container">
            <div class="row">
                    <div class="wiki-body-header">
                        <div class="gray-text col s12 m6">
                            <span class="black-text bold-text wiki-header-inner">Category:</span>
                            <div class="input-field">
                                <select id="thread-category">
                                    <option value="{{ category.id}}" selected>{{ category.name}}</option>
                                    {{# _.each( categories, function (c) { }}
                                        {{# if (c.id !=  category.id) { }}
                                        <option value="{{c.id}}">{{c.name}}</option>
                                        {{# } }}
                                    {{# }); }}
                                </select>
                            </div>
                        </div>
                        <div class="gray-text col s12 m6">
                            <span class="black-text bold-text wiki-header-inner">Location:</span>
                            <div class="input-fields">
                                <div class="edit-thread-level-selection white-background-input-field col s4">
                                    <div class="input-field">
                                        <select id="thread-location">
                                        <option value="federal">Federal</option>
                                        <option value="state">State</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="edit-thread-state-selection white-background-input-field col s4 hide">
                                    <div class="input-field">
                                        <select id="thread-state">
                                        {{# _.each( states, function (name, abbreviation) { }}
                                            <option value="{{abbreviation}}">{{name}}</option>
                                        {{# }); }}
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="wiki-body-summary">
                        <div class="edit-thread-body white-background-input-field edit-thread-container">
                            <div class="input-field left-input-field">
                                <textarea id="thread-body" type="text" class="materialize-textarea" length="4000">{{ summary}}</textarea>
                                <label for="thread-body">Summary</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="previous-image">
                        <div class="header-lato">Current image:</div>
                        <div class="button-wrapper">
                            <div class="delete-previous-image action-button"><i class="mini material-icons edit">clear</i>REMOVE</div>
                        </div>
                        <img class="thread-image-thumb" src="{{ image_url }}" width="50px" height="40px"/>
                    </div>
                    <div class="white-background-input-field" id="thread-image-forms">
                        <div class="image-upload-method">
                            <div class="header-lato">Upload Image:</div>
                            <button class="waves-effect waves-light btn" id="image-from-computer"><i class="material-icons left">file_upload</i>COMPUTER</button>
                            <button class="waves-effect waves-light btn" id="image-from-link"><i class="material-icons left">insert_link</i>LINK</button>
                        </div>
                        <form method="post" enctype="multipart/form-data" class="hide" id="attachment_image_form">
                            <div class="file-field input-field">
                                <input class="upload-image btn waves-effect hide" type="submit" value="Upload"/>
                                <div class="btn attachment-image-pick dark-blue-background">
                                    <span>Add an Image</span>
                                    <input id="thread_attachment_image" name="attachment_image" type="file">
                                </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                        </form>
                        <input id="link-image-form" type="text" class="hide" placeholder="Paste your image link here..."/>
                        <div class="use-previous-image action-button"><i class="mini material-icons edit">undo</i>USE PREVIOUS IMAGE</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="wiki-enter-body">
                        <button class="edit-thread waves-effect btn dark-blue-background">Save Edit</button>
                        <button class="cancel-thread waves-effect btn-flat">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>