<div class="section no-state">
    <div class="container">
        <div class="section">
            <div class="center title-lato grey-text">NO THREADS</div>
            <div class="section center">
                <div class="subtitle-lato grey-text section">Be the first to start a discussion in this category!</div>
                <button class="new-thread btn waves-effect js-new-thread">
                    <i class="material-icons left">note_add</i>New Thread</button>
            </div>
        </div>
    </div>
</div>