{% block content %}
    {% if notification.length > 0 %}
    <div class="container">
        <div class="section">
        {% for notifications in notification %}
            <div class="col s12"><li>{{notifications}}</li></div> 
        {% endfor %}
    </div>
    </div>
        {% else %}
        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <div class="center title-lato grey-text">NO NOTIFICATIONS</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
