{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    {% include "accounts/base/less_headers/login_less.html" %}
{% endblock extra_css %}

{% block content %}
{% include 'accounts/register/header.html' %}
<div class="entry-base center-align valign-wrapper">
    <div class="entry-forms">
        <div class="card wrapper z-depth-3">
                <div class="card-content" id="entry-content">
                    {% block form_content %}{% endblock %}
                </div>
            </div>
            <div class="back-to-main">
                <a class="text" href="/"><i class="material-icons mini">keyboard_backspace</i>{% trans "Back to Main" %}</a>
            </div>
    </div>
</div>
{% endblock content %}
