{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link type="text/css" rel="stylesheet/less" href="{% static "less/base.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/login.less" %}"/>
{% endblock extra_css %}

{% block content %}
<div class="valign center">
    <div class="logo center">
        <object class="logo-img" type="image/svg+xml" data="{% static "img/logo-civiwiki-tree-white.svg" %}" height="64px"></object>
        <span class="wordmark">CiviWiki</span>
    </div>
</div>

<div class="entry-base center-align valign-wrapper">
    <div class="entry-forms">
        <div class="card wrapper z-depth-3">
                <div class="card-content" id="entry-content">
                    {% block entry_content %}{% endblock %}
                </div>
            </div>
            <div class="back-to-main">
                <a class="text" href="/"><i class="material-icons mini">keyboard_backspace</i>{% trans "Back to Main" %}</a>
            </div>
    </div>
</div>
{% endblock content %}
