{% extends "accounts/register/entry_base.html" %}

{% block page_title %}Login{% endblock %}

{% block entry_content %}
    <div id="login-form">
        <div class="container login-wrapper">
            <div class="title-block">
                <div class="title-lato">Log in</div>
                <div class="accent-line"></div>
                <div class="start-area">
                    <span class="body-lato">don't have an account?</span>
                    <span class="dark-link-lato register-link linkz">
                        <a href="{% url 'accounts_register' %}">Register</a>
                    </span>
                </div>
            </div>
        
            <ul class="error">
                {% if form.errors %}
                    {% for value in form.errors.values %}
                        <li>{{ value }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        
            <form method="post" action="{% url 'accounts_login' %}">
        
                {% csrf_token %}
            <div class="input-area row">
                <div class="">
                    <div class="login-input white-background-input-field input-field col s12 left-align">
                        {{ form.username.label_tag }}
                        {{ form.username }}
        
                    </div>
                    <div class="login-input white-background-input-field input-field col s12 left-align">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                </div>
            </div>
            <div class="notice-text">
                Forgot your username or password?
                <a class="link-lato" href="{% url 'accounts_password_reset' %}">Click Here</a>
            </div>
            <div>
                <input class="login-button btn waves-effect" type="submit" value="Log In">
            </div>
        
            </form>
        </div>
    </div>
{% endblock %}
