{% extends "accounts/register/entry_base.html" %}

{% block page_title %}Register{% endblock %}

{% block entry_content %}
    <div id="login-form">
        <div class="container register-wrapper">
            <div class="title-block">
                <div class="title-lato">Register</div>
                <div class="accent-line"></div>
                <div class="start-area">
                    <span class="body-lato">already have an account?</span>
                    <span class="dark-link-lato login-link linkz">
                        <a href="{% url 'accounts_login' %}">login</a>
                    </span>
                </div>
            </div>
            <div class="error">
            {% if form.errors %}
                {% for value in form.errors.values %}
                    <div>{{ value }}</div>
                {% endfor %}
            {% endif %}
            </div>
        
            <form method="post" action="{% url 'accounts_register' %}">
        
                {% csrf_token %}
                <div class="input-area center-align">
                    <div class="row">
                        <div class="white-background-input-field input-field col s12 left-align">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
        
                        <div class="white-background-input-field input-field col s12 left-align">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="white-background-input-field input-field col s12 left-align">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="notice-text">
                    By registering you agree to our <a class="link-lato" href="#">terms&policy</a>
                </div>
        
                <div class="action">
                    <input class="login-button btn waves-effect" type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
