<nav class="feed-nav">
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s10 m10 l9 push-l1 nav-categories nav-item">
                <ul class="center-block" id="user-categories-list">
                </ul>
                <ul id="categories-dropdown" class="dropdown-content"></ul>

            </div>
            <div class="col s2 m2 l2 nav-item">
                <div class="category-button right">
                    <button class="btn waves-effect waves-cw-blue btn-secondary">
                        <i class="tiny material-icons left">label</i>
                        <span class="hide-on-med-and-down">MANAGE</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</nav>