{% verbatim %}
<div class="civi-card" data-civi-id="{{id}}">
    <div class="row civi-header">
        <div class="col s9 no-pads civi-title-outer">
            <div class="civi-type gray-text">
                {{type}}
            </div>
            <div class="civi-title">
                {{title}}
            </div>
        </div>
        <div class="col s3 no-pads civi-header-actions">
            <div class="right">
                <i class="mini material-icons">edit</i>
                <i class="mini material-icons">flag</i>
            </div>
        </div>
    </div>
    <div class="civi-body">
        <div class="civi-body-inner">
            {{body}}
        </div>
        <div class="attachments">
            <div class="attachments-title gray-text">
                ATTACHMENTS ({{attachments.length}})
            </div>
            {{# _.each(attachments, function (a) { }}
                <span>{{a}}</span>
            {{# }); }}
        </div>
        <div class="rating">
            <button class="btn waves-effect rating-button">
                <i class="tiny-for-button material-icons">thumb_down</i>
                <i class="tiny-for-button material-icons">thumb_down</i>
            </button>
            <button class="btn waves-effect rating-button">
                <i class="tiny-for-button material-icons">thumb_down</i>
            </button>
            <button class="btn waves-effect rating-button">
                <i class="tiny-for-button material-icons">remove</i>
            </button>
            <button class="btn waves-effect rating-button">
                <i class="tiny-for-button material-icons">thumb_up</i>
            </button>
            <button class="btn waves-effect rating-button">
                <i class="tiny-for-button material-icons">thumb_up</i>
                <i class="tiny-for-button material-icons">thumb_up</i>
            </button>
        </div>
    </div>
    <div class="civi-footer">
        <div class="author-photo-holder">
            <div class="author-photo">

            </div>
        </div>
        <div class="author-info">
            <div class="author-name purple-text bold-text">
                {{author}}
            </div>
            <div class="created gray-text">
                {{created}}
            </div>
        </div>
        <div class="right civi-footer-actions">
            <div>
                <i class="mini material-icons">star_border</i>
                <i class="mini material-icons">link</i>
                <i class="mini material-icons">comment</i>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
