<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>{{ title }}</title>
</head>
<body style="background-color: #f6f6f6;font-family: sans-serif;color: #181818;line-height: 1.5;width: 100%;margin: 0 !important;">
    <div class="wrapper" style="margin:auto;margin-top:16px;max-width:600px;width: 100%;">
        <div class="main" style="margin:8px;margin-bottom:24px;width:auto;background-color: #ffffff;border-radius: 8px;padding: 32px;">
            <table width="100%">
                <tr><td align="center" valign="middle"><a href="https://www.civiwiki.org" style="max-width: 250px;"><img class="logo" src="https://s3-us-west-2.amazonaws.com/civiwiki-static/logo-wordmark.png" alt="CiviWiki" style="line-height:100%;padding:0; text-align:center;width: 100%;max-width: 250px;"></a></td></tr>
            </table>
            <h1 style="color: #1acbab;">{{ greeting }}</h1>
            <p style="font-size:16px;">{{ body }}</p>
            {% if link %}
            Here is your link:<br>
            <div style="margin-bottom:24px;">
                <a class="btn" href="{{ link }}" target="_blank" style="color: #1acbab;">{{ link }}</a>
            </div>

            <!-- <table width="100%" style="margin-bottom:24px;">
                <tr><td align="center" valign="middle" ><a class="btn" href="{{ link }}" target="_blank" style="text-decoration: none;color: #ffffff;background-color: #74edd6;text-align: center;height: 64px;line-height: 48px;width: 200px;border-radius: 2px;padding: 16px 24px;font-size:18px;letter-spacing: 0.5px;text-transform: uppercase;">Link</a>
                </td></tr>
            </table> -->
            {% endif %}
            <div class="support-contact" style="font-size:16px;">
                Questions? Let us know at <a href="mailto:support@civiwiki.org" style="color: #501CB5;" target="_blank" >support@civiwiki.org</a>
            </div>
            <br>
            <div class="footer" style="font-size:14px;">
                Sincerely,<br>
                The CiviWiki Team<br>
                <a href="https://www.civiwiki.org" target="_blank" style="color: #501CB5;">civiwiki.org</a>
            </div>
        </div>
    </div>
</body>
</html>
