{% verbatim %}
<div class="modal categories-modal modal-fixed-footer">
    <div class="modal-content">
        <div class="title center">MY CATEGORIES</div>
        <form id="user-category-form" action="#" class="container">
            <div class="row">
                {{# _.each(categories, function (c) { }}
                    <p class="col s12 m6 category-checkbox">
                        {{# if (_.contains(user_categories, c.id)) { }}
                            <input class="filled-in" type="checkbox" value="{{ c.id }}" id="category-{{ c.id }}" checked="checked"/>
                        {{# } else { }}
                            <input class="filled-in" type="checkbox" value="{{ c.id }}" id="category-{{ c.id }}"/>
                        {{# } }}
                        <label for="category-{{c.id}}">{{ c.name }}</label>
                    </p>
                {{# }); }}
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light waves-effect btn change-category">Choose</button>
        <button class="modal-action modal-close waves-effect waves-cw-blue btn-flat">Cancel</button>
    </div>
</div>
{% endverbatim %}
