<p>
    {{ user.profile.followers.count }} Follower{{ user.profile.followers.count|pluralize }}
</p>
{% for follower in user.profile.followers.all %}
    <div class="col s12 m6">
        <div
        class="user-chip chip white"
        id="userchip-{{ follower.user.username }}"
        >
        <div class="user-chip-contents">
            <img
            src="{{ follower.profile_image_url }}"
            alt="Contact Person"
            />
            <a href="/profile/{{ follower.user.username }}/">
            <div class="name">
                {{ follower.first_name}} {{ follower.last_name }}
            </div>
            <div class="light-gray-text atname">
                @{{ follower.user.username }}
            </div>
            </a>
        </div>
        <div class="user-card-template">
            <div
            class="user-card card"
            id="usercard-{{ follower.user.username }}"
            >
            <div class="top">
                <div class="profile_image">
                <div class="medium-image-cropper">
                    <a href="/profile/{{ follower.user.username }}/">
                    <img
                        src="{{ follower.profile_image_url }}"
                        alt="profile image"
                        class="responsive-img"
                    />
                    </a>
                </div>
                </div>
                <a href="/profile/{{ follower.user.username }}/" class="name">
                {{ follower.first_name }} {{ follower.last_name }}
                </a>
                <div class="username">
                <a href="/profile/{{ follower.user.username }}">
                    @{{ follower.user.username }}
                </a>
                </div>
            </div>
            <div class="bottom">
                <div class="about-me center-block">
                {{ follower.about_me }}
                </div>
            </div>
            {% if follower not in request.user.profile.followers.all %}
            <div class="buttons row">
                <a
                class="waves-effect waves-light btn follow-btn col s12"
                data-userid="{{ follower.id }}"
                data-username="{{ follower.user.username }}">
                Follow
                </a>
            </div>
            {% else %}
            <div class="buttons row">
                <a
                class="waves-effect waves-light btn follow-btn col s12 btn-secondary unfollow-btn"
                data-userid="{{ follower.id }}"
                data-username="{{ follower.user.username }}"
                ></a>
            </div>
            {% endif %}
            </div>
        </div>
        </div>
        </div>
        {% empty %}
        <div class="section no-state">
        <div class="container">
            <div class="section">
            <div class="center title-lato grey-text">No followers</div>
            </div>
        </div>
    </div>
{% endfor %}
