<p>{{ user.profile.following.count }} Following</p>
{% for following in user.profile.following.all %}
    <div class="col s12 m6">
        <div class="user-chip chip white">
        <div class="user-chip-contents">
            <img
            src="{{ following.profile_image_url }}"
            alt="Contact Person"
            />
            <a href="/profile/{{ following.user.username }}/">
            <div class="name">
                {{ following.first_name}} {{ following.last_name }}
            </div>
            <div class="light-gray-text atname">
                @{{ following.user.username }}
            </div>
            </a>
        </div>
        <div class="user-card-template">
            <div class="user-card card">
            <div class="top">
                <div class="profile_image">
                <div class="medium-image-cropper">
                    <a href="/profile/{{ following.user.username }}/">
                    <img
                        src="{{ following.profile_image_url }}"
                        alt="profile image"
                        class="responsive-img"
                    />
                    </a>
                </div>
                </div>
                <a
                href="/profile/{{ following.user.username }}/"
                class="name"
                >
                {{ following.first_name }} {{ following.last_name }}
                </a>
                <div class="username">
                <a href="/profile/{{ following.user.username }}">
                    @{{ following.user.username }}
                </a>
                </div>
            </div>
            <div class="bottom">
                <div class="about-me center-block">
                {{ following.about_me }}
                </div>
            </div>
            {% if following not in request.user.profile.followers.all %}
            <div class="buttons row">
                <a
                class="waves-effect waves-light btn follow-btn col s12"
                data-userid="{{ following.id }}"
                data-username="{{ following.user.username }}"
                >
                Follow
                </a>
            </div>
            {% else %}
            <div class="buttons row">
                <a
                class="waves-effect waves-light btn follow-btn col s12 btn-secondary unfollow-btn"
                data-userid="{{ following.id }}"
                data-username="{{ following.user.username }}"
                ></a>
            </div>
            {% endif %}
            </div>
        </div>
        </div>
        </div>
        {% empty %}
        <div class="section no-state">
        <div class="container">
            <div class="section">
            <div class="center title-lato grey-text">
                Not following any users
            </div>
            </div>
        </div>
        </div>
{% endfor %}
