@import 'base';

html {
    overflow: hidden;
}

#account {
    .account-settings {
        .description {
            .input-field {
                margin-bottom: 40px;
            }
        }
    }

    .account-tabs {
        .tabs .tab a {
            color: @purple;
        }

        .tabs .indicator {
            background-color: @purple;
        }
    }
}
