{% verbatim %}
<nav>
    <div class="nav-wrapper">
      <ul class="center-block">
        <li><a href="" class="category-item active">All</a></li>
        <li><a href="" class="category-item">Public Safety</a></li>
        <li><a href="" class="category-item">Environment</a></li>
        <li><a href="" class="category-item">Health</a></li>
      </ul>
      <div class="category-button right">
          <button class="btn waves-effect waves-light"><i class="tiny material-icons left">apps</i>MANAGE</button>
      </div>
    </div>
</nav>
<div class="content">
    <div class="container">
        <div class="row section">
            <div class="col s4">
                <div class="row center">
                    <div class="new-thread-wrapper center-block">
                            <div class="subtitle-lato">
                                Can't find the Issue that you're interested in?
                            </div>
                            <button class="new-thread btn waves-effect modal-trigger ">
                                <i class="material-icons left">note_add</i>
                                New Thread
                            </button>
                    </div>
                    <div class="issue-list container">
                        <div class="section">
                            <div class="list-title subtitle-lato">
                                <i class="mini material-icons">trending_up</i> Trending Issues
                            </div>
                            <div class="divider"></div>
                            <div class="list">
                                <div class="list-item link-lato left-align">A Trending Issue with Lots of Activity</div>
                                <div class="list-item link-lato left-align">Another Trending Issue with Lots of Activity</div>
                                <div class="list-item link-lato left-align">Controversial Issue with Deep Discussion</div>
                                <div class="list-item link-lato left-align">An Issue That is Very Important</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col s8">
                <div class="sort-options row">
                    <div class="options">
                        <span class="active">Recommended</span>
                        <span >Top</span>
                        <span>New</span>
                    </div>
                </div>
                <div class="list">
                    <div class="issue-item card white z-index-1">
                        <div class="picture" ></div>
                        <div class="content">
                            <div class="gray-text">
                                Public Safety
                            </div>
                            <div class="subtitle-lato">
                                Example Title
                            </div>
                            <div class="text">
                                Example content goes in here that is basically the summary for the particular issue article. ABC 123 This is an example card for an article
                            </div>
                            <div class="issue-stats">
                                <div class="stat">
                                    <div class="number">999</div>
                                    <div class="description">VIEWS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">123</div>
                                    <div class="description">CIVIS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">42</div>
                                    <div class="description">SOLUTIONS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="issue-item card white z-index-1">
                        <div class="picture" ></div>
                        <div class="content">
                            <div class="gray-text">
                                Public Safety
                            </div>
                            <div class="subtitle-lato">
                                Example Title
                            </div>
                            <div class="text">
                                Example content goes in here that is basically the summary for the particular issue article. ABC 123 This is an example card for an article
                            </div>
                            <div class="issue-stats">
                                <div class="stat">
                                    <div class="number">999</div>
                                    <div class="description">VIEWS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">123</div>
                                    <div class="description">CIVIS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">42</div>
                                    <div class="description">SOLUTIONS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="issue-item card white z-index-1">
                        <div class="picture" ></div>
                        <div class="content">
                            <div class="gray-text">
                                Public Safety
                            </div>
                            <div class="subtitle-lato">
                                Example Title
                            </div>
                            <div class="text">
                                Example content goes in here that is basically the summary for the particular issue article. ABC 123 This is an example card for an article
                            </div>
                            <div class="issue-stats">
                                <div class="stat">
                                    <div class="number">999</div>
                                    <div class="description">VIEWS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">123</div>
                                    <div class="description">CIVIS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">42</div>
                                    <div class="description">SOLUTIONS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="issue-item card white z-index-1">
                        <div class="picture" ></div>
                        <div class="content">
                            <div class="gray-text">
                                Public Safety
                            </div>
                            <div class="subtitle-lato">
                                Example Title
                            </div>
                            <div class="text">
                                Example content goes in here that is basically the summary for the particular issue article. ABC 123 This is an example card for an article
                            </div>
                            <div class="issue-stats">
                                <div class="stat">
                                    <div class="number">999</div>
                                    <div class="description">VIEWS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">123</div>
                                    <div class="description">CIVIS</div>
                                </div>
                                <div class="vert-divider"></div>
                                <div class="stat">
                                    <div class="number">42</div>
                                    <div class="description">SOLUTIONS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="new-thread-modal-holder">
</div>
{% endverbatim %}
