{% verbatim %}
<div class="">
    <div class="row issue-item">
        <div class="thread-image col s3">
            <div class="thread-image-wrapper">
                <div class="placeholder"><i class="material-icons">image</i></div>
            </div>
        </div>
        <div class="content col s9">
            <div class="thread-category">{{= categories[thread_data.thread.category_id].name }}</div>
            <a href="thread/{{thread_data.thread.id}}">
                <div class="thread-title">{{ thread_data.thread.title }}</div>
                <div class="thread-summary">{{ thread_data.thread.summary }}</div>
            </a>
            <div class="issue-stats">
                <div class="stat">
                    <div class="number">{{ thread_data.stats.num_views }}</div>
                    <div class="description">VIEWS</div>
                </div>
                <div class="vert-divider"></div>
                <div class="stat">
                    <div class="number">{{ thread_data.stats.num_civis }}</div>
                    <div class="description">CIVIS</div>
                </div>
                <div class="vert-divider"></div>
                <div class="stat">
                    <div class="number">{{ thread_data.stats.num_solutions }}</div>
                    <div class="description">SOLUTIONS</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
